{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link_master = {
  "main" : "https://twitter.com/i/live/839923263773921280?ref_src=twsrc%5Eemail%7Ctwcamp%5EMLB",
  "main_2" : "https://twitter.com/i/live/807361386695135233?ref_src=twsrc%5Eemail%7Ctwcamp%5EPGA",
  "main_3" : "https://twitter.com/i/live/839923263773921280?ref_src=twsrc%5Eemail%7Ctwcamp%5EMLB",
  "weekly" : "https://twitter.com/i/live/807361386695135233?ref_src=twsrc%5Eemail%7Ctwcamp%5EPGA",
  "weekly_2" : "https://twitter.com/i/live/836709389494968325?ref_src=twsrc%5Eemail%7Ctwcamp%5ENLL",
  "weekly_3" : "https://twitter.com/i/live/789516242163859457?ref_src=twsrc%5Eemail%7Ctwcamp%5Enbathestarters%7Ctwgr%5Enewsletter",
  "weekly_4" : "https://twitter.com/i/live/765339035866804224?ref_src=twsrc%5Eemail%7Ctwcamp%5ERally"
} %}

{% set link = {
  "logo" : "https://twitter.com/",
  "main" : {
    "table" : link_master.main,
    "copy" : link_master.main,
    "cta" : link_master.main,
    "cta_2" : link_master.main,
    "team_1" : "https://twitter.com/redsox",
    "team_2" : "https://twitter.com/orioles"
  },
  "main_2" : {
    "image" : link_master.main_2,
    "cta" : link_master.main_2
  },
  "main_3" : {
    "image" : link_master.main_3,
    "cta" : link_master.main_3
  },
  "weekly" : {
    "image" : link_master.weekly,
    "cta" : link_master.weekly
  },
  "weekly_2" : {
    "image" : link_master.weekly_2,
    "cta" : link_master.weekly_2
  },
  "weekly_3" : {
    "image" : link_master.weekly_3,
    "cta" : link_master.weekly_3
  },
  "weekly_4" : {
    "image" : link_master.weekly_4,
    "cta" : link_master.weekly_4
  },
  "help" : "https://support.twitter.com/",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {
  "subject" : [
    "@{{screen_name}}, you've got to see what's happening LIVE this week"
  ],
  "preheader" : "Watch it. Talk about it. Only on Twitter.",
  "hashtag" : "Streaming LIVE on Twitter",
  "cta" : "Watch LIVE on",
  "main" : {
    "title" : "MLB: @RaysBaseball vs @RedSox",
    "copy" : [
      "Friday, May 12 | 7:05pm ET",
      "Catch the action LIVE from Fenway, as the Boston Red Sox host the Tampa Bay Rays.",
      "Watch it. Talk about it.",
      "Major League Baseball trademarks and copyrights are used with permission of MLB Advanced Media, L.P.  All rights reserved."
    ],
    "alt" : "#BREAKING2 | NIKE | nikebreaking2.twitter.com",
    "alt_2" : "Watch it. Talk about it.",
    "cta" : "Watch LIVE on"
  },
  "main_2" : {
    "title" : "PGA TOUR LIVE: Wells&nbsp;Fargo&nbsp;Championship",
    "date" : "Thursday/Friday, May 4 & 5 | 7am ET",
    "copy" : "The PGA returns to Wilmington, NC, for the first time since 1971.",
    "alt" : "PGA: Wells Fargo Championship",
    "cta" : "Watch LIVE on"
  },
  "main_3" : {
    "title" : "MLB: @Nationals at @Phillies",
    "date" : "Friday, May 5 | 7:05pm ET<span class='hide'><br>&nbsp;</span>",
    "copy" : "Washington and Philadelphia players square off in the first game of a weekend series.",
    "alt" : "MLB: @Nationals at @Phillies",
    "cta" : "Watch LIVE on"
  },
  "weekly_header" : "Your Weekly Watch List",
  "weekly_sub" : "Catch up on your favorite #LIVE shows",
  "weekly" : {
    "title" : "PGA: The Players Championship",
    "date" : "Thursday/Friday, May 11 & 12 | 7:30am ET",
    "copy" : "Don't miss Jason Day's return to TPC Sawgrass to defend his title.",
    "alt" : "PGA: The Players Championship",
    "cta" : "Watch LIVE on"
  },
  "weekly_2" : {
    "title" : "MLL: Rochester vs Boston",
    "date" : "Saturday, May 13 | 6:45pm ET",
    "copy" : "Harvard Stadium becomes a lacrosse pitch as the Rochester Rattlers face off against the Boston Cannons.",
    "alt" : "MLL: Rochester vs. Boston",
    "cta" : "Watch LIVE on"
  },
  "weekly_3" : {
    "title" : "The Starters Twitter Show",
    "date" : "Tuesdays | 11am ET",
    "copy" : "Your go-to show for all things NBA, now that the second round of playoffs are underway.",
    "alt" : "The Starters Twitter Show",
    "cta" : "Watch LIVE on"
  },
  "weekly_4" : {
    "title" : "The Rally",
    "date" : "Monday-Friday | 9pm ET",
    "copy" : "Sports highlights, look-ins, and commentary.",
    "alt" : "The Rally",
    "cta" : "Watch LIVE on"
  },
  "footer" : ["Help", "Settings", "Unsubscribe", "Download App"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}
Subject: {{ i10n(pt(copy.subject[0])) }}

{{ i10n(pt(copy.hashtag)) }}

=

{{ i10n(pt(copy.main.title)) }}

{{ i10n(pt(copy.main.copy[0])) }}
{{ i10n(pt(copy.main.copy[1])) }}
{{ i10n(pt(copy.main.copy[2])) }}

{{ i10n(pt(copy.main.cta)) }} Twitter
{{ "> " + link.main.cta }}

{{ i10n(pt(copy.main.copy[3])) }}

{#

=

{{ i10n(pt(copy.main_2.title)) }}
{{ i10n(pt(copy.main_2.date)) }}
{{ i10n(pt(copy.main_2.copy)) }}

{{ i10n(pt(copy.main_2.cta)) }} Twitter
{{ "> " + link.main_2.cta }}

=

{{ i10n(pt(copy.main_3.title)) }}
{{ i10n(pt(copy.main_3.date)) }}
{{ i10n(pt(copy.main_3.copy)) }}

{{ i10n(pt(copy.main_3.cta)) }} Twitter
{{ "> " + link.main_3.cta }}

#}=

{{ i10n(pt(copy.weekly_header)) }}
{{ i10n(pt(copy.weekly_sub)) }}

=

{{ i10n(pt(copy.weekly.title)) }}
{{ i10n(pt(copy.weekly.date)) }}
{{ i10n(pt(copy.weekly.copy)) }}

{{ i10n(pt(copy.weekly.cta)) }} Twitter
{{ "> " + link.weekly.cta }}

=

{{ i10n(pt(copy.weekly_2.title)) }}
{{ i10n(pt(copy.weekly_2.date)) }}
{{ i10n(pt(copy.weekly_2.copy)) }}

{{ i10n(pt(copy.weekly_2.cta)) }} Twitter
{{ "> " + link.weekly_2.cta }}

=

{{ i10n(pt(copy.weekly_3.title)) }}

{{ i10n(pt(copy.weekly_3.date)) }}

{{ i10n(pt(copy.weekly_3.copy)) }}

{{ i10n(pt(copy.weekly_3.cta)) }} 
{{ "> " + link.weekly_3.cta }}

=

{{ i10n(pt(copy.weekly_4.title)) }}

{{ i10n(pt(copy.weekly_4.date)) }}

{{ i10n(pt(copy.weekly_4.copy)) }}

{{ i10n(pt(copy.weekly_4.cta)) }} 
{{ "> " + link.weekly_4.cta }}

=

{{ i10n(copy.footer[0]) }} 
{{ "> " + link.help }}

{{ i10n(copy.footer[1]) }} 
{{ "> " + link.settings }}

{{ i10n(copy.footer[2]) }} 
{{ "> {{ unsubscribe }}" }}

{{ i10n(copy.footer[3]) }} 
{{ "> " + link.download }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}