{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link_master = {
  "main" : "https://twitter.com/i/live/847216698398658560?ref_src=twsrc%5EEmail%7Ctwcamp%5EIGN",
  "main_2" : "https://twitter.com/i/live/864584878926348289?ref_src=twsrc%5EEmail%7Ctwcamp%5EXBox",
  "main_3" : "https://twitter.com/i/live/847216698398658560?ref_src=twsrc%5EEmail%7Ctwcamp%5EIGN",
  "weekly" : "https://twitter.com/i/live/847216698398658560?ref_src=twsrc%5EEmail%7Ctwcamp%5EIGN",
  "weekly_2" : "https://twitter.com/i/live/866753258169057280?ref_src=twsrc%5EEmail%7Ctwcamp%5EMTG_Dreamhack",
  "weekly_3" : "",
  "weekly_4" : ""
} %}

{% set link = {
  "logo" : "https://twitter.com/",
  "main" : {
    "table" : link_master.main,
    "copy" : link_master.main,
    "cta" : link_master.main,
    "cta_2" : link_master.main,
    "team_1" : "",
    "team_2" : ""
  },
  "main_2" : {
    "image" : link_master.main_2,
    "cta" : link_master.main_2
  },
  "main_3" : {
    "image" : link_master.main_3,
    "cta" : link_master.main_3
  },
  "weekly" : {
    "image" : link_master.weekly,
    "cta" : link_master.weekly
  },
  "weekly_2" : {
    "image" : link_master.weekly_2,
    "cta" : link_master.weekly_2
  },
  "weekly_3" : {
    "image" : link_master.weekly_3,
    "cta" : link_master.weekly_3
  },
  "weekly_4" : {
    "image" : link_master.weekly_4,
    "cta" : link_master.weekly_4
  },
  "about" : "https://about.twitter.com/company",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {
  "subject" : [
    ""
  ],
  "preheader" : "",
  "hashtag" : "Streaming LIVE on Twitter",
  "cta" : "Watch LIVE on",
  "main" : {
    "title" : "E3: Live coverage via IGN",
    "copy" : [
      "Saturday, June 10 l 2:00pm ET",
      "It's the biggest virtual event of the year. And you'll be virtually there.",
      "Watch it. Talk about it."
    ],
    "alt" : "E3: Live coverage via IGN",
    "alt_2" : "Watch it. Talk about it.",
    "cta" : "Watch LIVE on"
  },
  "main_2" : {
    "title" : "Xbox E3 2017 Briefing",
    "date" : "Sunday, June 11 l 5:00pm ET",
    "copy" : "Watch live, along with the world, as Xbox unveils what's next.",
    "alt" : "PGA TOUR LIVE: The Memorial Tournament",
    "cta" : "Watch LIVE on"
  },
  "main_3" : {
    "title" : "#E32017",
    "date" : "Monday, June 12 l 3:00pm ET",
    "copy" : "IGN brings you coverage all day, everyday, so don't miss a minute.",
    "alt" : "#E32017",
    "cta" : "Watch LIVE on"
  },
  "weekly_header" : "Your Watch List",
  "weekly_sub" : "Catch up on your favorite #LIVE shows",
  "weekly" : {
    "title" : "#E32017",
    "date" : "Tuesday - Thursday",
    "copy" : "Epic moments, game demos and interviews as they happen. ",
    "alt" : "#E32017",
    "cta" : "Watch LIVE on"
  },
  "weekly_2" : {
    "title" : "DreamHack Summer",
    "date" : "Saturday - Monday",
    "copy" : "DreamHack Summer, FTW!",
    "alt" : "DreamHack Summer",
    "cta" : "Watch LIVE on"
  },
  "footer" : ["About", "Settings", "Unsubscribe", "Download App"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}


Subject: {{ i10n(pt(copy.subject[0])) }}

{{ i10n(pt(copy.hashtag)) }}

=

{{ i10n(pt(copy.main.title)) }}

{{ i10n(pt(copy.main.copy[0])) }}
{{ i10n(pt(copy.main.copy[1])) }}

{{ i10n(pt(copy.main.cta)) }} Twitter
{{ "> " + link.main.cta }}

=

{{ i10n(pt(copy.main_2.title)) }}
{{ i10n(pt(copy.main_2.date)) }}
{{ i10n(pt(copy.main_2.copy)) }}

{{ i10n(pt(copy.main_2.cta)) }} Twitter
{{ "> " + link.main_2.cta }}

=

{{ i10n(pt(copy.main_3.title)) }}
{{ i10n(pt(copy.main_3.date)) }}
{{ i10n(pt(copy.main_3.copy)) }}

{{ i10n(pt(copy.main_3.cta)) }} Twitter
{{ "> " + link.main_3.cta }}

=

{{ i10n(pt(copy.weekly_header)) }}
{{ i10n(pt(copy.weekly_sub)) }}

=

{{ i10n(pt(copy.weekly.title)) }}
{{ i10n(pt(copy.weekly.date)) }}
{{ i10n(pt(copy.weekly.copy)) }}

{{ i10n(pt(copy.weekly.cta)) }} Twitter
{{ "> " + link.weekly.cta }}

=

{{ i10n(pt(copy.weekly_2.title)) }}
{{ i10n(pt(copy.weekly_2.date)) }}
{{ i10n(pt(copy.weekly_2.copy)) }}

{{ i10n(pt(copy.weekly_2.cta)) }} Twitter
{{ "> " + link.weekly_2.cta }}

=

{{ i10n(copy.footer[0]) }}
{{ "> " + link.about }}

{{ i10n(copy.footer[1]) }}
{{ "> " + link.settings }}

{{ i10n(copy.footer[2]) }}
{{ "> {{ unsubscribe }}" }}

{{ i10n(copy.footer[3]) }}
{{ "> " + link.download }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}
