{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "https://twitter.com",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "help" : "https://support.twitter.com/"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "Subject line varies",
  "alt_logo" : "Twitter",
  "headline" : "We’d like to hear your thoughts.",
  "body" : "You’ve been selected to participate in a survey about your experience on Twitter. It should take about 5-10 minutes to complete.",
  "body_2" : "The feedback you provide helps us make Twitter better for everyone. Thanks for your time.",
  "cta" : "Take survey",
  "footer" : ["Help", "Unsubscribe", "Settings"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter {{ "<" + trackm(link.logo,1) + ">" }}

=
  
{{ i10n(copy.headline) }}

{{ i10n(copy.body) }}

{{ i10n(copy.body_2) }}

{{ i10n(copy.cta) }} {{ "<" + track(link.cta,1) + ">" }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.help,2) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + link.unsubscribe + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<" + trackm(link.settings,2) + ">" }}

{{ copy.address }}