{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "Your Twitter password has been changed",
  "alt_logo" : "Twitter",
  "headline" : "Final step...",
  "body" : "Confirm your email address to complete your Twitter account @{{#recipient}}{{screen_name}}{{/recipient}}. It's easy &mdash; just click the button below.",
  "cta" : "Confirm now",
  "footer" : ["Settings", "Help", "Unsubscribe", "Not my account"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "{{confirm_code_button}}",
  "settings" : "https://twitter.com/settings",
  "help" : "https://support.twitter.com/",
  "opt_out" : "{{unsubscribe}}",
  "not_my_account" : "{{not_my_account}}"
} %}

Subject: {{ i10n(copy.subject_line) }} 

Twitter {{ "<" + track(link.logo,1) + ">" }}

=
  
{{ i10n(copy.headline) }}

=

{{ i10n(copy.body) }}

{{ i10n(copy.cta) }} {{ "<" + track(link.cta,2) + ">" }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.settings,3) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,4) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<"+link.opt_out+">" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.not_my_account,5) + ">" }}

{{ copy.address }}