{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "Your Twitter password has been changed",
  "alt_logo" : "Twitter",
  "headline" : "You recently changed the password associated with your account @{{#recipient}}{{screen_name}}{{/recipient}}.",
  "body" : "If you did not make this change and believe your Twitter account has been compromised, please <a href=\"{{#tl2}}https://support.twitter.com/forms/hacked{{/tl2}}\">contact support</a>.",
  "body_2" : "How do I know an email is from Twitter?",
  "body_3" : "Links in this email will start with “https&#65279;://” and contain “twitter&#65279;.&#65279;com” Your browser will also display a padlock icon to let you know a site is secure.",
  "footer" : ["Help", "Not my account", "Email security tips"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "https://twitter.com/account/begin_password_reset",
  "settings" : "https://twitter.com/settings",
  "help" : "https://support.twitter.com/",
  "not_my_account" : "{{not_my_account}}",
  "email_security_tips" : "https://support.twitter.com/articles/204820-fake-twitter-emails"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter {{ "<" + track(link.logo,1) + ">" }}

=
  
{{ i10n(copy.headline) }}

{{ i10n(copy.body) }} {{ "<{{#tl2}}{{account_compromised_no_redirect}}{{/tl2}}>" }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.not_my_account,4) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<" + track(link.email_security_tips,5) + ">" }}

{{ copy.address }}