{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "main_user" : "https://twitter.com/{{#recipient}}{{screen_name}}{{/recipient}}",
  "cta" : "https://twitter.com/account/begin_password_reset",
  "settings" : "https://twitter.com/settings",
  "help" : "https://support.twitter.com/",
  "not_my_account" : "{{not_my_account}}",
  "email_security_tips" : "https://support.twitter.com/articles/204820-fake-twitter-emails"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "For security purposes, your Twitter account has been locked.",
  "alt_logo" : "Twitter",
  "headline" : "Your account may have been compromised by a website or service not associated with Twitter.",
  "body" : "We’ve locked your account <a href=\"" + trackm(link.main_user,1) + "\">@{{#recipient}}{{screen_name}}{{/recipient}}</a> to keep it safe. In order to log back in, you must change your password.",
  "body_2" : "How do I know an email is from Twitter?",
  "body_3" : "Links in this email will start with “https&#65279;://” and contain “twitter&#65279;.&#65279;com” Your browser will also display a padlock icon to let you know a site is secure.",
  "cta" : "Reset password",
  "footer" : ["Help", "Not my account", "Email security tips"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter {{ "<" + track(link.logo,1) + ">" }}

=
  
{{ i10n(copy.headline) }}

{{ i10n(copy.body) }}

{{ i10n(copy.cta) }} {{ "<" + track(link.cta,2) + ">" }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.not_my_account,4) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<" + track(link.email_security_tips,5) + ">" }}

{{ copy.address }}