{% extends "includes/layout.html" %}
{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "api_support" : "https://support.twitter.com/forms/platform?cn=dGVzdF92YXJpYWJsZXM%3D"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "Application notice",
  "alt_logo" : "Twitter",
  "body" : [
    "This is a notice that your application, {{application_name}}, is no longer allowed to perform write operations.",
    "Please make sure that your application follows Twitter's API <a href='{{api_terms}}'>Terms of Service</a>.",
    "To request that your application be re-enabled for write operations, please visit our <a href='" + track(link.api_support,2)+ "'>support form</a>.",
    "While this restriction is still in place, please do not attempt to register a new API key for your application without authorization from Twitter. Such an action is a violation of our API Terms of Service and may result in the permanent suspension of your application (as well as any associated developer accounts)."
    ],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# COLOR LOGIC #}
{% set color_hex = colors[color].hex %}
{% set color_css = colors[color].css %}
{% set color_icon = colors[color].icons[icon_type] %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "icon_twitter_blue.png"
} %}

{# CSS #}
{% block style %}
    a {
      color: #1DA1F2;
      text-decoration: none;
    }

    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight: bold; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="image empty" align="{{ align('right') }}">
                    <a href="{{ trackm(link.logo,1) }}">
                      <img src="{{ img.logo_twitter }}" width="32" alt="{{ copy.alt_logo }}" title="{{ copy.alt_logo }}" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[1]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[2]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[3]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td class="empty" height="1">
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" class="width_full" bgcolor="#ffffff">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
    {#<tr class="hide">
      <td class="empty hide" height="32">
        &nbsp;
      </td>
    </tr>#}
  </table>
{% endblock %}