{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "{{#lang_en}}@{{screen_name}}, watch the 2017 Inauguration LIVE on Twitter{{/lang_en}}{{^lang_en}}@{{screen_name}}, watch the 2017 U.S. Presidential Inauguration LIVE on Twitter{{/lang_en}}",
  "preheader" : "{{#lang_en}}#DayOne is Here. See What's Happening{{/lang_en}}{{^lang_en}}#DayOne for Donald J. Trump is Here. See What's Happening{{/lang_en}}",
  "alt_hero" : "#DayOne | Streaming LIVE on Twitter | Friday, January 20 | 11am ET | @NewsHour | inauguration.twitter.com | #inauguration",
  "headline_1" : "PBS NewsHour and Twitter present the",
  "headline_2" : "Inauguration of Donald J. Trump",
  "body" : "#DayOne for Donald J. Trump, the 45th president of the United States. Join PBS NewsHour, in partnership with Twitter, for special live-stream coverage of Inauguration Day 2017, anchored by managing editor Judy Woodruff, with NewsHour correspondents John Yang and Lisa Desjardins. Witness the swearing-in of President-elect Trump. Participate in the inaugural address, the parade, and the arrival of the first family at the White House with Twitter, the most immediate news source in the world.",
  "body_uk" : [
    "#DayOne for Donald J. Trump, the 45th president of the United States. Join PBS NewsHour, in partnership with Twitter, for special live-stream coverage of Inauguration Day 2017.",
    "Witness the swearing-in of President-elect Trump. Participate in the inaugural address, the parade, and the arrival of the first family at the White House with Twitter, the most immediate news source in the world."
  ],
  "cta" : "Watch LIVE on",
  "sub_1" : "Inauguration of Donald J. Trump",
  "sub_2" : "Friday, January 20  |  11am ET",
  "sub_3" : "Follow @NewsHour",
  "sub_4" : "inauguration.twitter.com",
  "alt_pbs" : "PBS Newshour",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/807346862592139264?ref_src=twsrc%5Eemail%7Ctwcamp%5EInauguration",
  "cta" : "https://twitter.com/i/live/807346862592139264?ref_src=twsrc%5Eemail%7Ctwcamp%5EInauguration",
  "text" : "https://twitter.com/newshour",
  "text_2" : "https://twitter.com/i/live/807346862592139264?ref_src=twsrc%5Eemail%7Ctwcamp%5EInauguration",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}
{{ i10n(copy.alt_hero) }} {{ "<" + track(link.hero,1) + ">" }}

{{ i10n(copy.headline_1) }}
{{ i10n(copy.headline_2) }}

{{ mustache("{{#lang_en}}") }}
{{ i10n(copy.body) }}
{{ mustache("{{/lang_en}}") }}
{{ mustache("{{^lang_en}}") }}
{{ i10n(copy.body_uk[0]) }}

{{ i10n(copy.body_uk[1]) }}
{{ mustache("{{/lang_en}}") }}

{{ i10n(copy.cta) }} Twitter {{ "<" + track(link.cta,2) + ">" }}

{{ i10n(copy.alt_pbs) }}

{{ i10n(copy.sub_1) }}
{{ i10n(copy.sub_2) }} {{ "<" + track(link.text,3) + ">" }}
{{ i10n(copy.sub_3) }} {{ "<" + track(link.text_2,4) + ">" }}
{{ i10n(copy.sub_4) }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,5) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,6) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.download,7) + ">" }}

{{ copy.address }}