{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "Subject Line",
  "alt_hero" : "Don't miss this. Watch LIVE on Twitter.",
  "headline_1" : "Live on Twitter: @PumasMX vs.&nbsp;@Xolos",
  "headline_2" : "2017 Liga MX Twitter Live Stream&nbsp;Schedule",
  "body" : "Step up your game and watch Liga MX, Mexico’s premier fútbol league, live for the first time on Twitter, in English. 90 minutes of heated rivalries, pyrotechnic footwork, and GOL GOL GOL GOL GOL GOL….GOOOAAALLLL! Tune in and feel the love when you Tweet Odiame Mas. #your90minutes start here. #LigaMX on Twitter. It’s Happening.",
  "body_2" : "@UnivisionSports | ligamx.twitter.com",
  "cta" : "Watch LIVE on",
  "alt_schedule" : "LigaMX on Twitter - Feb 19 - Pumas UNAM vs Club Tijuana / Feb 25 - Tigres vs Monarcas Morelia / Mar 4 - Cruz Azul vs Chiapas F.C. / Mar 12 - Toluca vs Cruz Azul / Mar 18 - Cruz Azul vs Tigres / Apr 1 - Tigres vs León / Apr 9 - Santos Laguna vs Pachuca / Apr 16 - Puebla vs Cruz Azul / Apr 22 - Monterrey vs Tigres / Apr 30 - Toluca vs Querétaro / May 7 - Pumas UNAM vs Puebla",
  "alt_ligamx" : "LigaMX",
  "alt_univision" : "Univision Deportes",
  "alt_logo" : "Twitter",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# COLOR LOGIC #}
{% set color_hex = colors[color].hex %}
{% set color_css = colors[color].css %}
{% set color_icon = colors[color].icons[icon_type] %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo-1475170569504.png",
  "icon_camera_video" : prefix_img + "icon_camera_video-1481157796076.png",
  "hero" : prefix_img + "cm_20170219_ligamx_hero-1487028239809.jpg",
  "schedule" : prefix_img + "cm_20170219_ligamx_schedule-1487028239841.jpg",
  "spacer" : prefix_img + "spacer_650x265-1481056487262.png",
  "spacer_1" : prefix_img + "spacer_650x1-1481059174655.png",
  "logo_ligamx" : prefix_img + "logo_ligamx-1487028239827.png",
  "logo_univision" : prefix_img + "logo_univision_deportes-1487028239841.png",
  "logo_twitter_large" : prefix_img + "logo_twitter_large-1487028239841.png"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/807346862592139264?ref_src=twsrc%5Eemail%7Ctwcamp%5EInauguration",
  "cta" : "https://twitter.com/i/live/807346862592139264?ref_src=twsrc%5Eemail%7Ctwcamp%5EInauguration",
  "text" : "https://twitter.com/newshour",
  "text_2" : "https://twitter.com/i/live/807346862592139264?ref_src=twsrc%5Eemail%7Ctwcamp%5EInauguration",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# CSS #}
{% block style %}
    .h3 {
      font-size: 22px;
      line-height: 26px;
    }

    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:600; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }
{% endblock %}

{% block media_query %}
        .iosBlue a {
          text-decoration: underline;
          } 

        .width_full {
          width: 100% !important;
        }

        #hero {
          background-image: url({{ img.hero }}) !important;
          background-size: cover !important; 
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty image">
        <a href="{{ track(link.hero,1) }}">
          <img src="{{ img.hero }}" width="640" class="width_full" title="{{ i10n(copy.alt_hero) }}" alt="{{ i10n(copy.alt_hero) }}" />
        </a>
      </td>
    </tr>
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty center" align="center">
                    <img src="{{ img.icon_camera_video }}" height="30" />
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h3 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline_1) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="center" class="button center" bgcolor="#1DA1F2" dir="{{ dir('ltr') }}">
                          <a href="{{ track(link.cta,2) }}" target="_blank" class="button nowrap">
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            {{ i10n(copy.cta) }}&nbsp;<img src="{{ img.logo_twitter }}" height="16" />
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_2) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h3 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline_2) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td class="empty image" align="center">
        <a href="{{ track(link.hero,1) }}">
          <img src="{{ img.schedule }}" width="460" class="width_full" title="{{ i10n(copy.alt_schedule) }}" alt="{{ i10n(copy.alt_schedule) }}" />
        </a>
      </td>
    </tr>
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty">
                    <table align="center">
                      <tr>
                        <td class="empty center" align="center">
                          <img src="{{ img.logo_ligamx }}" height="40" title="{{ i10n(copy.alt_ligamx) }}" alt="{{ i10n(copy.alt_ligamx) }}"/>
                        </td>
                        <td class="empty" width="20">
                          &nbsp;
                        </td>
                        <td class="empty center" align="center">
                          <img src="{{ img.logo_univision }}" height="32" title="{{ i10n(copy.alt_univision) }}" alt="{{ i10n(copy.alt_univision) }}"/>
                        </td>
                        <td class="empty" width="20">
                          &nbsp;
                        </td>
                        <td class="empty center" align="center">
                          <img src="{{ img.logo_twitter_large }}" height="30" title="{{ i10n(copy.alt_logo) }}" alt="{{ i10n(copy.alt_logo) }}"/>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f5f8fa" width="640" class="width_full">
          <!--[if gte mso 9]>
          <tr>
            <td colspan="3" align="center">
              <img src="{{ img.spacer_1 }}" width="640" />
            </td>
          </tr>
          <![endif]-->
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.about,5) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.help,6) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ '{{ unsubscribe }}' }}" class="blue">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.download,7) }}" class="blue">
                      {{ i10n(copy.footer[3]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}