{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "@{{screen_name}}, receive a $5 gift code for your feedback!",
  "alt_logo" : "Twitter",
  "headline" : "We’d like to hear your thoughts",
  "body" : [
    "Thank you for being part of Twitter! You’ve been selected to take part in a short research study about how you use Twitter and everyday life. It should take approximately 10-15 minutes to complete and as a token of appreciation, we’d like to offer you a $5 Amazon Gift code for completing the survey.",
    "Your opinions help us make Twitter better for everyone. Thanks for your time.",
    "You should receive the code 5-10 business days after completing the survey. If you have any questions or problems with receive the Gift Code, please contact invite@murphysurvey.com"
    ],
  "cta" : "Take part",
  "footer" : ["Settings", "Help", "Unsubscribe"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103",
  "address_2" : "Twitter International Company, The Academy, 42 Pearse Street, Dublin 2, Ireland."
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "http://v2.decipherinc.com/survey/selfserve/1bde/170110?list=1&id={{uid_encrypted}}",
  "settings" : "https://twitter.com/settings/notifications",
  "help" : "https://support.twitter.com/",
  "not_my_account" : "{{not_my_account}}"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter {{ "<" + track(link.logo,1) + ">" }}

=
   
{{ i10n(copy.headline) }}

=

{{ i10n(copy.body[0]) }}

{{ i10n(copy.cta) }} {{ "<" + track(link.cta,2) + ">" }}

{{ i10n(copy.body[1]) }}

{{ i10n(copy.body[2]) }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.settings,3) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,4) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ copy.address }}