{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "@{{screen_name}}, watch NFL live on Twitter",
  "preheader" : "Watch Thursday Night Football on Twitter: Giants-Eagles, 12/22 8pm ET",
  "headline_1" : "GIANTS VS EAGLES",
  "headline_2" : "December 22, 8pm ET",
  "headline_3" : "Watch live on Moments or tnf.twitter.com",
  "subheadline" : "Live on Twitter: Giants vs Eagles",
  "body" : "It's the NFL like you've never experienced it before. Watch Thursday Night Football streaming live on Twitter in full HD, with top Tweets and more. Also available on NBC and NFL Network. This week's matchup features the New York Giants at the Philadelphia Eagles. #TNF on Twitter. It's happening.",
  "cta" : "Watch LIVE on",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# COLOR LOGIC #}
{% set color_hex = colors[color].hex %}
{% set color_css = colors[color].css %}
{% set color_icon = colors[color].icons[icon_type] %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo-1475170569504.png",
  "icon_camera_video" : prefix_img + "icon_camera_video-1481157796076.png",
  "hero_br" : prefix_img + "cm_20161222_nfl_br-1482268873703.gif",
  "hero_br_mso" : prefix_img + "cm_20161222_nfl_br-1482268873700.jpg",
  "hero_gb" : prefix_img + "cm_20161222_nfl_gb-1482268873765.gif",
  "hero_gb_mso" : prefix_img + "cm_20161222_nfl_gb-1482268873702.jpg",
  "hero_mx" : prefix_img + "cm_20161222_nfl_mx-1482268873820.gif",
  "hero_mx_mso" : prefix_img + "cm_20161222_nfl_mx-1482268873752.jpg",
  "hero_us" : prefix_img + "cm_20161222_nfl_us-1482268873799.gif",
  "hero_us_mso" : prefix_img + "cm_20161222_nfl_us-1482268873792.jpg",
  "hero_2" : prefix_img + "cm_20161222_nfl_us-1482268873792.jpg",
  "spacer" : prefix_img + "spacer_650x265-1481056487262.png",
  "spacer_1" : prefix_img + "spacer_650x1-1481059174655.png",
  "logo_tnf" : prefix_img + "logo_tnf-1481158813910.png"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/768633364911788032?ref_src=twsrc%5EEMAIL%7Ctwcamp%5ENFL",
  "icon" : "https://twitter.com/i/live/768633364911788032?ref_src=twsrc%5EEMAIL%7Ctwcamp%5ENFL",
  "cta" : "https://twitter.com/i/live/768633364911788032?ref_src=twsrc%5EEMAIL%7Ctwcamp%5ENFL",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# CSS #}
{% block style %}
    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:normal; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }
{% endblock %}

{% block media_query %}
        .width_full {
          width: 100% !important;
        }

        #hero {
          background-image: url({{ img.hero }}) !important;
          background-size: cover !important; 
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty image">
        {{ mustache("{{#lang_en}}") }}
        <a href="{{ track(link.hero,1) }}">
          <!--[if !gte mso 9]><!---->
          <img src="{{ img.hero_us }}" width="640" class="width_full" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <!--<![endif]-->
          <!--[if gte mso 9]>
          <img src="{{ img.hero_us_mso }}" width="640" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <![endif]-->
        </a>
        {{ mustache("{{/lang_en}}") }}
        {{ mustache("{{#lang_pt}}","<div style='display: none;'>") }}
        <a href="{{ track(link.hero,1) }}">
          <!--[if !gte mso 9]><!---->
          <img src="{{ img.hero_br }}" width="640" class="width_full" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <!--<![endif]-->
          <!--[if gte mso 9]>
          <img src="{{ img.hero_br_mso }}" width="640" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <![endif]-->
        </a>
        {{ mustache("{{/lang_pt}}","</div>") }}
        {{ mustache("{{#lang_en-gb}}","<div style='display: none;'>") }}
        <a href="{{ track(link.hero,1) }}">
          <!--[if !gte mso 9]><!---->
          <img src="{{ img.hero_gb }}" width="640" class="width_full" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <!--<![endif]-->
          <!--[if gte mso 9]>
          <img src="{{ img.hero_gb_mso }}" width="640" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <![endif]-->
        </a>
        {{ mustache("{{/lang_en-gb}}","</div>") }}
        {{ mustache("{{#lang_es}}","<div style='display: none;'>") }}
        <a href="{{ track(link.hero,1) }}">
          <!--[if !gte mso 9]><!---->
          <img src="{{ img.hero_mx }}" width="640" class="width_full" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <!--<![endif]-->
          <!--[if gte mso 9]>
          <img src="{{ img.hero_mx_mso }}" width="640" title="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" alt="{{ i10n(copy.headline_1) }} | {{ i10n(copy.headline_2) }} | {{i10n(copy.headline_3)}}" />
          <![endif]-->
        </a>
        {{ mustache("{{/lang_es}}","</div>") }}
      </td>
    </tr>
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32" align="center">
                    <a href="{{ track(link.icon,2) }}">
                      <img src="{{ img.icon_camera_video }}" height="32" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h2 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.subheadline) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="center" class="button center" bgcolor="#1DA1F2" dir="{{ dir('ltr') }}">
                          <a href="{{ track(link.cta,3) }}" target="_blank" class="button">
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            {{ i10n(copy.cta) }}&nbsp;<img src="{{ img.logo_twitter }}" height="16" />
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty image" align="center">
                    <img src="{{ img.logo_tnf }}" />
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f5f8fa" width="640" class="width_full">
          <!--[if gte mso 9]>
          <tr>
            <td colspan="3" align="center">
              <img src="{{ img.spacer_1 }}" width="640" />
            </td>
          </tr>
          <![endif]-->
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.about,4) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.help,5) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ '{{ unsubscribe }}' }}" class="blue">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.download,6) }}" class="blue">
                      {{ i10n(copy.footer[3]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}