{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# MOBILE FIX REMOVE SWITCH #}
{% set mobile_fix_remove = true %}

{# COPY #}
{% set copy = {
  "preheader" : "Tune in to Twitter's first-ever live concert.",
  "subject_line" : "@{{screen_name}}, watch Depeche Mode LIVE",
  "alt_hero" : "Depeche Mode: ''Spirit'' World Premiere",
  "headline" : "Live on Twitter: Depeche Mode @streetgigs",
  "body" : "Give it up for the deepest sounds in the universe. It's Depeche Mode in the first-ever live concert on Twitter, in full HD straight from Street Gigs. On occasion of the release days of the band’s new album “Spirit” dropping this Friday 3/17 they play an exclusive and intimate concert in Berlin. Tune in and turn up. It’s happening on Twitter.",
  "body_2" : [
    "Friday, March 17 l 8pm CET l 11am PST",
    "streetgigs.twitter.com"
  ],
  "cta" : "Watch LIVE on",
  "alt_street_gigs" : "Street Gigs",
  "alt_logo" : "Twitter",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo-1475170569504.png",
  "hero" : prefix_img + "dm_hero-1489631793005.jpg",
  "schedule" : prefix_img + "cm_20170219_ligamx_schedule-1487028239841.jpg",
  "spacer" : prefix_img + "spacer_650x265-1481056487262.png",
  "spacer_1" : prefix_img + "spacer_650x1-1481059174655.png",
  "logo_street_gigs" : prefix_img + "dm_logo_street_gigs-1489534650990.png",
  "logo_twitter_large" : prefix_img + "dm_logo_twitter-1489534651038.png"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/839261822683226112?ref_src=twsrc%5Eemail%7Ctwcamp%5EStreetGigs%7Ctwgr%5EDepeche_Mode",
  "cta" : "https://twitter.com/i/live/839261822683226112?ref_src=twsrc%5Eemail%7Ctwcamp%5EStreetGigs%7Ctwgr%5EDepeche_Mode",
  "text" : "https://twitter.com/streetgigs",
  "logo_street_gigs" : "https://twitter.com/streetgigs",
  "logo_twitter_large" : "https://twitter.com/",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# CSS #}
{% block style %}
    .h3 {
      font-size: 22px;
      line-height: 26px;
    }

    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:600; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }
{% endblock %}

{% block media_query %}
        .iosBlue a {
          text-decoration: underline;
          } 

        .width_full {
          width: 100% !important;
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty image">
        <a href="{{ trackm(link.hero,1) }}">
          <img src="{{ img.hero }}" width="640" class="width_full" title="{{ i10n(copy.alt_hero) }}" alt="{{ i10n(copy.alt_hero) }}" style="color: #1DA1F2; font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; font-size: 32px; line-height: 36px; border: none; text-align: center;"/>
        </a>
      </td>
    </tr>
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h3 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h4 blue center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_2[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="h4 blue center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ trackm(link.text,2) }}" class="blue">
                      {{ i10n(copy.body_2[1]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="center" class="button center" bgcolor="#1DA1F2" dir="{{ dir('ltr') }}">
                          <a href="{{ trackm(link.cta,3) }}" target="_blank" class="button nowrap">
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            {{ i10n(copy.cta) }}&nbsp;<img src="{{ img.logo_twitter }}" height="16" />
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty">
                    <table align="center">
                      <tr>
                        <td class="empty center" align="center">
                          <a href="{{ trackm(link.logo_street_gigs,4) }}" class="blue">
                            <img src="{{ img.logo_street_gigs }}" height="30" title="{{ i10n(copy.alt_street_gigs) }}" alt="{{ i10n(copy.alt_street_gigs) }}"/>
                          </a>
                        </td>
                        <td class="empty" width="20">
                          &nbsp;
                        </td>
                        <td class="empty" width="1" bgcolor="#bec9d1">
                          &nbsp;
                        </td>
                        <td class="empty" width="20">
                          &nbsp;
                        </td>
                        <td class="empty center" align="center">
                          <a href="{{ trackm(link.logo_twitter_large,5) }}" class="blue">
                          <img src="{{ img.logo_twitter_large }}" height="30" title="{{ i10n(copy.alt_logo) }}" alt="{{ i10n(copy.alt_logo) }}"/>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f5f8fa" width="640" class="width_full">
          <!--[if gte mso 9]>
          <tr>
            <td colspan="3" align="center">
              <img src="{{ img.spacer_1 }}" width="640" />
            </td>
          </tr>
          <![endif]-->
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.about,1) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.help,2) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ '{{ unsubscribe }}' }}" class="blue">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ trackm(link.download,6) }}" class="blue">
                      {{ i10n(copy.footer[3]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}