{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "@{{screen_name}}, see the Globe's Red Carpet LIVE",
  "preheader" : "Walk the red carpet with your favorite stars in real time.",
  "alt_hero" : "Walk with the Stars | Steaming LIVE on Twitter | Jan. 8, 6PM ET | 3PM PT",
  "headline_1" : "The HFPA presents",
  "headline_2" : "Globes Red Carpet Live on Twitter",
  "body" : "The red carpet is a little more golden. For the first time ever the Hollywood Foreign Press Association and Twitter give you the kind of LIVE access to the Globes Red Carpet that says bye! bye! to FOMO. Walk the red carpet and talk to your favorite stars in real time. Get the buzz on fashion, the read on the nominees and the drop on your friends. Tweet! And your voice will be heard.",
  "body_2" : "Globes Red Carpet, streaming live only on Twitter, today, Jan. 8th 2017 6:00pm ET, 3:00pm PT to know before the show, and then tune in to NBC for the coast to coast broadcast at 8:00pm ET, 5:00pm PT.",
  "cta" : "Watch LIVE on",
  "sub_1" : "Follow @goldenglobes for exclusive ",
  "sub_2" : "BTS action and watch live on Twitter for ",
  "sub_3" : "your front row Tweet.",
  "alt_hfpa" : "HFPA",
  "alt_gg" : "Golden Globe Awards",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "cta" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "text" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "text_2" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}
{{ i10n(copy.alt_hero) }} {{ "<" + track(link.hero,1) + ">" }}

{{ i10n(copy.headline_1) }}
{{ i10n(copy.headline_2) }}

{{ i10n(copy.body) }}

{{ i10n(copy.cta) }} Twitter {{ "<" + track(link.cta,2) + ">" }}

{{ i10n(copy.body_2) }} {{ "<" + track(link.text,3) + ">" }}

{{ i10n(copy.alt_hfpa) }}
{{ i10n(copy.alt_gg) }}

{{ i10n(copy.sub_1 + copy.sub_2 + copy.sub_3) }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,4) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,5) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.download,6) + ">" }}

{{ copy.address }}