{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "preheader" : "We need your help with a research study.",
  "subject_line" : "@{{screen_name}}, we'd like to get your thoughts!",
  "alt_logo" : "Periscope",
  "headline" : "We'd like to hear your thoughts",
  "body" : [
    "Thank you for being part of Periscope! You've been selected to take part in a short research study to help us improve your experience. It should take approximately 10-15 minutes to complete and as a token of appreciation, we’d like to offer you a $10 Amazon Gift Code for completing the survey.",
    "Your opinions help us make Periscope better for everyone. 
Thanks for your time.",
    "You should receive the code 5-10 business days after completing the survey. If you have any questions or problems with receiving the Gift Code, please contact: invite@murphysurvey.com"
    ],
  "cta" : "Take part",
  "footer" : ["Settings", "Help", "Unsubscribe"],
  "address" : "{{>manhattan:static:address_twitter/plain_content}}"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://periscope.tv",
  "cta" : "http://v2.decipherinc.com/survey/selfserve/1bde/170303?list=3&id={{uid_encrypted}}",
  "cta2" : "https://lite.twitter.com",
  "about" : "https://about.twitter.com/",
  "settings" : "https://twitter.com/settings/notifications",
  "help" : "https://support.twitter.com/articles/20113771",
  "not_my_account" : "{{not_my_account}}",
  "footer" : [
    "https://about.twitter.com/",
    "https://support.twitter.com/articles/20113771"
  ]
} %}

Subject: {{ i10n(copy.subject_line) }}

{{ i10n(pt(copy.alt_logo)) }}

=
   
{{ i10n(pt(copy.headline)) }}

=

{{ i10n(pt(copy.body[0])) }}

{{ i10n(pt(copy.body[1])) }}

{{ i10n(pt(copy.cta)) }} 
{{ "> " + link.cta }}

{{ i10n(pt(copy.body[2])) }}

=

{{ i10n(pt(copy.footer[0])) }} 
{{ "> " + link.footer[0] }}

{{ i10n(pt(copy.footer[1])) }} 
{{ "> " + link.footer[1] }}

{{ i10n(pt(copy.footer[2])) }} 
{{ "> {{ unsubscribe }}" }}

{{ copy.address }}