{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# MOBILE FIX REMOVE SWITCH #}
{% set mobile_fix_remove = false %}

{# LINKS #}
{% set link = {
  "hero" : "https://mobile.twitter.com",
  "cta" : "https://mobile.twitter.com",
  "cta2" : "https://lite.twitter.com",
  "about" : "https://about.twitter.com/",
  "settings" : "https://twitter.com/settings/notifications",
  "help" : "https://support.twitter.com/articles/20113771",
  "not_my_account" : "{{not_my_account}}",
  "footer" : [
    "https://about.twitter.com/",
    "https://support.twitter.com/articles/20113771"
  ]
} %}

{# COPY #}
{% set copy = {
  "preheader" : "Introducing Twitter Lite. A fast, data-friendly way to see what's happening in the world right now",
  "subject_line" : "{{screen_name}}, check out Twitter Lite today",
  "alt_logo" : "Twitter",
  "alt_hero" : "Twitter Lite",
  "alt_cta" : "Try Twitter Lite",
  "headline" : "A fast, data-friendly way to see what’s happening in the world right now",
  "body" : [
    "Available on most smartphones and tablets through the mobile web, Twitter Lite minimizes data usage, loads quickly on slower connections, is resilient to unreliable networks, and takes up less than 1MB on your mobile device.",
    "So you can get breaking news, sports scores, and entertainment updates. Interact with brands and your government. Easily market your business, or quickly provide customer service - all while using less of your data plan.",
    "Try it now at mobile.twitter.com"
    ],
  "cta" : "Learn more",
  "footer" : ["About", "Help", "Unsubscribe"],
  "address" : "{{>manhattan:static:address_twitter/html_content}}"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo-1475170569504.png",
  "hero" : prefix_img + "cm_twitter_lite_hero-1491948993556.jpg",
  "hero_m" : prefix_img + "cm_twitter_lite_hero_mobile-1492028117969.jpg",
  "spacer" : prefix_img + "spacer_650x265-1481056487262.png",
  "spacer_1" : prefix_img + "spacer_650x1-1481059174655.png",
  "logo_acma" : prefix_img + "cm_20170402_acma_icon-1490395907479.png",
  "logo_twitter_large" : prefix_img + "dm_logo_twitter-1489534651038.png"
} %}

{# CSS #}
{% block style %}
    .h3 {
      font-size: 22px;
      line-height: 26px;
    }

    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #FFAD1F;
      display: inline-block; 
      font-weight:600; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }

    .justify {
      text-align: justify;
    }
{% endblock %}

{% block media_query %}
        #hero {
          background-image: url({{ img.hero_m }}) !important;
          background-size: cover !important;
          background-position-x: center !important;
          width: 100%;
          height: 280px !important;
        }

        .hero {
          height: 210px !important;
        }

        .iosyellow a {
          text-decoration: underline;
          } 

        .width_full {
          width: 100% !important;
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td id="hero" background="{{ img.hero }}" bgcolor="ffffff" width="640" height="358" valign="top">
        <!--[if gte mso 9]>
        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:640px;height:358px;">
          <v:fill type="tile" src="{{ img.hero }}" color="ffffff" />
          <v:textbox inset="0,0,0,0">
        <![endif]-->
        <div>
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
            <tr>
              <td>
                <a href="{{ track(link.hero,1) }}" target="_blank">
                  <img src="{{ img.spacer }}" width="640" height="275" class="width_full hero" title="{{ i10n(copy.alt_hero) }}" alt="{{ i10n(copy.alt_hero) }}" style="color: #FFAD1F; font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; font-size: 60px; line-height: 64px; border: none; text-align: center;"/>
                </td>
                </a>
            </tr>
            <tr>
              <td class="empty">
                <table border="0" cellspacing="0" cellpadding="0" align="center" class="center">
                  <tr>
                    <td align="center" class="button center" bgcolor="#FFAD1F" dir="{{ dir('ltr') }}">
                      <a href="{{ track(link.cta,2) }}" target="_blank" class="button nowrap">
                        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                        {{ i10n(copy.alt_cta) }}
                        <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>  
              <td class="empty" height="24">
                &nbsp;
              </td>
            </tr>
          </table>
        </div>
        <!--[if gte mso 9]>
          </v:textbox>
        </v:rect>
        <![endif]-->
      </td>
    </tr>
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h3 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="16">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[1]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="center" class="button center" bgcolor="#FFAD1F" dir="{{ dir('ltr') }}">
                          <a href="{{ track(link.cta2,3) }}" target="_blank" class="button nowrap">
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            {{ i10n(copy.cta) }}
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h4 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.cta,4) }}" class="yellow">{{ i10n(copy.body[2]) }}</a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="40">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f5f8fa" width="640" class="width_full">
          <!--[if gte mso 9]>
          <tr>
            <td colspan="3" align="center">
              <img src="{{ img.spacer_1 }}" width="640" />
            </td>
          </tr>
          <![endif]-->
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.footer[0],5) }}" class="yellow">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.footer[1],6) }}" class="yellow">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ '{{unsubscribe}}' }}" class="yellow">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}