{% extends "includes/layout.html" %}
{% include "includes/macros_notifications.html" %}

{# BGCOLOR MAIN #}
{% set bgcolor_main = "#f5f8fa" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "https://twitter.com/i/notifications",
  "icon" : {
    "follow" : "https://twitter.com/i/notifications",
    "like" : "https://twitter.com/i/notifications",
    "mention" : "https://twitter.com/i/notifications",
    "reply" : "https://twitter.com/i/notifications",
    "retweet" : "https://twitter.com/i/notifications"
  },
  "text" : "http://twitter.com",
  "help" : "https://support.twitter.com/",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}"
} %}

{# COPY #}
{% set copy = {
  "subject" : "@{{#recipient}}{{screen_name}}{{/recipient}}, check out the notification you have on Twitter",
  "subject_p" : "@{{#recipient}}{{screen_name}}{{/recipient}}, check out the notifications you have on Twitter",
  "alt_logo" : "Twitter",
  "title" : "See the 1 notification ready and waiting just for you",
  "title_p" : "See the {{total_count}} notifications ready and waiting just for you",
  "cta" : "Take a look",
  "header" : "Likes, Retweets, new followers, and more — you’ll find them all in your Notifications. Here’s a glimpse.",
  "body" : "When someone likes your Tweet, mentions you, or follows you, you can view all the activity in Notifications.",
  "body_2" : "See how others have interacted with you on Twitter.",
  "icon" : ["new follower", "like", "reply", "Retweet", "mention", "contact joined"],
  "icon_p" : ["new followers", "likes", "replies", "Retweets", "mentions", "contacts joined"],
  "icon_cta" : ["See it","See them"],
  "footer" : ["Help", "Settings", "Unsubscribe"],
  "disclaimer" : "This email was generated for @" + mustache("{{#recipient}}{{screen_name}}{{/recipient}}","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "spacer_3_1" : prefix_img + "spacer_3_x_1-1480718996570.png",
  "logo" : prefix_img + "logo-1475170569504.png",
  "icon" : {
    "follow" : prefix_img + "icon_ad_follower-1488326588182.png",
    "like" : prefix_img + "icon_ad_like-1488326588182.png",
    "mention" : prefix_img + "icon_ad_mention-1488326588182.png",
    "reply" : prefix_img + "icon_ad_reply-1488326588182.png",
    "retweet" : prefix_img + "icon_ad_retweet-1488326588182.png"
  }
} %}

{# CSS #}
{% block style %}
    .wrapper {
      min-width: 400px;
    }

    .h3 {
      line-height: 22px;
    }

    a {
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }};
    }

    .white a {
      color: #ffffff;
      text-decoration: none;
    }

    .a_deep_grey a {
      color: #8899A6;
    }

    .a_text_black a {
      color: #292F33;
    }

    .color {
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }};
    }

    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button_white {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }}; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 5px 20px; 
      border: 1px solid #ffffff;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    a.button_white_2 {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }}; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 5px 20px; 
      border: 1px solid {{ mustache("#{{randomBgColor}}","#1DA1F2") }};
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #E0245E;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
          height: auto !important;
        }

        .height_30 {
          height: 30px !important;
        }

        .dots {
          max-width: 100px !important;
        }

        .border_grey {
          border-left: none !important;
          border-right: none !important;
          border-radius: 0px !important;
        }
{% endblock %}

{% block style_custom %}
    <!--[if IE]>
    <style type="text/css" inline="false">
        /* Outlook 2000 - 2003 Canopy Image Fix */
        .canopy img {
            height: 154px !important;
        }
    </style>
    <![endif]-->
{% endblock %}

{% block body %}
  {{ header_begin(mustache("#{{randomBgColor}}","#1DA1F2")) }}
  {{ header_spacer(24) }}
  {{ header_icon(img.logo, trackm(link.logo,1), 28, align("right"), "Twitter") }}
  {{ header_spacer(24) }}
  {{ header_title( mustache("{{#total_count_one}}") + i10n(pt(copy.title)) + mustache("{{/total_count_one}}") + mustache("{{^total_count_one}}") + mustache(i10n(pt(copy.title_p))) + mustache("{{/total_count_one}}"), align("left")) }}
  {{ header_spacer(24) }}
  {{ header_cta(copy.cta, trackm(link.cta,2), align("left")) }}
  {{ header_spacer(24) }}
  {{ header_end() }}
    <!-- FOOTER START -->
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="448 " class="width_full" bgcolor="#f5f8fa">
      <tr>
        <td class="empty" align="center">
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
            <tr>
              <td class="empty" height="24">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td class="empty">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                  <tr>
                    <td class="empty">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" bgcolor="#ffffff" class="rounded border_grey">
                        <tr>
                          <td class="empty" width="24">
                            &nbsp;
                          </td>
                          <td class="empty">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              <tr>
                                <td class="h4 text_black" align="{{ align('left') }}">
                                  {{ i10n(copy.header) }}
                                </td>
                              </tr>
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              {{ mustache("{{#following_count}}") }}
                              <tr>
                                <td class="empty">
                                  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                      <td class="empty image" align="center" width="30" >
                                        <img src="{{ img.icon.follow }}" height="18" />
                                      </td>
                                      <td class="empty" width="12">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 text_black" align="{{ align('left') }}" valign="middle">
                                        {{ mustache("{{following_count}}","1")}} {{ mustache("{{#following_count_one}}") }}{{ i10n(copy.icon[0]) }}{{ mustache("{{/following_count_one}}{{^following_count_one}}" + i10n(copy.icon_p[0]) + "{{/following_count_one}}") }}
                                      </td>
                                      <td class="empty">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 strong text_black" align="center" valign="middle" width="100">
                                        <a href="{{ trackm(link.cta,3) }}" class="nowrap">
                                          {{ i10n(copy.icon_cta[1]) }}
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              {{ mustache("{{/following_count}}") }}
                              {{ mustache("{{#favorite_count}}") }}
                              <tr>
                                <td class="empty">
                                  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                      <td class="empty image" align="center" width="30" >
                                        <img src="{{ img.icon.like }}" height="18" />
                                      </td>
                                      <td class="empty" width="12">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 text_black" align="{{ align('left') }}" valign="middle">
                                        {{ mustache("{{favorite_count}}","1")}} {{ mustache("{{#favorite_count_one}}") }}{{ i10n(copy.icon[1]) }}{{ mustache("{{/favorite_count_one}}{{^favorite_count_one}}" + i10n(copy.icon_p[1]) + "{{/favorite_count_one}}") }}
                                      </td>
                                      <td class="empty">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 strong text_black" align="center" valign="middle" width="100">
                                        <a href="{{ trackm(link.cta,4) }}" class="nowrap">
                                          {{ mustache("{{#favorite_count_one}}") }}{{ i10n(copy.icon_cta[0]) }}{{ mustache("{{/favorite_count_one}}{{^favorite_count_one}}" + i10n(copy.icon_cta[1]) + "{{/favorite_count_one}}") }}
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              {{ mustache("{{/favorite_count}}") }}
                              {{ mustache("{{#reply_count}}") }}
                              <tr>
                                <td class="empty">
                                  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                      <td class="empty image" align="center" width="30" >
                                        <img src="{{ img.icon.reply }}" height="18" />
                                      </td>
                                      <td class="empty" width="12">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 text_black" align="{{ align('left') }}" valign="middle">
                                        {{ mustache("{{reply_count}}","1")}} {{ mustache("{{#reply_count_one}}") }}{{ i10n(copy.icon[2]) }}{{ mustache("{{/reply_count_one}}{{^reply_count_one}}" + i10n(copy.icon_p[2]) + "{{/reply_count_one}}") }}
                                      </td>
                                      <td class="empty">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 strong text_black" align="center" valign="middle" width="100">
                                        <a href="{{ trackm(link.cta,5) }}" class="nowrap">
                                          {{ mustache("{{#reply_count_one}}") }}{{ i10n(copy.icon_cta[0]) }}{{ mustache("{{/reply_count_one}}{{^reply_count_one}}" + i10n(copy.icon_cta[1]) + "{{/reply_count_one}}") }}
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              {{ mustache("{{/reply_count}}") }}
                              {{ mustache("{{#retweet_count}}") }}
                              <tr>
                                <td class="empty">
                                  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                      <td class="empty image" align="center" width="30" >
                                        <img src="{{ img.icon.retweet }}" height="18" />
                                      </td>
                                      <td class="empty" width="12">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 text_black" align="{{ align('left') }}" valign="middle">
                                        {{ mustache("{{retweet_count}}","1")}} {{ mustache("{{#retweet_count_one}}") }}{{ i10n(copy.icon[3]) }}{{ mustache("{{/retweet_count_one}}{{^retweet_count_one}}" + i10n(copy.icon_p[3]) + "{{/retweet_count_one}}") }}
                                      </td>
                                      <td class="empty">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 strong text_black" align="center" valign="middle" width="100">
                                        <a href="{{ trackm(link.cta,6) }}" class="nowrap">
                                          {{ mustache("{{#retweet_count_one}}") }}{{ i10n(copy.icon_cta[0]) }}{{ mustache("{{/retweet_count_one}}{{^retweet_count_one}}" + i10n(copy.icon_cta[1]) + "{{/retweet_count_one}}") }}
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              {{ mustache("{{/retweet_count}}") }}
                              {{ mustache("{{#mention_count}}") }}
                              <tr>
                                <td class="empty">
                                  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                      <td class="empty image" align="center" width="30" >
                                        <img src="{{ img.icon.mention }}" height="18" />
                                      </td>
                                      <td class="empty" width="12">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 text_black" align="{{ align('left') }}" valign="middle">
                                        {{ mustache("{{mention_count}}","1")}} {{ mustache("{{#mention_count_one}}") }}{{ i10n(copy.icon[4]) }}{{ mustache("{{/mention_count_one}}{{^mention_count_one}}" + i10n(copy.icon_p[4]) + "{{/mention_count_one}}") }}
                                      </td>
                                      <td class="empty">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 strong text_black" align="center" valign="middle" width="100">
                                        <a href="{{ trackm(link.cta,7) }}" class="nowrap">
                                          {{ mustache("{{#mention_count_one}}") }}{{ i10n(copy.icon_cta[0]) }}{{ mustache("{{/mention_count_one}}{{^mention_count_one}}" + i10n(copy.icon_cta[1]) + "{{/mention_count_one}}") }}
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              {{ mustache("{{/mention_count}}") }}
                              {{ mustache("{{#joinedtwitter_count}}") }}
                              <tr>
                                <td class="empty">
                                  <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                      <td class="empty image" align="center" width="30" >
                                        <img src="{{ img.icon.follow }}" height="18" />
                                      </td>
                                      <td class="empty" width="12">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 text_black" align="{{ align('left') }}" valign="middle">
                                        {{ mustache("{{joinedtwitter_count}}","1")}} {{ mustache("{{#joinedtwitter_count_one}}") }}{{ i10n(copy.icon[5]) }}{{ mustache("{{/joinedtwitter_count_one}}{{^joinedtwitter_count_one}}" + i10n(copy.icon_p[5]) + "{{/joinedtwitter_count_one}}") }}
                                      </td>
                                      <td class="empty">
                                        &nbsp;
                                      </td>
                                      <td class="body_2 strong text_black" align="center" valign="middle" width="100">
                                        <a href="{{ trackm(link.cta,8) }}" class="nowrap">
                                          {{ i10n(copy.icon_cta[1]) }}
                                        </a>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td class="empty" height="24">
                                  &nbsp;
                                </td>
                              </tr>
                              {{ mustache("{{/joinedtwitter_count}}") }}
                            </table>
                          </td>
                          <td class="empty" width="24">
                            &nbsp;
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="empty" height="72">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td class="supporting deep_grey" align="center">
                <a href="{{ trackm(link.help,9) }}" class="color">
                  {{ i10n(copy.footer[0]) }}
                </a> &nbsp;|&nbsp;
                <a href="{{ track(link.settings,1) }}" class="color">
                  {{ i10n(copy.footer[1]) }}
                </a> &nbsp;|&nbsp;
                <a href="{{ link.unsubscribe }}" class="color">
                  {{ i10n(copy.footer[2]) }}
                </a>
              </td>
            </tr>
            <tr>
              <td class="empty" height="12">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td class="footer deep_grey" align="center">
                {{ i10n(copy.disclaimer) }}
              </td>
            </tr>
            <tr>
              <td class="empty" height="12">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td class="footer deep_grey" align="center">
                <span class="addressLink">{{ fixAddress(copy.address) }}</span>
              </td>
            </tr>
            <tr>
              <td class="empty" height="72">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!--[if gte mso 9]>
      <tr>
        <td colspan="3">
          <img src="https://ea.twimg.com/email/self_serve/media/spacer_560_x_1-1478717885230.png" class="width_full"/>
        </td>
      </tr>
      <![endif]-->
    </table>
    <!-- FOOTER END -->
{% endblock %}