{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "Password reset request",
  "alt_logo" : "Twitter",
  "body" : [
    "Reset your password?",
    "If you requested a password reset for @{{#recipient}}{{screen_name}}{{/recipient}}, click the button below. If you didn't make this request, ignore this email.",
    "Getting a lot of password reset emails?",
    "You can change your account settings to require personal information to reset your password."
  ],
  "cta" : "Reset password",
  "box" : "How do I know an email is from Twitter?",
  "box_2" : "Links in this email will start with “https://” and contain “twitter.com” Your browser will also display a padlock icon to let you know a site is secure.",
  "footer" : ["Help", "Not my account", "Email security tips"],
  "disclaimer" : "This email was meant for @{{screen_name}}.",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "{{confirm_code_button}}",
  "settings" : "https://twitter.com/settings",
  "help" : "https://support.twitter.com/",
  "not_my_account" : "{{not_my_account}}",
  "email_security_tips" : "https://support.twitter.com/articles/204820-fake-twitter-emails"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter 
{{ "> " + link.logo }}

=

{{ i10n(copy.body[0]) }}

{{ i10n(copy.body[1]) }}

{{ i10n(copy.cta) }}
{{ "> " + link.cta }}

{{ i10n(copy.body[2]) }}

{{ i10n(copy.body[3]) }}
> {{"{{account_settings_link}}"}}

=

{{ i10n(copy.box) }}

{{ i10n(copy.box_2) }}

=

{{ i10n(copy.footer[0]) }} 
{{ "> " + link.help }}

{{ i10n(copy.footer[1]) }} 
{{ "> " + link.not_my_account }}

{{ i10n(copy.footer[2]) }} 
{{ "> " + link.email_security_tips }}

{{ i10n(copy.disclaimer) }}

{{ copy.address }}