{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "https://twitter.com",
  "settings" : "https://twitter.com/settings",
  "help" : "https://twitter.com/settings/notifications",
  "unsubscribe" : "{{unsubscribe}}",
  "help" : "https://support.twitter.com/"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "Subject line varies",
  "alt_logo" : "Twitter",
  "headline" : "Hey {{user_name}},",
  "headline_2" : "You’ve got opinions and we want to hear them",
  "body" : [
    "Hi there!",
    "You have been selected to participate in an upcoming Twitter user research study! We are interested in understanding the ways in which we can make Twitter a safer place for our customers, and would love to talk to you about your experiences on Twitter.",
    "Here are some details about the study:",
    "To participate you will need to:",
    "If you're interested in participating, please complete the five minute questionnaire below.",
    "If you are selected, we'll contact you to schedule time. We're looking for a range of participants (whether you use Twitter frequently or not), so please answer as accurately as you can. Please, note that you won¹t be compensated for responding to this screener; you'll receive a gratuity only if you actually attend a study session with Twitter.",
    "Thanks,",
    "Kathie Pham",
    "User Researcher, Twitter"
  ],
  "bullet" : [
    "We are holding 1:1 interviews during the month of January (Tuesday - Thursday 9:00AM-5:00PM PST)",
    "The sessions will be conducted in-person in our San Francisco office (1355 Market St, San Francisco, 94103 – BART & MUNI accessible)",
    "The duration of the study session is 60 minutes",
    "You'll receive a $150 Amex gift card to thank you for your participation",
    "Be at least 18 years old",
    "Be able to travel to our SF office",
    "Allow us to video and audio record the session",
    "Sign a non-disclosure agreement"
  ],
  "cta" : "Take survey",
  "footer" : ["Settings", "Unsubscribe", "Help"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter {{ "<" + track(link.logo,1) + ">" }}

=

{{ i10n(copy.body[0]) }}

{{ i10n(copy.body[1]) }}

{{ i10n(copy.body[2]) }}

- {{ i10n(copy.bullet[0]) }}

- {{ i10n(copy.bullet[1]) }}

- {{ i10n(copy.bullet[2]) }}

- {{ i10n(copy.bullet[3]) }}

{{ i10n(copy.body[3]) }}

- {{ i10n(copy.bullet[4]) }}

- {{ i10n(copy.bullet[5]) }}

- {{ i10n(copy.bullet[6]) }}

- {{ i10n(copy.bullet[7]) }}

{{ i10n(copy.body[4]) }}

{{ i10n(copy.body[5]) }}

{{ i10n(copy.cta) }} {{ "<" + track(link.cta,2) + ">" }}

{{ i10n(copy.body[6]) }}

{{ i10n(copy.body[7]) }}
{{ i10n(copy.body[8]) }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.unsubscribe,4) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<" + track(link.settings,5) + ">" }}

{{ copy.address }}