{% extends "includes/layout.html" %}
{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "https://twitter.com/account/begin_password_reset",
  "sms_command_link" : "https://support.twitter.com/articles/14020",
  "certain_sms_notification_link" : "https://support.twitter.com/articles/20169920",
  "settings" : "https://twitter.com/settings",
  "help" : "https://support.twitter.com/",
  "not_my_account" : "{{not_my_account}}",
  "email_security_tips" : "https://support.twitter.com/articles/204820-fake-twitter-emails"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "Your phone number has been added to another account",
  "alt_logo" : "Twitter",
  "headline" : "Your phone number ({{phone_number}}) has been added to another account.",
  "body" : "Is this still your phone number? If not, please update your account (@{{#recipient}}{{screen_name}}{{/recipient}}) <a href=\"{{#tl2}}{{update_phone_link}}{{/tl2}}\">with your current phone number</a>.",
  "body_2" : "NOTE: your account (@{{#recipient}}{{screen_name}}{{/recipient}}) can no longer perform <a href=\"" + track(link.sms_command_link,3) + "\">SMS commands</a> nor receive certain <a href=\"" + track(link.certain_sms_notification_link,4) + "\">SMS notifications</a>.",
  "body_3" : "Only the account most recently linked to this phone number will have these features.",
  "body_4" : "How do I know an email is from Twitter?",
  "body_5" : "Links in this email will start with “https&#65279;://” and contain “twitter&#65279;.&#65279;com” Your browser will also display a padlock icon to let you know a site is secure.",
  "footer" : ["Help", "Not my account", "Email security tips"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "icon_twitter_blue.png"
} %}

{# CSS #}
{% block style %}
    .no-link a {
      color: #8899A6;
      text-decoration: none;
    }

    a {
      color: #1DA1F2;
      text-decoration: none;
    }

    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight: bold; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align=\"center\" bgcolor="#F5F8FA" width="100%" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="image empty" align="{{ align('right') }}">
                    <a href="{{ trackm(link.logo,1) }}">
                      <img src="{{ img.logo_twitter }}" width="32" alt="{{ copy.alt_logo }}" title="{{ copy.alt_logo }}" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h2 text_black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body text_black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td class="empty" height="1">
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body text_black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_2) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body text_black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_3) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td class="empty" height="1">
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h4 deep_grey" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_4) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_5) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td class="empty" height="1">
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" class="width_full" bgcolor="#ffffff">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.help,5) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.not_my_account,6) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.email_security_tips,7) }}" class="blue nowrap">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="hide">
      <td class="empty hide" height="32">
        &nbsp;
      </td>
    </tr>
  </table>
{% endblock %}