{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# MESSAGE SWITCHER MACRO #}
{% set message = "pre_verified_template" %}
{%- macro div(var,target=message) -%}
{%- if ibis_2 == false -%}
{%- if var != target -%}
<!--
{%- endif -%}
{%- endif -%}
{%- endmacro -%}{%- macro enddiv(var,target=message) -%}
{%- if ibis_2 == false -%}
{%- if var != target -%}
-->
{%- endif -%}
{%- endif -%}
{%- endmacro -%}

{# COPY #}
{% set copy = {
  "alt_logo" : "Twitter",
  "headline_1" : "Hi{{#account_username}} {{account_username}}{{/account_username}},",
  "body" : {
    "denied_template" : [
      "Thanks for your request to verify @{{requested_screenname}}.",
      'We reviewed the account, and unfortunately it is not eligible to be verified at this time. Please visit our Help Center for more information about the types of accounts we verify.'
    ],
    "needs_edits_template" : [
      "We received your request to verify the account @{{requested_screenname}}.",
      "We need you to edit some elements and/or provide additional information. ",
      "For individuals, check the following:",
      "Does the account name reflect the real name of the person?",
      "Did you submit a government-issued photo ID, and was it legible? We can't accept selfies or personal photos.",
      "For companies, brands, organizations, check the following:",
      "Does the profile image and/or header image reflect the corporation or company's branding? It should.",
      "Does the account have a corporate or company email address associated with it? This is required.",
      "Your account will be eligible to become verified when all of the applicable outlined criteria has been met. For information about when you can submit another request to verify this account, and for details about what types of accounts we verify, visit our Help Center."
    ],
    "pre_verified_template" : [
      "We received your request to verify @{{requested_screenname}}.",
      'This account is eligible to verified, however its Tweets are currently protected. Please update the account’s *Tweet privacy* setting (find instructions here https://support.twitter.com/articles/20169886) to unprotect the account’s Tweets. The verified badge will automatically appear when the account’s Tweets are unprotected.',
      "Please visit our Help Center for information about features for verified accounts."
    ],
    "verified_template" : [
        "The account @{{requested_screenname}} is now verified.",
        "Please visit our Help Center for information about features for verified accounts."
    ]
  },
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "disclaimer" : "This email was meant for @jttrw",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com/",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

Twitter {{ "<" + track(link.logo,1) + ">" }}

{{ i10n(copy.headline_1) }}
{{ div("verified_template") }}{{ mustache("{{#verified_template}}") }}{{ i10n(copy.body.verified_template[0]) }}{{ mustache("{{/verified_template}}") }}
{{ enddiv("verified_template") }}{{ div("denied_template") }}
{{ mustache("{{#denied_template}}") }}{{ i10n(copy.body.denied_template[0]) }}{{ mustache("{{/denied_template}}") }}{{ enddiv("denied_template") }}

=

{{ div("verified_template") }}{{ mustache("{{#verified_template}}") }}
{{ i10n(copy.body.verified_template[1]) }}
{{ mustache("{{/verified_template}}") }}
{{ enddiv("verified_template") }}{{ div("denied_template") }}
{{ mustache("{{#denied_template}}") }}
{{ i10n(copy.body.denied_template[1]) }}
{{ mustache("{{/denied_template}}") }}{{ enddiv("denied_template") }}{{ div("pre_verified_template") }}{{ mustache("{{#pre_verified_template}}") }}
{{ i10n(copy.body.pre_verified_template[0]) }}
{{ i10n(copy.body.pre_verified_template[1]) }}
{{ i10n(copy.body.pre_verified_template[2]) }}
{{ mustache("{{/pre_verified_template}}") }}{{ enddiv("pre_verified_template") }}{{ div("needs_edits_template") }}
{{ mustache("{{#pre_verified_template}}") }}{{ i10n(copy.body.pre_verified_template[0]) }}
{{ i10n(copy.body.pre_verified_template[1]) }}
{{ i10n(copy.body.pre_verified_template[2]) }}
{{ mustache("{{/pre_verified_template}}") }}{{ enddiv("needs_edits_template") }}

=

{{ mustache("{{#verified_template}}") }}{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,2) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.download,4) + ">" }}{{ mustache("{{/verified_template}}") }}{{ mustache("{{#needs_edits_template}}") }}{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,2) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.download,4) + ">" }}{{ mustache("{{/needs_edits_template}}") }}{{ mustache("{{#pre_verified_template}}") }}{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,2) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.download,4) + ">" }}{{ mustache("{{/pre_verified_template}}") }}{{ mustache("{{#verified_template}}") }}{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,2) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.download,4) + ">" }}{{ mustache("{{/verified_template}}") }}

{{ copy.address }}