{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COLOR SWITCH #}
{% set color = "blue" %}
{% set icon_type = "dm" %}

{# COPY #}
{% set copy = {
  "preheader" : "Become a Twitter pro.",
	"title" : "Hi @" + signal("screen_name","Somebody"),
  "alt_hero" : "Video",
  "alt_icon" : "Direct Message",
  "icon" : "Direct Message",
	"headline" : "Send the best directly",
	"copy" : "Some things are too good to keep to yourself. When you spot something on Twitter and you’ve got a friend who’ll love it, send it privately via Direct Message.",
	"cta" : "Start Watching",
	"footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
	"address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# ICONS #}
{% set icon = {
  "icon_dm_blue" : "icon_dm_blue-1478031931388.png",
  "icon_dm_green" : "icon_dm_green-1478031931386.png",
  "icon_dm_orange" : "icon_dm_orange-1478031931388.png",
  "icon_dm_pink" : "icon_dm_pink-1478031931388.png",
  "icon_dm_purple" : "icon_dm_purple-1478031931388.png",
  "icon_dm_yellow" : "icon_dm_yellow-1478031931386.png",

  "icon_follow_blue" : "icon_follow_blue-1478031931767.png",
  "icon_follow_green" : "icon_follow_green-1478031931778.png",
  "icon_follow_orange" : "icon_follow_orange-1478031931773.png",
  "icon_follow_pink" : "icon_follow_pink-1478031931776.png",
  "icon_follow_purple" : "icon_follow_purple-1478031931790.png",
  "icon_follow_yellow" : "icon_follow_yellow-1478031931790.png",

  "icon_like_blue" : "icon_like_blue-1478031931851.png",
  "icon_like_green" : "icon_like_green-1478031931857.png",
  "icon_like_orange" : "icon_like_orange-1478031931857.png",
  "icon_like_pink" : "icon_like_pink-1478031931859.png",
  "icon_like_purple" : "icon_like_purple-1478031931857.png",
  "icon_like_yellow" : "icon_like_yellow-1478031931936.png",

  "icon_reply_blue" : "icon_reply_blue-1478031931936.png",
  "icon_reply_green" : "icon_reply_green-1478031931939.png",
  "icon_reply_orange" : "icon_reply_orange-1478031931937.png",
  "icon_reply_pink" : "icon_reply_pink-1478031931956.png",
  "icon_reply_purple" : "icon_reply_purple-1478031931952.png",
  "icon_reply_yellow" : "icon_reply_yellow-1478031931994.png",

  "icon_retweet_blue" : "icon_retweet_blue-1478031931994.png",
  "icon_retweet_green" : "icon_retweet_green-1478031931996.png",
  "icon_retweet_orange" : "icon_retweet_orange-1478031932001.png",
  "icon_retweet_pink" : "icon_retweet_pink-1478031932038.png",
  "icon_retweet_purple" : "icon_retweet_purple-1478031932041.png",
  "icon_retweet_yellow" : "icon_retweet_yellow-1478031932079.png"
} %}

{# BGCOLORS, LINKS, & ICON COLORS #}
{% set colors = {
  "pink" : {
    "hex" : "#E0245E",
    "css" : "pink",
    "icons" : {
      "dm" : "icon_dm_pink",
      "follow" : "icon_follow_pink",
      "like" : "icon_like_pink",
      "reply" : "icon_reply_pink",
      "retweet" : "icon_retweet_pink"
    }
  },
  "orange" : {
    "hex" : "#F45D22",
    "css" : "orange",
    "icons" : {
      "dm" : "icon_dm_orange",
      "follow" : "icon_follow_orange",
      "like" : "icon_like_orange",
      "reply" : "icon_reply_orange",
      "retweet" : "icon_retweet_orange"
    }
  },
  "yellow" : {
    "hex" : "#FFAD1F",
    "css" : "yellow",
    "icons" : {
      "dm" : "icon_dm_yellow",
      "follow" : "icon_follow_yellow",
      "like" : "icon_like_yellow",
      "reply" : "icon_reply_yellow",
      "retweet" : "icon_retweet_yellow"
    }
  },
  "green" : {
    "hex" : "#17BF63",
    "css" : "green",
    "icons" : {
      "dm" : "icon_dm_green",
      "follow" : "icon_follow_green",
      "like" : "icon_like_green",
      "reply" : "icon_reply_green",
      "retweet" : "icon_retweet_green"
    }
  },
  "blue" : {
    "hex" : "#1DA1F2",
    "css" : "blue",
    "icons" : {
      "dm" : "icon_dm_blue",
      "follow" : "icon_follow_blue",
      "like" : "icon_like_blue",
      "reply" : "icon_reply_blue",
      "retweet" : "icon_retweet_blue"
    }
  },
  "purple" : {
    "hex" : "#794BC4",
    "css" : "purple",
    "icons" : {
      "dm" : "icon_dm_pink",
      "follow" : "icon_follow_pink",
      "like" : "icon_like_pink",
      "reply" : "icon_reply_pink",
      "retweet" : "icon_retweet_pink"
    }
  }
} %}

{# COLOR LOGIC #}
{% set color_hex = colors[color].hex %}
{% set color_css = colors[color].css %}
{% set color_icon = colors[color].icons[icon_type] %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo" : prefix_img + "logo-1475170569504.png",
  "icon" : prefix_img + icon[color_icon],
  "hero_1" : prefix_img + "video_ed_hero_1-1478031932095.jpg",
  "hero_2" : prefix_img + "video_ed_hero_2-1478031932113.jpg"
} %}

{# LINKS #}
{% set link_en = {
  "logo" : "http://bit.ly/twtimeline",
  "icon" : "https://twitter.com/video/timelines/714518519275061249",
  "hero" : "https://twitter.com/video/timelines/714518519275061249",
  "cta" : "https://twitter.com/video/timelines/714518519275061249",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{% set link_non_en = {
  "logo" : "http://bit.ly/twtimeline",
  "icon" : "http://bit.ly/twtimeline",
  "hero" : "http://bit.ly/twtimeline",
  "cta" : "http://bit.ly/twtimeline",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# LOCALIZED LINK MACRO #}
{% macro link_loc(en,other) -%}
  {{ mustache("{{#lang_en}}" + en + "{{/lang_en}}{{^lang_en}}" + other + "{{/lang_en}}", en) }}
{%- endmacro %}
{% set link = {
  "logo" : link_loc(link_en.logo, link_non_en.logo),
  "icon" : link_loc(link_en.icon, link_non_en.icon),
  "hero" : link_loc(link_en.hero, link_non_en.hero),
  "cta" : link_loc(link_en.cta, link_non_en.cta),
  "about" : link_loc(link_en.about, link_non_en.about),
  "help" : link_loc(link_en.help, link_non_en.help),
  "download" : link_loc(link_en.download, link_non_en.download)
} %}

{# CSS #}
{% block style %}
    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid {{ color_hex }};
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }
{% endblock %}

{% block body %}
  {{ header(img.logo,track(link.logo,1), copy.title, color_hex, 30) }}
  {{ hero(img.hero_1,track(link.hero,2), copy.alt_hero) }}
  {{ card_begin() }}
  {{ card_spacer(48) }}
  {{ card_img(img.icon, copy.alt_icon, 36, track(link.icon,3)) }}
  {{ card_spacer(12) }}
  {{ card_h2(copy.icon, color_css) }}
  {{ card_spacer(12) }}
  {{ card_h2(copy.headline,"custom_grey") }}
  {{ card_spacer(12) }}
  {{ card_copy(copy.copy,"custom_grey") }}
  {{ card_spacer(24) }}
  {{ card_cta(copy.cta, track(link.cta,4), color_hex) }}
  {{ card_spacer(48) }}
  {{ card_end() }}
  {{ footer_lifecycle_education([copy.footer[0], copy.footer[1], copy.footer[2], copy.address, copy.footer[3]], [track(link.about,5), track(link.help,6), "{{ unsubscribe }}", track(link.download,7) ], color_css) }}
{% endblock %}