{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "title" : "Hi @" + signal("screen_name","Somebody"),
  "alt_hero" : "Video",
  "alt_icon" : "Reply",
  "icon" : "Reply",
  "headline" : "Connect with a Reply",
  "copy" : "These top videos on Twitter are the most played for a reason. Take a look, and then join the conversation about them by tapping Reply.",
  "cta" : "Start Watching",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link_en = {
  "logo" : "http://bit.ly/twtimeline",
  "icon" : "https://twitter.com/video/timelines/714518519275061249",
  "hero" : "https://twitter.com/video/timelines/714518519275061249",
  "cta" : "https://twitter.com/video/timelines/714518519275061249",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{% set link_non_en = {
  "logo" : "http://bit.ly/twtimeline",
  "icon" : "http://bit.ly/twtimeline",
  "hero" : "http://bit.ly/twtimeline",
  "cta" : "http://bit.ly/twtimeline",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# LOCALIZED LINK MACRO #}
{% macro link_loc(en,other) -%}
  {{ mustache("{{#lang_en}}" + en + "{{/lang_en}}{{^lang_en}}" + other + "{{/lang_en}}", en) }}
{%- endmacro %}
{% set link = {
  "logo" : link_loc(link_en.logo, link_non_en.logo),
  "icon" : link_loc(link_en.icon, link_non_en.icon),
  "hero" : link_loc(link_en.hero, link_non_en.hero),
  "cta" : link_loc(link_en.cta, link_non_en.cta),
  "about" : link_loc(link_en.about, link_non_en.about),
  "help" : link_loc(link_en.help, link_non_en.help),
  "download" : link_loc(link_en.download, link_non_en.download)
} %}

Twitter {{ "<" + track(link.logo,1) + ">" }}

{{ i10n(copy.title) }}

=

{{ i10n(copy.alt_hero) }} {{ "<" + track(link.hero,2) + ">" }}

=

{{ i10n(copy.icon) }} {{ "<" + track(link.icon,3) + ">" }}

{{ i10n(copy.headline) }}

{{ i10n(copy.copy) }}

{{ i10n(copy.cta) }} {{ "<" + track(link.cta,4) + ">" }}

= 

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,5) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,6) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ i10n(copy.footer[3]) }} {{ "<" + track(link.download,7) + ">" }}

{{ copy.address }}