{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# IBIS SWITCH #}
{% set mobile_fix_remove = true %}

{# COLOR SWITCH #}
{% set color = "green" %}
{% set icon_type = "retweet" %}

{# COPY #}
{% set copy = {
  "preheader" : "Check out our top videos of the week and choose your favorite to pass along.",
	"title" : "Hi @" + signal("screen_name","Somebody"),
  "hero" : "Streaming LIVE on Twitter: PGA TOUR LIVE | Thursday and Friday 7am ET | #PGATOUR | pgatourlive.twitter.com",
	"cta" : "Start Watching",
	"footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
	"address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "cta" : "https://twitter.com/",
  "download" : "https://twitter.com"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo" : prefix_img + "logo-1475170569504.png",
  "hero" : prefix_img + "sample_hero-1489119095855.png",
  "hero_copy" : prefix_img + "sample_hero_copy-1489449851784.png",
  "timer" : "https://ea.twimg.com/email/self_serve/media/countdown_sample-1489448583193.gif"
} %}

{# CSS #}
{% block style %}
    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 13px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    td.countdown_left {
      -webkit-border-radius: 4px 4px 0px 0px; 
      -moz-border-radius: 4px 4px 0px 0px; 
      border-radius: 4px 4px 0px 0px; 
      line-height: 18px;
      width: 100px;
    }

    a.countdown_left {
      font-size: 12px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px 4px 0px 0px; 
      -moz-border-radius: 4px 4px 0px 0px; 
      border-radius: 4px 4px 0px 0px; 
      padding: 3px 25px; 
      border: 1px solid #ffffff;
      display: inline-block; 
      font-weight: bold; 
      -webkit-font-smoothing: antialiased;
      width: 100px;
    }

    td.countdown_right {
      -webkit-border-radius: 0px 0px 4px 4px; 
      -moz-border-radius: 0px 0px 4px 4px; 
      border-radius: 0px 0px 4px 4px;
      width: 100px; 
    }

    a.countdown_right {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 0px 0px 4px 4px; 
      -moz-border-radius: 0px 0px 4px 4px; 
      border-radius: 0px 0px 4px 4px; 
      padding: 1px 1px 2px 1px; 
      border: 1px solid #ffffff;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
      width: 100px;
    }

    .hero-copy {
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #000000;
      font-size: 20px;
      line-height: 24px;
    }
{% endblock %}

{% block media_query %}
        .width_full {
          width: 100% !important;
        }

        #hero {
          background-image: url({{ img.hero }}) !important;
          background-size: cover !important;
        }

        .hero_copy {
          height: 100px !important;
        }

        .height_30 {
          height: 30px !important;
        }

        .height_12 {
          height: 12px !important;
        }

        .height_16 {
          height: 16px !important;
        }

        a.button {
          font-size: 12px !important; 
          padding: 9px 14px !important; 
        }

        .hide {
          display: none !important;
        }
{% endblock %}

{% block body %}
          <table cellpadding="0" cellspacing="0" border="0" width="650" bgcolor="#1DA1F2" align="center" class="width_full">
            <!--[if gte mso 9]>
            <tr>
              <td colspan="3">
                <img src="https://ea.twimg.com/email/self_serve/media/spacer_560_x_1-1478717885230.png" class="width_full"/>
              </td>
            </tr>
            <![endif]-->
            <tr>
              <td class="empty width_24" width="100">
                <!--[if gte mso 9]>
                <img src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1" width="100" />
                <![endif]-->
              </td>
              <td class="empty" align="center">
                <table cellpadding="0" cellspacing="0" border="0" align="center">
                  <tr>
                    <td class="height_12 empty" height="24">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td class="empty image" align="center" style="mso-line-height-rule: exactly;">
                      <a href="{{ link.logo }}" target="blank">
                        <img src="{{ img.logo }}" class="height_16" height="28" alt="Twitter" tilte="Twitter" />
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="height_12 empty" height="24">
                      &nbsp;
                    </td>
                  </tr>
                </table>
              </td>
              <td class="empty width_24" width="100">
                <!--[if gte mso 9]>
                <img src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1" width="100" />
                <![endif]-->
              </td>
            </tr>
            <tr>
              <td id="hero" background="{{ img.hero }}" bgcolor="#ffffff" width="650" valign="top" colspan="3">
                <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:650px;height:366px;">
                  <v:fill type="tile" src="https://ea.twimg.com/email/self_serve/media/sample_hero-1489119095855.png" color="#ffffff" />
                  <v:textbox inset="0,0,0,0">
                <![endif]-->
                  <table cellpadding="0" cellspacing="0" border="0" width="650" align="center" class="width_full">
                    <tr>
                      <td class="empty" height="24" colspan="3">
                        &nbsp;
                      </td>
                    </tr>
                    <tr>
                      <td class="empty" width="24">
                        &nbsp;
                      </td>
                      <td class="empty">
                        <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                          <tr>
                            <td class="empty image" align="left">
                              <img src="{{ img.hero_copy }}" class="hero_copy" alt="{{ copy.hero }}" title="{{ copy.hero }}" height="146" style="color: #1DA1F2; font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; font-size: 32px; line-height: 36px; border: none;"/>
                            </td>
                          </tr>
                          <tr>
                            <td class="empty" height="24">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td class="empty">
                              <table border="0" cellspacing="0" cellpadding="0" align="left">
                                <tr>
                                  <td align="center" class="button" bgcolor="#1DA1F2">
                                    <a href="{{ link.cta }}" target="_blank" class="button">
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                      {{ i10n(copy.cta) }}
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                    </a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td class="empty" height="24">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td class="empty">
                              <table border="0" cellspacing="0" cellpadding="0" align="right" class="button" width="150">
                                <tr>
                                  <td align="center" class="countdown_left" bgcolor="#000000">
                                    <a href="{{ link.cta }}" target="_blank" class="countdown_left">
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                      {{ i10n("Starts in") }}
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                    </a>
                                  </td>
                                </tr>
                                <tr>
                                  <td class="countdown_right" bgcolor="#ffffff" align="center">
                                    <a href="{{ link.cta }}" target="_blank" class="countdown_right">
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                      <img src="{{ img.timer }}" height="30" />
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                    </a>

                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td class="empty" height="24">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td class="empty" height="24">
                              &nbsp;
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td class="empty" width="24">
                        &nbsp;
                      </td>
                    </tr>
                  </table>
                <!--[if gte mso 9]>
                  </v:textbox>
                </v:rect>
                <![endif]-->
              </td>
            </tr>
            <tr>
              <td class="text_black h3" align="center" colspan="3">
                {{ tl("test") }}
                {{ tl("test") }}
                {{ tl("test") }}
              </td>
            </tr>
          </table>
          <!-- HEADER END -->
{% endblock %}