{%- set sentence = "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103" -%}

{%- macro noWidow(sentence) -%}
  {%- set newWord = "" -%}
  {%- set newSentence = [] -%}
  {%- set word = "" -%}
  {%- set counter = 0 -%}
  {%- for char in sentence -%}
    {%- if char == " " -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
      {%- set newWord = "" -%}
    {%- elif loop.last -%}
      {%- set newWord = newWord + char -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
    {%- else -%}
      {%- set newWord = newWord + char -%}
    {%- endif -%}
  {%- endfor -%}
  {% for word in newSentence -%}
    {%- if (newSentence|length - counter) == 2 -%}
      {{ word + "&nbsp;" }}
    {%- elif loop.last -%}
      {{ word  }}
    {%- else -%}
      {{ word + " " }}
    {%- endif -%}
    {%- set counter = counter + 1 -%}
  {%- endfor -%}{{ word }}
{%- endmacro -%}

{%- macro fixAddress(sentence) -%}
  {%- set newWord = "" -%}
  {%- set newSentence = [] -%}
  {%- set word = "" -%}
  {%- set counter = 0 -%}
  {%- for char in sentence -%}
    {%- if char == " " -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
      {%- set newWord = "" -%}
    {%- elif loop.last -%}
      {%- set newWord = newWord + char -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
    {%- else -%}
      {%- set newWord = newWord + char -%}
    {%- endif -%}
  {%- endfor -%}
  {% for word in newSentence -%}
    {%- if (newSentence|length - counter) == 2 -%}
      {{ word + "&nbsp;" }}
    {%- elif loop.last -%}
      {{ word  }}
    {%- else -%}
      {{ word + " &#65279;" }}
    {%- endif -%}
    {%- set counter = counter + 1 -%}
  {%- endfor -%}{{ word }}
{%- endmacro -%}

{{ fixAddress(sentence) }}