{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/moments/999756192741253121",   
  "cta" : "https://twitter.com/i/moments/999756192741253121",
  "tweet" : [  
    "https://twitter.com/i/moments/999756192741253121"
  ],  
  "help" : "https://support.twitter.com/",  
  "reset" : "https://twitter.com/account/begin_password_reset?account_identifier={{screen_name}}",  
  "download" : "https://twitter.com/download",
  "unsubscribe" : "{{unsubscribe}}"
} %}

{# COPY #}
{% set copy = {   
  "subject" : [  
    "@{{screen_name}}, have you seen this week's best videos?"
  ],  
  "preheader" : "@TwitterVideo has every must-watch #lol and #whoa.",
  "alt_hero" : "Twitter Videos of the Week",
  "cta" : "See more on Twitter",  
  "headline" : [  
    "Catch up on the best of what's happening on @TwitterVideo"
  ],  
  "body" : [  
    "@TwitterVideo brings it all together in one easy Moment – Surplus of adorable. Head to Twitter for some of the best memes and double takes to brighten your day. Like what you see? Retweet it. See what you like? Tweet it - and your video might just end up in our next weekly roundup."
  ],
  "tweet" : [
    {
      "user_name" : "Twitter",
      "screen_name" : "Twitter",
      "title" : "This week in Twitter Videos: Surplus of adorable.",
      "time" : "Twitter - May 25, 2018",
      "text" : "Dogs—whatever.😐Seals—been there, done that.🙄But what about a bush baby?😧",
      "reply" : "",
      "retweet" : "",
      "like" : "63"
    }
  ],
  "social" : [
    "Reply",
    "Retweet",
    "Like"
  ],  
  "footer" : ["Help", "Reset Password", "Download App", "Unsubscribe"],  
  "disclaimer" : "We sent this to @" + signal("screen_name","Somebody") + ".", 
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103" 
} %}  

Subject: {{ i10n(pt(copy.subject[0])) }}

{{ i10n(pt(copy.preheader)) }}

{{ i10n(pt(copy.alt_hero)) }}
{{ "> " + link.hero }}

=

{{ i10n(pt(copy.headline[0])) }}

{{ i10n(pt(copy.body[0])) }}

=

{{ copy.tweet[0].title }}
{{ copy.tweet[0].time }}
{{ copy.tweet[0].text }}


{{ i10n(pt(copy.cta)) }}
{{ "> " + link.tweet[0] }}

=

{{ i10n(copy.footer[0]) }}
{{ "> " + link.help }}

{{ i10n(copy.footer[1]) }}
{{ "> " + link.reset }}

{{ i10n(copy.footer[2]) }}
{{ "> " + link.download }}


{{ i10n(pt(copy.disclaimer)) }}
{{ i10n(copy.footer[3]) }}
{{ "> " + link.unsubscribe }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}