{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "text" : "https://help.twitter.com/en/managing-your-account/connect-or-revoke-access-to-third-party-apps",
  "text2" : "https://twitter.com/settings/applications",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "help" : "https://support.twitter.com/"
} %}

{# COPY #}
{# COPY #}
{% set copy = {
  "subject_line" : "Twitter Developer Research",
  "alt_logo" : "Twitter",
  "headline" : "We’d like to hear your thoughts.",
  "body" : [
    "Hello,",
    "Our records indicate that you may have used a third-party service such as SocialQuant, Tweetfavy, or SocialCrumble. We have recently become aware that these services may have requested that you share your Twitter password with them. You should never share your password with a third party as it puts your Twitter account at risk of compromise.",
    "To protect your account, we are requiring you to reset your Twitter password. You can complete the password reset process by logging in to Twitter using your browser or the Twitter app. No additional action is required on your part at this time.",
    "When you give your username and password to someone else, they have complete control of your account and can lock you out or take actions that cause your account to be suspended. If you wish to grant a third-party application access to your account, we recommend that you only do so using Twitter’s OAuth method. OAuth is a secure connection method and doesn’t require you to give your Twitter username and password to the third party. Learn about connecting or revoking third-party applications.",
    "We suggest you review third-party applications that have access to your account from time to time. You can revoke access for applications that you don't recognize or that are Tweeting on your behalf by visiting the Applications tab in your account settings.",
    "Regards,",
    "Twitter Platform Operations"
    ],
  "cta" : "Complete survey",
  "footer" : ["Help", "Unsubscribe", "Settings"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter 
{{ "> " + link.logo }}

=

{{ i10n(copy.body[0]) }}

{{ i10n(copy.body[1]) }}

{{ i10n(copy.body[2]) }}

{{ i10n(copy.body[3]) }} 
> {{ link.text }}

{{ i10n(copy.body[4]) }}
> {{ link.text2 }}

{{ i10n(copy.body[5]) }}
{{ i10n(copy.body[6]) }}

=

{{ i10n(copy.footer[0]) }} 
{{ "> " + link.help }}

{{ i10n(copy.footer[1]) }} 
{{ "> " + link.unsubscribe }}

{{ i10n(copy.footer[2]) }} 
{{ "> " + link.settings }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}