{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "https://twitter.com",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "help" : "https://support.twitter.com/"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "Announcement for people using Periscope with third party applications",
  "alt_logo" : "Twitter",
  "headline" : "We’d like to hear your thoughts.",
  "body" : [
    "Protecting your privacy.",
    "We believe you should always know what data we collect from you and how we use it, and that you should have meaningful control over both.",
    "As part of our ongoing commitment to transparency, and in preparation for new EU data protection laws that take effect next month, we're updating Periscope’s Privacy Policy and Terms of Service and consolidating them into Twitter's.",
    "We want to empower you to make the best decisions about the information that you share with us.",
    "You should read our new policy and terms in full, but the key updates include:",
    "One Privacy Policy and Terms of Service now covers both Periscope and Twitter;",
    "The minimum age to use Periscope is 16 years old;",
    "More focus on the controls we offer you over your personal data;",
    "More clarity about how we share your data to prevent harm, comply with law, serve the public interest, and keep Periscope safe and welcoming for everyone.",
    "The new <a href=\"{{#tl1}}https://twitter.com/tos#update{{/tl1}}\" class=\"blue\">Terms</a> and <a href=\"{{#tl2}}https://twitter.com/privacy#update{{/tl2}}\" class=\"blue\">Privacy Policy</a> will take effect on May 25, 2018.",
    "Please contact us as described in our Privacy Policy if you have questions.",
    "Remember, you can use the controls we highlight in our updated policy to limit the information we collect about you or how we use it.",
    "You can also choose to deactivate your Periscope account.",
    "You have the final say about whether and how we process your personal data.",
    "Thank you for your trust and for being part of the Periscope Community!",
    "- Periscope"
    ],
  "cta" : "Complete survey",
  "footer" : ["Help", "Unsubscribe", "Settings"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter 
{{ "> " + link.logo }}

=

Protecting your privacy

We believe you should always know what data we collect from you and how we use it, and that you should have meaningful control over both. As part of our ongoing commitment to transparency, and in preparation for new EU data protection laws that take effect next month, we're updating Periscope's Privacy Policy and Terms of Service and consolidating them into Twitter's. We want to empower you to make the best decisions about the information that you share with us.  

Starting April 25, 2018, all users, including users who access Periscope through our API, can log into the Periscope app or website to review and agree to our new Terms in order to continue using the service. 

To avoid interrupting your use of third party applications that have integrated with Periscope, we highly recommend logging into the Periscope app or website to review and agree to our updated Terms before May 25th. On May 25th, users who have not agreed to our updated Terms will have their log-in tokens revoked and will need to reconnect their third party applications to their Periscope account.

You should read our new policy and Terms in full, but the key updates include:

- One Privacy Policy and Terms of Service now covers both Periscope and Twitter;
- The minimum age to use Periscope is 16 years old;
- More focus on the controls we offer you over your personal data;
- More clarity about how we share your data to prevent harm, comply with law, serve the public interest, and keep Periscope safe and welcoming for everyone.

The new Terms and Privacy Policy will take effect on May 25, 2018. Please contact us as described in our Privacy Policy if you have questions. 

Terms
> http://twitter.com/tos#update

Privacy Policy
> http://twitter.com/privacy#update

Remember, you can use the controls we highlight in our updated policy to limit the information we collect about you or how we use it. You can also choose to deactivate your Periscope account. You have the final say about whether and how we process your personal data. 

Thank you for your trust and for being part of the Periscope Community!

- Periscope

=

{{ i10n(copy.footer[0]) }} 
{{ "> " + link.help }}

{{ i10n(copy.footer[2]) }} 
{{ "> " + link.settings }}

Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103