{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/England/lists/our-world-cup-squad/members",  
  "text" : [  
    "https://twitter.com/england",
    "https://twitter.com/twitteruk",
    "https://twitter.com/search?q=%23WorldCup&src=typeahead_click"
  ],  
  "alt" : [  
    "https://twitter.com"
  ],  
  "cta" : "https://twitter.com/England/lists/our-world-cup-squad/members",
  "logo_twitter_large" : "https://twitter.com/",  
  "about" : "https://twitter.com/about",
  "help" : "https://support.twitter.com/",  
  "reset" : "https://twitter.com/account/begin_password_reset?account_identifier={{screen_name}}",  
  "download" : "https://twitter.com/download",
  "unsubscribe" : "{{unsubscribe}}"
} %}

{# COPY #}
{% set copy = {   
  "subject" : [  
    "@{{screen_name}}, your @England Follow Pack is here!"
  ],  
  "preheader" : "TThe teams are set. Now build yours.",
  "alt_hero" : "#Anticipation is happening. #Obsession is happening. @England is happening. Follow Now",  
  "cta" : "Let's get started",  
  "headline" : [  
    "The teams are selected. Now build yours.",
    "#WorldCup is happening."
  ],  
  "body" : [  
    "Who you gonna follow? The @England Follow Pack lets you select your own team of heroes to follow on Twitter. ",
    "",
    "@TwitterUK",
    "#WorldCup",
    "Download Twitter and watch live video on the following devices:"
  ],  
  "alt" : [  
    "Twitter"
  ],   
  "apps" : [
    "Apple TV",
    "Google Play",
    "Xbox One",
    "Windows 10",
    "Amazon Fire TV"
  ], 
  "footer" : ["Help", "Reset Password", "Download App", "Unsubscribe"], 
  "disclaimer" : "We sent this to @" + signal("screen_name","Somebody") + ".", 
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}   

Subject: {{ copy.subject[0] }}

{{ copy.alt_hero }}
{{ "> " + link.hero }}

=

{{ copy.headline[0] }}

{{ copy.body[0] }} {{ copy.body[1] }}

{{ copy.cta }}
{{ "> " + link.cta }}

{{ copy.headline[1] }}

{{ copy.body[2] }}
{{ "> " + link.text[1] }}

{{ copy.body[3] }}
{{ "> " + link.text[2] }}

=

{{ copy.alt[0] }}
{{ "> " + link.alt[0] }}

=

{{ copy.body[4] }}
{{ copy.apps[0] }} | {{ copy.apps[1] }} | {{ copy.apps[2] }} | {{ copy.apps[3] }}

=

{{ copy.footer[0] }}
{{ "> " + link.about }}

{{ copy.footer[1] }}
{{ "> " + link.help }}

{{ copy.footer[2] }}
{{ "> " + link.download }}

{{ copy.disclaimer }} {{ copy.footer[3] }}
{{ "> {{ unsubscribe }}" }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}