{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/events/923962901135704065?ref_src=twsrc%5Eemail%7Ctwcamp%5EESPN",
  "cta" : "https://twitter.com/i/events/923962901135704065?ref_src=twsrc%5Eemail%7Ctwcamp%5EESPN",
  "text" : [
    "",
    "https://twitter.com/espncfb",
    "https://twitter.com/search?q=%23RankingsReactions&src=tyah",
    "https://twitter.com/i/events/923962901135704065?ref_src=twsrc%5Eemail%7Ctwcamp%5EESPN"
  ],
  "icon" : "https://twitter.com/i/events/923962901135704065?ref_src=twsrc%5Eemail%7Ctwcamp%5EESPN",
  "logo_twitter_large" : "https://twitter.com/twitterlive",
  "schedule" : "https://twitter.com/i/events/923962901135704065?ref_src=twsrc%5Eemail%7Ctwcamp%5EESPN",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {   
  "subject" : [ 
    "@{{screen_name}}, watch ESPN's CFB Rankings Reactions LIVE"
  ],  
  "preheader" : "Go deep with his week's CFB Rankings Reactions",
  "alt_hero" : "Trounce or Triumph?",
  "cta" : "Watch LIVE on", 
  "headline" : [  
    "Watch ESPN's college football Rankings Reactions LIVE",
    "Tuesday | [Time] ET",
    "Watch it. Talk about it."
  ],  
  "body" : [  
    "Get your brackets out -- the College Football Playoffs are right around the corner. From raging rivalries to Heisman hopefuls, Mike Golic Jr. and Jason Fitz go deep with expert analysis and predictions on ESPN's College Football Rankings Reaction Show streaming LIVE every week on Twitter.",
    "@ESPNCFB",
    "#RankingsReactions",
    "http://live.twitter.com/espn",
    "Watch it. Talk about it.",
    "Download Twitter and watch live video on the following devices:"
  ],
  "schedule" : "Rankings Reactions | With Mike Golic Jr. and Jason Fitz | College Football Playoff | Tuesday, November 28, 8pm - 9pm ET | Sunday, December 3, 4pm - 5pm ET",
  "alt" : [  
    "ESPN College Football",
    "Twitter"
  ], 
  "apps" : [
    "Apple TV",
    "Google Play",
    "Roku",
    "Xbox One",
    "Windows 10",
    "Amazon Fire TV"
  ], 
  "footer" : ["About", "Help", "Unsubscribe", "Download App"],  
  "disclaimer" : "This email was meant for @" + signal("screen_name","Somebody") + ".", 
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103" 
} %}  

Subject: {{ i10n(pt(copy.subject[0])) }}

{{ i10n(pt(copy.preheader)) }}

{{ i10n(pt(copy.alt_hero)) }}
{{ "> " + link.hero }}

=

{{ i10n(pt(copy.headline[0])) }}

{{ i10n(pt(copy.body[0])) }}
{{ "> " + link.text[0] }}

{{ i10n(pt(copy.cta + " Twitter")) }}
{{ "> " + link.cta }}

{{ i10n(pt(copy.headline[2])) }}

{{ i10n(pt(copy.body[1])) }}
{{ "> " + link.text[1] }}

{{ i10n(pt(copy.body[2])) }}
{{ "> " + link.text[2] }}

{{ i10n(pt(copy.body[3])) }}
{{ "> " + link.text[3] }}

=

{{ i10n(pt(copy.schedule)) }}
{{ "> " + link.schedule }}

=

{{ i10n(pt(copy.alt[0])) }}
{{ "> " + link.icon }}

{{ i10n(pt(copy.alt[1])) }}
{{ "> " + link.logo_twitter_large }}

=

{{ i10n(pt(copy.body[5])) }}
{{ copy.apps[0] }} | {{ copy.apps[1] }} | {{ copy.apps[2] }} | {{ copy.apps[3] }} | {{ copy.apps[4] }} | {{ copy.apps[5] }}

=

{{ i10n(copy.footer[0]) }}
{{ "> " + link.about }}

{{ i10n(copy.footer[1]) }}
{{ "> " + link.help }}

{{ i10n(copy.footer[2]) }}
{{ "> {{ unsubscribe }}" }}

{{ i10n(copy.footer[3]) }}
{{ "> " + link.download }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}