{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = false %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "terms" : "https://twitter.com/tos#update",
  "privacy" : "https://twitter.com/privacy#update",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "help" : "https://support.twitter.com/"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "Join our exclusive Twitter community",
  "alt_logo" : "Twitter",
  "headline" : "Protecting your privacy",
  "body" : [
    "We believe you should always know what data we collect from you and how we use it, and that you should have meaningful control over both. As part of our ongoing commitment to transparency, and in preparation for new data protection laws that take effect next month, we're updating our Privacy Policy to empower you to make the best decisions about the information that you share with us.",
    "You should read our new policy in full, but the key updates include:",
    "More focus on the controls we offer you over your personal data;",
    "More focus on how Twitter shares your public data broadly and instantly, including through our developer tools;",
    "More transparency and control over how we share your data with business partners; and",
    "More clarity about how we share your data to prevent harm, comply with law, serve the public interest, and keep Twitter safe and welcoming for everyone.",
    "We've also updated our Terms of Service so that we have one set of terms for both Twitter and Periscope, and to clarify that you must have rights to the content you share on our services. We encourage you to read both documents in full, and to contact us as described in our Privacy Policy if you have questions. The new <a href=\"" + tl(link.terms) + "\" class=\"blue\">Terms</a> and <a href=\"" + tl(link.privacy) + "\" class=\"blue\">Privacy Policy</a> will take effect on May 25, 2018. By using our services on or after that date, you'll be agreeing to these updates.",
    "Remember, you can use the controls we highlight in our updated policy to limit the information we collect about you or how we use it. You can also choose to deactivate your Twitter account. You have the final say about whether and how we process your personal data.",
    "Thank you for your trust and for using Twitter!",
    "- Twitter"
    ],
  "cta" : "Join now",
  "footer" : ["Help", "Unsubscribe", "Settings"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo_twitter_white-1524074643839.png"
} %}

{# CSS #}
{% block style %}
    .no-link a {
      color: #8899A6;
      text-decoration: none;
    }

    a {
      color: #1DA1F2;
      text-decoration: none;
    }

    td.button {
      -webkit-border-radius: 25x; 
      -moz-border-radius: 25px; 
      border-radius: 25px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 25px; 
      -moz-border-radius: 25px; 
      border-radius: 25px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight: bold; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .h1 {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 32px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 36px;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }

    .white {
      color: #ffffff;
    }
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#1DA1F2" width="450" class="width_full">
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                  <td height="24"></td>
                </tr>
                <tr>
                  <td class="empty image center" align="center">
                    <a href="{{ track(link.logo,1) }}">
                      <img src="{{ img.logo_twitter }}" width="32" alt="{{ copy.alt_logo }}" title="{{ copy.alt_logo }}" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td height="30"></td>
                </tr>
                <tr>
                  <td class="h1 white center" align="center">
                    <strong>{{ i10n(copy.headline) }}</strong>
                  </td>
                </tr>
                <tr>
                  <td height="70"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}"> 
                    {{ i10n(copy.body[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[1]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty">
                    <table align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                      <tr>
                        <td class="body black" valign="top">
                          &bullet;
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[2]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          &bullet;
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[3]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="body black" valign="top">
                          &bullet;
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[4]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="body black" valign="top">
                          &bullet;
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[5]) }}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[6]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[7]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[8]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[9]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" class="width_full" bgcolor="#ffffff">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.help,3) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ trackm(link.settings,2) }}" class="blue nowrap">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{"{{>manhattan:static:address_twitter/html_content}}"}}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="hide">
      <td class="empty hide" height="32">
        &nbsp;
      </td>
    </tr>
  </table>
{% endblock %}