{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = false %}

{# HERO COPY IMAGE HEIGHT #}
{% set hero_copy_height = 51 %}
{# THIS IS AUTO SET BY ABOVE #}
{% set hero_spacer_height = 366 - hero_copy_height - 119 %}
{% set hero_copy_height_mobile = (hero_copy_height * 0.65)|round %}
{% set hero_spacer_height_mobile = (hero_spacer_height * 0.65)|round %}

{# MAIN COLOR #}
{% set main_color = "#1DA1F2" %}

{# MOBILE FIX REMOVE SWITCH #}
{% set mobile_fix_remove = false %}

{# COPY #}
{% set copy = {
  "preheader" : "Zac Brown Band brings down the house with WELCOME HOME.",
  "subject_line" : "Watch Zac Brown Band LIVE",
  "alt_hero" : "Watch Zac Brown band LIVE",
  "headline" : "Watch Zac Brown Band perform songs from their new album \"WELCOME HOME\"",
  "body" : "See Zac Brown Band live — exclusively on Twitter tonight at
8:25pm ET — as part of the Live Nation Concert Series. Hear songs
off their new album, \"WELCOME HOME\" — available now — as the Grammy
award winners bring down the house down with a sold out crowd in their
hometown of Atlanta.",
  "body_1": "Tonight 8:25PM ET l 5:25PM PT",
  "body_2" : [
    "#zacbrownbandlive",
    "@zacbrownband",
    "Watch it. Talk about it."
  ],
  "cta" : "Watch LIVE on",
  "alt_icon" : "Live Nation",
  "alt_logo" : "Twitter",
  "footer" : [
    "About",
    "Help",
    "Unsubscribe",
    "Download app"
  ],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo-1475170569504.png",
  "hero" : prefix_img + "zbb-1494532314465.jpg",
  "hero_m" : prefix_img + "hero_m-1494541944053.jpg",
  "hero_copy" : prefix_img + "spacer_3_x_1-1493416213665.png",
  "spacer" : prefix_img + "spacer_640x265-1481056487262.png",
  "spacer_1" : prefix_img + "spacer_640_x_1-1494612360514.png",
  "logo_twitter_large" : prefix_img + "dm_logo_twitter-1489534651038.png",
  "icon" : prefix_img + "live-nation-1494532067199.jpg",
  "spacer_2" : prefix_img + "spacer_3_x_1-1493416213665.png"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/859143763771260928?ref_src=twsrc%5EEmail%7Ctwcamp%5EZacBrown",
  "cta" : "https://twitter.com/i/live/859143763771260928?ref_src=twsrc%5EEmail%7Ctwcamp%5EZacBrown",
  "text" : [
    "#",
    "https://twitter.com/zacbrownband"
  ],
  "icon" : "https://twitter.com/livenation",
  "logo_twitter_large" : "https://twitter.com/",
  "about" : "https://about.twitter.com/company",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# CSS #}
{% block style %}
    .h3 {
      font-size: 22px;
      line-height: 26px;
    }

    td.button {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      line-height: 18px;
    }

    a.button {
      font-size: 16px;
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #ffffff;
      text-decoration: none;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      padding: 11px 30px;
      border: 1px solid #1DA1F2;
      display: inline-block;
      font-weight:600;
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }

    .justify {
      text-align: justify;
    }
{% endblock %}

{% block media_query %}
        .iosBlue a {
          text-decoration: underline;
          }

        .width_full {
          width: 100% !important;
        }

        .width_90p {
          width: 90% !important;
        }

        .height_1 {
          height: 1px !important;
        }


        .height_30 {
          height: 30px !important;
        }

        #hero {
          background-image: url({{ img.hero_m }}) !important;
          height: 360px !important;
        }

        #hero .image.center {
          height: 80px;
        }

        .hero_copy {
          height: {{ hero_copy_height_mobile }}px !important;
        }

        .m_top {
          height: 70px !important;
        }

        .hero_copy_horizontal_spacer_m {
          width: 48px !important;
        }

        .width_368 {
          width: 368px !important;
        }

        .width_416 {
          width: 416px !important;
          height: 1px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full" dir="{{ dir('ltr') }}">
            <tr>
              <td id="hero" background="{{ img.hero }}" bgcolor="#ffffff" width="640" valign="top" colspan="3">
                <!--[if gte mso 9]>
                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:640px;height:366px;">
                  <v:fill type="tile" src="{{ img.hero }}" color="#ffffff" />
                  <v:textbox inset="0,0,0,0">
                <![endif]-->
                <a href="{{ tl(link.hero) }}">
                  <table cellpadding="0" cellspacing="0" border="0" width="640" align="center" class="width_full">
                    <tr>
                      <td class="empty m_top" height="118" colspan="3">
                        &nbsp;
                      </td>
                    </tr>
                    <tr>
                      <td class="empty hero_copy_horizontal_spacer_m" width="80">
                        &nbsp;
                      </td>
                      <td class="empty">
                        <table cellpadding="0" cellspacing="0" border="0" align="right">
                          <tr>
                            <td class="empty image center" align="center">
                              <a href="{{ tl(link.hero) }}">
                                <img src="{{ img.hero_copy }}" class="hero_copy" alt="{{ copy.alt_hero }}" title="{{ copy.alt_hero }}" height="{{ hero_copy_height }}" style="color: {{ main_color }}; font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: bold; font-size: 32px; line-height: 36px; border: none;"/>
                              </a>
                            </td>
                          </tr>
                          <tr>
                            <td class="empty hide" height="24">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td class="empty hide" height="120">
                              &nbsp;
                            </td>
                          </tr>
                          <tr>
                            <td class="empty" align="left">
                              <table border="0" cellspacing="0" cellpadding="0" align="left">
                                <tr>
                                  <td align="center" class="button" bgcolor="{{ main_color }}">
                                    <a href="{{ tl(link.hero) }}" target="_blank" class="button">
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                      {{ i10n(copy.cta) }}&nbsp;<img src="{{ img.logo_twitter }}" height="14" class="img_cta_logo"/>
                                      <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                    </a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                      <td class="empty hero_copy_horizontal_spacer_m" width="80">
                        &nbsp;
                      </td>
                    </tr>
                    <tr>
                      <td class="empty center" height="36" colspan="3" align="center">
                        <img src="{{ img.spacer_2 }}" height="1" width="1" class="width_416">
                      </td>
                    </tr>
                  </table>
                </a>
                <!--[if gte mso 9]>
                  </v:textbox>
                </v:rect>
                <![endif]-->
              </td>
            </tr>
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h3 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body) }}
                  </td>
                </tr>
                <td class="empty" height="24">
                  &nbsp;
                </td>
                <tr>
                  <td class="h2 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_1) }}
                  </td>
                </tr>
                <td class="empty" height="8">
                  &nbsp;
                </td>
                <tr>
                  <td class="body deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ tl(link.text[0]) }}" class="deep_grey">
                      {{ i10n(copy.body_2[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ tl(link.text[1]) }}" class="deep_grey">
                      {{ i10n(copy.body_2[1]) }}
                    </a>
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="center" class="button center" bgcolor="#1DA1F2" dir="{{ dir('ltr') }}">
                          <a href="{{ tl(link.cta) }}" target="_blank" class="button nowrap">
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            {{ i10n(copy.cta) }}&nbsp;<img src="{{ img.logo_twitter }}" height="16" />
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="6">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h2 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_2[2]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty center">
                    <table align="center" class="center">
                      <tr>
                        <td class="empty center" align="center">
                          <a href="{{ tl(link.icon) }}" class="blue">
                            <img src="{{ img.icon }}" height="19" title="{{ i10n(copy.alt_icon) }}" alt="{{ i10n(copy.alt_icon) }}"/>
                          </a>
                        </td>
                        <td class="empty" width="20">
                          &nbsp;
                        </td>
                        <td class="empty" width="1" bgcolor="#bec9d1">
                          &nbsp;
                        </td>
                        <td class="empty" width="20">
                          &nbsp;
                        </td>
                        <td class="empty center" align="center">
                          <a href="{{ tl(link.logo_twitter_large) }}" class="blue">
                          <img src="{{ img.logo_twitter_large }}" height="30" title="{{ i10n(copy.alt_logo) }}" alt="{{ i10n(copy.alt_logo) }}"/>
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f5f8fa" width="640" class="width_full">
          <!--[if gte mso 9]>
          <tr>
            <td colspan="3" align="center">
              <img src="{{ img.spacer_1 }}" width="640" />
            </td>
          </tr>
          <![endif]-->
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty center">
              <table align="center" class="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ tl(link.about,7) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ tl(link.help,8) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ '{{ unsubscribe }}' }}" class="blue">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ tl(link.download,9) }}" class="blue">
                      {{ i10n(copy.footer[3]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{"{{>manhattan:static:address_twitter/html_content}}"}}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}
