{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "preheader" : "6 world-class teams, 2 Aussie challengers, $200k. LIVE on Twitter.",
  "subject_line" : "@{{screen_name}}, IEM, Australia's biggest esports event, on LIVE this week.",
  "alt_hero" : "Let the games begin",
  "headline" : "Live on Twitter: IEM Sydney 2017",
  "body" : "The Counter-Strike: Global Offense games are on! For the first time ever, Twitter brings live coverage of IEM Sydney 2017 - Australia’s biggest ever esports event. Watch as legends from SK Gaming, OpTic, FaZe and Astralis battle it out for the $200,000 prize. Your front row seat is wherever you are.",
  "body_2" : [
    "iem.twitter.com",
    "@IEM",
    "#IEM",
    "Watch it. Talk about it."
  ],
  "alt_schedule" : "SATURDAY 6TH | 12:00am - 3:30am - Semi-Final #1 (BO3) | 3:50am - 7:20am - Semi-Final #2 (BO3) | SATURDAY 6TH | 10:00pm - 11:30pm - Showmatch | 11:30pm - 11:40pm - Pre-show | SUNDAY 7TH | 12:00am - 5:35am - Grand Final (BO5) | 5:35am - 5:45am - Winners' Ceremony | 5:45am - 5:55am - Post-match | All times are ET",
  "cta" : "Watch LIVE on",
  "alt_icon" : "Intel Extreme Masters | ESL",
  "alt_logo" : "Twitter",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/856668785591189504?ref_src=twsrc%5EEmail%7Ctwcamp%5EIEM",
  "cta" : "https://twitter.com/i/live/856668785591189504?ref_src=twsrc%5EEmail%7Ctwcamp%5EIEM",
  "text" : [
    "https://twitter.com/i/live/856668785591189504?ref_src=twsrc%5EEmail%7Ctwcamp%5EIEM",
    "https://twitter.com/iem",
    "https://twitter.com/i/live/856668785591189504?ref_src=twsrc%5EEmail%7Ctwcamp%5EIEM"
  ],
  "schedule" : "https://twitter.com/i/live/856668785591189504?ref_src=twsrc%5EEmail%7Ctwcamp%5EIEM",
  "icon" : "https://twitter.com/iem",
  "logo_twitter_large" : "https://twitter.com/",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}
Subject: {{ i10n(pt(copy.subject_line)) }}

{{ i10n(pt(copy.alt_hero)) }} 
{{ "> " + link.hero }}

{{ i10n(pt(copy.headline)) }}

{{ i10n(pt(copy.body)) }}

{{ i10n(pt(copy.cta + " Twitter")) }}
{{ "> " + link.cta }}

{{ i10n(pt(copy.body_2[0])) }}
{{ "> " + link.text[0] }}

{{ i10n(pt(copy.body_2[1])) }} 
{{ "> " + link.text[1] }}

{{ i10n(pt(copy.body_2[2])) }} 
{{ "> " + link.text[2] }}

{{ i10n(pt(copy.body_2[3])) }}

{{ i10n(pt(copy.alt_schedule)) }} 

{{ i10n(pt(copy.alt_icon)) }} 
{{ "> " + link.icon }}

{{ i10n(pt(copy.alt_logo)) }} 
{{ "> " + link.logo_twitter_large }}

=

{{ i10n(copy.footer[0]) }} 
{{ "> " + link.about }}

{{ i10n(copy.footer[1]) }} 
{{ "> " + link.help }}

{{ i10n(copy.footer[2]) }} 
{{ "> {{ unsubscribe }}" }}

{{ i10n(copy.footer[3]) }} 
{{ "> " + link.download }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}