{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "@{{screen_name}}, see the Globe's Red Carpet LIVE",
  "preheader" : "Walk the red carpet with your favorite stars in real time.",
  "alt_hero" : "Walk with the Stars | Steaming LIVE on Twitter | Jan. 8, 6PM ET | 3PM PT",
  "headline_1" : "The HFPA presents",
  "headline_2" : "Globes Red Carpet Live on Twitter",
  "body" : "The red carpet is a little more golden. For the first time ever the Hollywood Foreign Press Association and Twitter give you the kind of LIVE access to the Globes Red Carpet that says bye! bye! to FOMO. Walk the red carpet and talk to your favorite stars in real time. Get the buzz on fashion, the read on the nominees and the drop on your friends. Tweet! And your voice will be heard.",
  "body_2" : "Globes Red Carpet, streaming live only on Twitter, today, Jan. 8th 2017 6:00pm ET, 3:00pm PT to know before the show, and then tune in to NBC for the coast to coast broadcast at 8:00pm ET, 5:00pm PT.",
  "cta" : "Add to Google Calendar",
  "sub_1" : "Follow @goldenglobes for exclusive ",
  "sub_2" : "BTS action and watch live on Twitter for ",
  "sub_3" : "your front row Tweet.",
  "alt_hfpa" : "HFPA",
  "alt_gg" : "Golden Globe Awards",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# COLOR LOGIC #}
{% set color_hex = colors[color].hex %}
{% set color_css = colors[color].css %}
{% set color_icon = colors[color].icons[icon_type] %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo-1475170569504.png",
  "icon_camera_video" : prefix_img + "icon_camera_video-1481157796076.png",
  "hero" : prefix_img + "cm_golden_globes_hero_v2-1483553497341.jpg",
  "spacer" : prefix_img + "spacer_650x265-1481056487262.png",
  "spacer_1" : prefix_img + "spacer_650x1-1481059174655.png",
  "logo_gg" : prefix_img + "cm_golden_globes_logo-1482957263693.png",
  "logo_hfpa" : prefix_img + "cm_golden_globes_logo_hfpa-1483639912840.png"
} %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "cta" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "text" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "text_2" : "https://twitter.com/i/live/807341739375636480?ref_src=twsrc%5Eemail%7Ctwcamp%5EGG",
  "gcal" : "https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=amNhaDZmcTA5NnFvdDI3ZDBwZmRpMzhpa2MgY2RlbGxvc2FAdHdpdHRlci5jb20&tmsrc=cdellosa%40twitter.com",
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# CSS #}
{% block style %}
    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:normal; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }
{% endblock %}

{% block media_query %}
        .width_full {
          width: 100% !important;
        }

        #hero {
          background-image: url({{ img.hero }}) !important;
          background-size: cover !important; 
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty image">
        <a href="{{ track(link.hero,1) }}">
          <img src="{{ img.hero }}" width="640" class="width_full" title="{{ i10n(copy.alt_hero) }}" />
        </a>
      </td>
    </tr>
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h4 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline_1) }}
                  </td>
                </tr>
                <tr>
                  <td class="h2 deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline_2) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="center" class="button center" bgcolor="#1DA1F2" dir="{{ dir('ltr') }}">
                          <a href="{{ track(link.gcal,2) }}" target="_blank" class="button">
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            {{ i10n(copy.cta) }}
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body deep_grey" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body_2) }} <a href="{{ track(link.text,3) }}" class="deep_grey">goldenglobes.twitter.com</a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty image" align="center">
                    <img src="{{ img.logo_hfpa }}" width="89" alt="{{ copy.alt_hfpa }}" title="{{ copy.alt_hfpa }}"/>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="16">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty image" align="center">
                    <img src="{{ img.logo_gg }}" width="89" alt="{{ copy.alt_gg }}" title="{{ copy.alt_gg }}"/>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty">
                    <table align="center" width="300" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td class="h4 blue center" align="center" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.sub_1 + copy.sub_2 + copy.sub_3) }}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f5f8fa" width="640" class="width_full">
          <!--[if gte mso 9]>
          <tr>
            <td colspan="3" align="center">
              <img src="{{ img.spacer_1 }}" width="640" />
            </td>
          </tr>
          <![endif]-->
          <tr>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.about,4) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.help,5) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ '{{ unsubscribe }}' }}" class="blue">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.download,6) }}" class="blue">
                      {{ i10n(copy.footer[3]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="90">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}