{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "icon" : "https://twitter.com",
  "self" : "https://twitter.com/{{contributor.profile.get.screenName}}",
  "team" : "https://twitter.com/{{contributee.profile.get.screenName}}",
  "acting" : "https://twitter.com/{{acting.profile.get.screenName}}",
  "cta_1" : mustache(
    "https://tweetdeck.twitter.com/",
    "https://twitter.com"
    ),
  "tweetdeck" : mustache(
    "https://tweetdeck.twitter.com/",
    "https://twitter.com"
    ),
  "profile" : mustache(
    "{{{userWrapper.profileUrl.get}}}",
    "https://twitter.com/jqiu"
    ),
  "profile_img" : mustache(
    "{{{userWrapper.profileUrl.get}}}",
    "https://twitter.com/jqiu"
    ),
  "full_name" : mustache(
    "{{{userWrapper.profileUrl.get}}}",
    "https://twitter.com/jqiu"
    ), 
  "screen_name" : mustache(
    "{{{userWrapper.profileUrl.get}}}",
    "https://twitter.com/jqiu"
    ), 
  "cta_2" : mustache(
    "{{{contributor.screen_name_link}}}",
    "https://twitter.com"
    ),
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {
  "subject" : "{{{contributor.profile.get.name}}} has been invited to Tweet from @{{{contributee.profile.get.screenName}}}.",
  "preheader" : "You have a new follower on Twitter.",
  "logo" : "Twitter",
  "title" : mustache(
    "You have been given permission to Tweet from @{{#sender}}{{screen_name}}{{/sender}}. <" + trackm(link.team,2) + ">",
    "You have been given permission to Tweet from <a href=\"" + track(link.team,2) + "\">@design</a>."
    ),
  "cta_1" : "Go to TweetDeck",
  "name_real" : mustache(
    "{{{full_name}}}",
    "Kate Freebarin"
  ),
  "name_screen" : mustache(
    "@{{screen_name}} {{#lang_ja}} さん{{/lang_ja}}{{#lang_ko}} 님{{/lang_ko}}",
    "@kickass"
    ),
  "cta_2" : "Follow",
  "intro" : mustache(
    "{{{bio.get}}}",
    "Design @ twitter | Health coach (IIN 2015) & nutrition nerd | Love creating & making | Industrial designer at heart | Co-slave to @misterpurs"
    ),
  "location" : mustache(
    "{{location.get}}",
    "San Francisco, CA"
    ),
  "number_following" : mustache(
    "{{following_count.compact}}",
    661
    ),
  "number_follower" : mustache(
    "{{followers_count.compact}}",
    549
    ),
  "following" : "Following",
  "follower" : "Followers",
  "body" : mustache(
    "This feature makes TweetDeck <" + track(link.tweetdeck,2) + "> more secure for teams by avoiding the need to share passwords.",
    "Kate Freebarin will be able to use <a href=\"" + track(link.tweetdeck,2) + "\">TweetDeck</a> to Tweet from the <a href=\"" + track(link.team,2) + "\">@design</a> more secure for teams by avoiding the need to share passwords."
    ),
  "body_2" : "Learn more about teams",
  "body_3" : mustache(
    "Start by visiting tweetdeck.twitter.com <" + track(link.tweetdeck,4) + ">.",
    "Start by visiting  <a href=\"" + track(link.tweetdeck,4) + "\">tweetdeck.twitter.com</a>."
    ),
  "footer" : ["Help", "Update who can invite me to their team"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}
Subject: {{ i10n(copy.subject) }}

{{ mustache("{{#recipient}}") }}
Twitter {{ "<" + trackm(link.logo,1) + ">" }}

{{ i10n(copy.title) }}
  
{{ i10n(copy.cta_1) }} {{ "<" + track(link.cta_1,1) + ">" }}
{{ mustache("{{/recipient}}") }}

=

{{ mustache("{{#sender}}") }}
{{ i10n(copy.name_real) }}
{{ i10n(copy.name_screen) }}

{{ mustache("{{#userWrapper}}{{#bio.isDefined}}") }}
{{ i10n(copy.intro) }} {{ copy.location }}
{{ mustache("{{/bio.isDefined}}{{/userWrapper}}") }}

{{ copy.number_following }} {{ i10n(copy.following) }}
{{ copy.number_follower }} {{ i10n(copy.follower) }}

{{ "<" + trackm(link.profile,2) + ">" }}
{{ mustache("{{/sender}}") }}

=

{{ i10n(copy.body) }}

{{ i10n(copy.body_2) }}

=

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,3) + ">" }}

{{ copy.address }}