{% extends "includes/layout.html" %}
{% include "includes/macros_notifications.html" %}

{# BGCOLOR MAIN #}
{% set bgcolor_main = "#ffffff" %}

{# IBIS SWITCH #}
{% set ibis_2 = false %}

{% set mobile_fix_remove = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "avatar" : "http://twitter.com/{{#recipient}}{{screen_name}}{{/recipient}}",
  "cta" : "https://twitter.com/i/notifications",
  "cta_m" : "https://twitter.com/download",
  "icon" : {
    "follow" : "https://twitter.com/i/notifications",
    "like" : "https://twitter.com/i/notifications",
    "mention" : "https://twitter.com/i/notifications",
    "reply" : "https://twitter.com/i/notifications",
    "retweet" : "https://twitter.com/i/notifications"
  },
  "text" : "http://twitter.com",
  "help" : "https://support.twitter.com/",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}"
} %}

{# COPY #}
{% set copy = {
  "subject" : "@{{#recipient}}{{screen_name}}{{/recipient}}, check out the notification you have on Twitter",
  "subject_p" : "@{{#recipient}}{{screen_name}}{{/recipient}}, check out the notifications you have on Twitter",
  "alt_logo" : "Twitter",
  "title" : "{{#recipient}}{{screen_name}}{{/recipient}} requested to follow you",
  "cta" : "See request",
  "header" : "Likes, Retweets, new followers, and more — you’ll find them all in your Notifications. Here’s a glimpse.",
  "body" : "When someone likes your Tweet, mentions you, or follows you, you can view all the activity in Notifications.",
  "body_2" : "See how others have interacted with you on Twitter.",
  "icon" : ["new follower", "like", "reply", "Retweet", "mention", "contact joined"],
  "icon_p" : ["new followers", "likes", "replies", "Retweets", "mentions", "contacts joined"],
  "icon_cta" : ["See it","See them"],
  "education" : [
    "Why did you get this email?",
    "All your mentions, follows, replies, likes, and Retweets are consolidated into this convenient new digest. Now you’ll know exactly what’s happening with your Tweets without cluttering up your inbox."
  ],
  "footer" : ["Help", "Settings", "Unsubscribe"],
  "disclaimer" : "We sent this to @" + mustache("{{#recipient}}{{screen_name}}{{/recipient}}","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "spacer_3_1" : prefix_img + "spacer_3_x_1-1480718996570.png",
  "avatar" : "{{{recipient.userWrapper.profile.get.profileImageUrls.get.reasonablySmall.httpsUrl}}}",
  "logo" : prefix_img + "logo_twitter-1497383721365.png",
  "icon" : {
    "follow" : prefix_img + "edge_follow-1498066923149.png",
    "like" : prefix_img + "edge_like-1498066923154.png",
    "mention" : prefix_img + "edge_reply-1498066923157.png",
    "reply" : prefix_img + "edge_reply-1498066923157.png",
    "retweet" : prefix_img + "edge_retweet-1498066923163.png"
  },
  "tweet" : [
    {
      "avatar" : prefix_img + "tweet_avatar_01-1518635499337.jpg",
      "photo" : prefix_img + "tweet_01-1518635497483.jpg"
    }
  ],
  "social" : [
    prefix_img + "icon_reply-1497559206779.png",
    prefix_img + "icon_retweet-1497559206722.png",
    prefix_img + "icon_like-1497559206788.png"
    ]
} %}

{# CSS #}
{% block style %}
    .wrapper {
      min-width: 400px;
    }

    .h3 {
      line-height: 22px;
    }

    a {
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }};
    }

    .white a {
      color: #ffffff;
      text-decoration: none;
    }

    .a_deep_grey a {
      color: #8899A6;
    }

    .a_text_black a {
      color: #292F33;
    }

    .color {
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }};
    }

    td.button {
      -webkit-border-radius: 50px; 
      -moz-border-radius: 50px; 
      border-radius: 50px; 
      line-height: 18px;
    }

    a.button_white {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }}; 
      text-decoration: none;
      -webkit-border-radius: 50px; 
      -moz-border-radius: 50px; 
      border-radius: 50px; 
      padding: 8px 20px; 
      border: 1px solid #ffffff;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    a.button_white_2 {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: {{ mustache("#{{randomBgColor}}","#1DA1F2") }}; 
      text-decoration: none;
      -webkit-border-radius: 50px; 
      -moz-border-radius: 50px; 
      border-radius: 50px; 
      padding: 8px 20px; 
      border: 1px solid {{ mustache("#{{randomBgColor}}","#1DA1F2") }};
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    a.button {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 50px; 
      -moz-border-radius: 50px; 
      border-radius: 50px; 
      padding: 8px 18px; 
      border: 1px solid {{ mustache("#{{randomBgColor}}","#1DA1F2") }};
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    } 

    .card {
      padding: 0px;
      border: 1px solid #aab8c2;
      background-color: #ffffff;
      border-radius: 4px;
    }

    .avatar {
      border: none;
      padding: 0px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .avatar_2 {
      border: none;
      padding: 0px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .tweet_username {
      text-decoration:none;
      font-family:Helvetica,Arial,sans-serif;
      font-size:16px;
      line-height:18px;
      font-weight:bold;
      color:#292f33;
      padding:0px;
      display:block;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space:nowrap;
    }

    .tweet_screenname {
      text-decoration:none;
      font-family:Helvetica,Arial,sans-serif;
      font-size:14px;
      line-height:16px;
      color:#657786;
      padding:0px;
      display:block;
      overflow:hidden;
      text-overflow: ellipsis;
      white-space:nowrap;
    }

    .tweet_text {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: #31373b;
      padding: 0px;
    }

    .tweet_text_grey {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 14px;
      line-height: 18px;
      color: #657786;
      padding: 0px;
    }

    .tweet_social {
      font-family: Helvetica,Arial,sans-serif;
      font-size: 12px;
      line-height: 16px;
      color: #657786;
      vertical-align: middle;
    }

    a .deep_grey {
      color: #657786;
    }  
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
          height: auto !important;
        }

        .width_24 {
          width: 12px !important;
        }

        .height_30 {
          height: 30px !important;
        }

        .dots {
          max-width: 100px !important;
        }
{% endblock %}

{% block style_custom %}
    <style type="text/css" inline="false">
      /* Windows 10 Mail Fix */
      a { text-decoration: none; }
      /* a:visited { color: #8899A6; text-decoration:none; } */
      .addressLink a { color: #8899A6 !important; text-decoration: none !important; }
      /* Windows 10 Mail Fix End */

      .text_black a {
        color: #292F33 !important;
      }
    </style>
    <!--[if IE]>
    <style type="text/css" inline="false">
        /* Outlook 2000 - 2003 Canopy Image Fix */
        .canopy img {
            height: 154px !important;
        }
    </style>
    <![endif]-->
{% endblock %}

{% block body %}
  {{ header_begin(mustache("#ffffff","#ffffff")) }}
  {{ header_spacer(24) }}
  {{ header_spacer(24) }}
  {{ header_spacer(24) }}
  <tr>
    <td>
      <table align="{{ align('left') }}">
        <tr>
          <td class="image empty" align="{{ align('left') }}">
            <a href="{{ tl(link.avatar) }}">
              <img src="{{ img.avatar }}" width="32" class="avatar" />
            </a>
          </td>
        </tr>
      </table>
      <table align="{{ align('right') }}">
        <tr>
          <td class="image empty" align="{{ align('right') }}">
            <a href="{{ tl(link.logo) }}">
              <img src="{{ img.logo }}" width="32" alt="{{ copy.alt_logo }}" title="{{ copy.alt_logo }}" />
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  {{ header_spacer(12) }}
  {{ header_title(i10n(copy.title),"left")}}
  {{ header_spacer(18) }}
  <!-- BUTTON -->
  <tr>
    <td class="empty" align="{{ align('left') }}">
      <table border="0" cellspacing="0" cellpadding="0" align="{{ align('left') }}">
        <tr>
          <td align="center" class="button" bgcolor="{{ mustache('#{{randomBgColor}}','#1DA1F2') }}">
            <a href="{{ tl(link.cta,2) }}" target="_blank" class="button">
              <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
              {{ i10n(copy.cta) }}
              <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
  {{ header_end() }}
  <table width="100%" height="24">
    <tr>
      <td>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="empty width_24" width="24">
        <!--[if gte mso 9]>
        <img src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1" width="48" />
        <![endif]-->
      </td>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td width="0" class="empty m_width_12"></td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" class="card width_full" width="480">
                <tr>
                  <td height="12" class="empty" colspan="3"></td>
                </tr>
                <tr>
                  <td width="24" class="m_width_12">
                    &nbsp;
                  </td>
                  <td class="tweet_text" align="{{ align('left') }}">
                    Kate Taylor and 3 others followed
                  </td>
                  <td width="24" class="m_width_12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td height="12" class="empty" colspan="3"></td>
                </tr>
                <tr>
                  <td height="1" bgcolor="#aab8c2" class="empty" colspan="3"></td>
                </tr>
                <tr>
                  <td width="24" class="m_width_12">
                    &nbsp;
                  </td>
                  <td>
                    <table cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td height="24" class="m_height_12"></td>
                      </tr>
                      <tr>
                        <td>
                          <table cellpadding="0" cellspacing="0" border="0" width="432" align="{{ align('left') }}" class="width_full">
                            <tr>
                              <td align="{{ align('left') }}" width="70">
                                <img alt="avatar" src="{{ img.tweet[0].avatar }}" width="70" height="70" class="avatar_2">
                              </td>
                              <td class="empty" width="10"></td>
                              <td>
                                <table cellpadding="0" cellspacing="0" border="0" align="{{ align('left') }}">
                                  <tr>
                                    <td class="tweet_username"  align="{{ align('left') }}">
                                      Chris Dellosa <img src="https://ea.twimg.com/email/self_serve/media/ico_verified.png" width="14" height="14" style="width:14px;height:14px;vertical-align:top;border:none;display:inline-block">
                                    </td>
                                  </tr>
                                  <tr>
                                    <td class="tweet_screenname"  align="{{ align('left') }}">
                                      @c_dellosa
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                      <tr>
                        <td height="24" class="m_height_12"></td>
                      </tr>
                      <tr>
                        <td class="tweet_text"  align="{{ align('left') }}">
                          email dev @twitter and music producer <span class="deep_grey">- San Francisco</span>
                        </td>
                      </tr>
                      <tr>
                        <td height="14" class="m_height_12"></td>
                      </tr>
                      <tr>
                        <td class="tweet_text"  align="{{ align('left') }}">
                          <span class="deep_grey"><strong>589</strong> Following &nbsp;&nbsp; <strong>870</strong> Followers</span>
                        </td>
                      </tr>
                      <tr>
                        <td height="24" class="m_height_12"></td>
                      </tr>
                    </table>
                  </td>
                  <td width="24" class="m_width_12">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td width="0" class="empty m_width_12"></td>
          </tr>
        </table>
      </td>
      <td class="empty width_24" width="24">
        <!--[if gte mso 9]>
        <img src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1" width="48" />
        <![endif]-->
      </td>
    </tr>
  </table>
  <!-- FOOTER START -->
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="472" class="width_full">
    <tr>
      <td class="empty" width="12">
        &nbsp;
      </td>
      <td class="empty" align="center">
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" dir="{{ dir('ltr') }}">
          <tr>
            <td class="empty" height="72">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td class="supporting deep_grey" align="center">
              <a href="{{ tl(link.help,9) }}" class="color">
                {{ i10n(copy.footer[0]) }}
              </a> &nbsp;|&nbsp;
              <a href="{{ track(link.settings,1) }}" class="color">
                {{ i10n(copy.footer[1]) }}
              </a> &nbsp;|&nbsp;
              <a href="{{ link.unsubscribe }}" class="color">
                {{ i10n(copy.footer[2]) }}
              </a>
            </td>
          </tr>
          <tr>
            <td class="empty" height="12">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td class="footer deep_grey" align="center">
              {{ i10n(copy.disclaimer) }}
            </td>
          </tr>
          <tr>
            <td class="empty" height="12">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td class="footer deep_grey" align="center">
              <span class="addressLink">{{ fixAddress(copy.address) }}</span>
            </td>
          </tr>
          <tr>
            <td class="empty" height="72">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
      <td class="empty" width="12">
        &nbsp;
      </td>
    </tr>
  </table>
  <!-- FOOTER END -->
{% endblock %}