{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "text_1" : "https://twitter.com/settings/account/./",
  "text_2" : "https://mobile.twitter.com/settings/password/./",
  "text_3" : " https://t.co/login-verification",
  "help" : "https://support.twitter.com",  
  "reset" : "https://twitter.com/account/begin_password_reset?account_identifier={{screen_name}}",
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "An Update on Your Account Security",
  "alt_logo" : "Twitter",
  "headline" : "We’d like to hear your thoughts.",
  "body" : [
    "Hi @{{screen_name}},",
    "When you set a password for your Twitter account, we use technology that masks it so no one at the company can see it.",
    "We recently identified a bug that stored passwords unmasked in an internal log.",
    "We have fixed the bug, and our investigation shows no indication of breach or misuse by anyone.",
    "Out of an abundance of caution, we ask that you consider changing your password on all services where you’ve used this password.",
    "You can change your Twitter password anytime by going to the password <a href=\"" + tl(link.text_2) + "\" class=\"blue\">settings</a> page.",
    "About The Bug",
    "We mask passwords through a process called hashing using a function known as bcrypt, which replaces the actual password with a random set of numbers and letters that are stored in Twitter's system.",
    "This allows our systems to validate your account credentials without revealing your password.",
    "This is an industry standard.",
    "Due to a bug, passwords were written to an internal log before completing the hashing process.",
    "We found this error ourselves, removed the passwords, and are implementing plans to prevent this bug from happening again.",
    "Tips on Account Security",
    "Again, although we have no reason to believe password information ever left Twitter's systems or was misused by anyone, there are a few steps you can take to help us keep your account safe:",
    "Change your password on Twitter and on any other service where you may have used the same password.",
    "Use a strong password that you don't reuse on other services.",
    "Enable <a href=\"" + tl(link.text_3) + "\" class=\"blue\">login verification</a>, also known as two factor authentication.",
    "This is the single best action you can take to increase your account security.",
    "Use a password manager to make sure you're using strong, unique passwords everywhere.",
    "We are very sorry this happened.",
    "We recognize and appreciate the trust you place in us, and are committed to earning that trust every day.",
    "Team Twitter"
    ],
  "footer" : ["Help", "Reset Password", "Download App", "Unsubscribe"],  
  "disclaimer" : "We sent this to @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "icon_twitter_blue.png"
} %}

{# CSS #}
{% block style %}
    .no-link a {
      color: #8899A6;
      text-decoration: none;
    }

    a {
      color: #1DA1F2;
      text-decoration: none;
    }

    td.button {
      -webkit-border-radius: 25x; 
      -moz-border-radius: 25px; 
      border-radius: 25px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 25px; 
      -moz-border-radius: 25px; 
      border-radius: 25px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight: bold; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }

    .footer_grey {
      color: #8899a6;
    }

    .link_deep_grey {
      color: #8899a6;
      text-decoration: underline;
    }
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="image empty" align="{{ align('right') }}">
                    <a href="{{ track(link.logo,3) }}">
                      <img src="{{ img.logo_twitter }}" width="32" alt="{{ copy.alt_logo }}" title="{{ copy.alt_logo }}" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}"> 
                    {{ i10n(copy.body[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[1]) }} {{ i10n(copy.body[2]) }} {{ i10n(copy.body[3]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[4]) }} {{ i10n(copy.body[5]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    <strong>{{ i10n(copy.body[6]) }}</strong>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[7]) }} {{ i10n(copy.body[8]) }} {{ i10n(copy.body[9]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[10]) }} {{ i10n(copy.body[11]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    <strong>{{ i10n(copy.body[12]) }}</strong>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[13]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty">
                    <table align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                      <tr>
                        <td class="body black" valign="top">
                          {{ i10n("1.") }}
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[14]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n("2.") }}
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[15]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="body black" valign="top">
                          {{ i10n("3.") }}
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[16]) }} {{ i10n(copy.body[17]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="body black" valign="top">
                          {{ i10n("4.") }}
                        </td>
                        <td width="10">&nbsp;</td>
                        <td class="body black" valign="top" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                          {{ i10n(copy.body[18]) }}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[19]) }} {{ i10n(copy.body[20]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[21]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
          <tr>
            <td class="empty width_20" width="45">
              &nbsp;
            </td>
            <td class="empty center">
              <table align="center" class="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong footer_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ tl(link.help) }}" class="footer_grey">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ tl(link.reset) }}" class="footer_grey">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ tl(link.download) }}" class="footer_grey">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer footer_grey center" align="center">
                    {{ i10n(copy.disclaimer) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer footer_grey center" align="center">
                    <span class="addressLink">{{"{{>manhattan:static:address_twitter/html_content}}"}}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="45">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="hide">
      <td class="empty hide" height="32">
        &nbsp;
      </td>
    </tr>
  </table>
{% endblock %}