{% extends "includes/layout.html" %}
{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# COPY #}
{% set copy = {
  "subject_line" : mustache("{{#denied_template}}{{_i}}Request to verify @{{requested_screenname}}{{/i}}{{/denied_template}}{{#needs_edits_template}}{{_i}}Request to verify @{{requested_screenname}}{{/i}}{{/needs_edits_template}}{{#pre_verified_template}}{{_i}}Request to verify @{{requested_screenname}}{{/i}}{{/pre_verified_template}}{{#verified_template}}{{_i}}Congratulations! @{{requested_screenname}} is now verified.{{/i}}{{/verified_template}}"),
  "alt_logo" : "Twitter",
  "headline" : "Hi{{#account_username}} {{account_username}}{{/account_username}},",
  "body" : [
    "Thanks for your request to verify <a href=\"{{requested_user_link}}\">@{{requested_screenname}}</a>.",
    "We reviewed the account, and unfortunately it is not eligible to be verified at this time. Please visit our <a href=\"https://support.twitter.com/articles/20174631\">Help Center</a> for more information about the types of accounts we verify.",
    "We received your request to verify the account <a href=\"{{requested_user_link}}\">@{{requested_screenname}}</a>.",
    "We need you to edit some elements and/or provide additional information.",
    "For individuals, check the following:",
    "Does the account name reflect the real name of the person?",
    "Did you submit a government-issued photo ID, and was it legible? We can't accept selfies or personal photos.",
    "For companies, brands, organizations, check the following:",
    "Does the profile image and/or header image reflect the corporation or company's branding? It should.",
    "Does the account have a corporate or company email address associated with it? This is required.",
    "Your account will be eligible to become verified when all of the applicable outlined criteria has been met. For information about when you can submit another request to verify this account, and for details about what types of accounts we verify, visit our <a href=\"https://support.twitter.com/articles/20174631\">Help Center</a>.",
    "We received your request to verify <a href=\"{{requested_user_link}}\">@{{requested_screenname}}</a>.",
    "This account is eligible to verified, however its Tweets are currently protected. Please update the account's Tweet privacy setting (find instructions <a href=\"https://support.twitter.com/articles/20169886\">here</a>) to unprotect the account's Tweets. The verified badge will automatically appear when the account's Tweets are unprotected.",
    "Please visit our <a href=\"https://support.twitter.com/articles/20174630\">Help Center</a> for information about features for verified accounts.",
    "The account <a href=\"{{requested_user_link}}\">@{{requested_screenname}}</a> is now verified.",
    "Please visit our <a href=\"https://support.twitter.com/articles/20174630\">Help Center</a> for information about features for verified accounts."
    ],
  "cta" : "Reset password",
  "footer" : ["Help Center", "Contact us", "Not my account"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# COLOR LOGIC #}
{% set color_hex = colors[color].hex %}
{% set color_css = colors[color].css %}
{% set color_icon = colors[color].icons[icon_type] %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "icon_twitter_blue.png"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "settings" : "https://twitter.com/settings",
  "help" : "https://support.twitter.com/",
  "not_my_account" : "{{not_my_account}}",
  "contact_us" : "https://support.twitter.com/forms"
} %}

{# CSS #}
{% block style %}
    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a {
      color: #1DA1F2;
      text-decoration: none;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight: bold; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
        }

        .height_30 {
          height: 30px !important;
        }
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="image empty" align="{{ align('right') }}">
                    <a href="{{ trackm(link.logo,1) }}">
                      <img src="{{ img.logo_twitter }}" width="32" alt="{{ copy.alt_logo }}" title="{{ copy.alt_logo }}" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h2 black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                {{ mustache("{{#denied_template}}")}}
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[1]) }}
                  </td>
                </tr>
                {{ mustache("{{/denied_template}}")}}
                {{ mustache("{{#needs_edits_template}}")}}
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[2]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[3]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[4]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty">
                    <table align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                      <tr>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black" align="{{ align('left') }}" valign="top">
                          &bull;
                        </td>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black">
                          {{ i10n(copy.body[5]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="empty" colspan="4" height="12">
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black" align="{{ align('left') }}" valign="top">
                          &bull;
                        </td>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black">
                          {{ i10n(copy.body[6]) }}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[7]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty">
                    <table align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                      <tr>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black" align="{{ align('left') }}" valign="top">
                          &bull;
                        </td>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black">
                          {{ i10n(copy.body[8]) }}
                        </td>
                      </tr>
                      <tr>
                        <td class="empty" colspan="4" height="12">
                          &nbsp;
                        </td>
                      </tr>
                      <tr>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black" align="{{ align('left') }}" valign="top">
                          &bull;
                        </td>
                        <td class="empty" width="12">
                          &nbsp;
                        </td>
                        <td class="body black">
                          {{ i10n(copy.body[9]) }}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[10]) }}
                  </td>
                </tr>
                {{ mustache("{{/needs_edits_template}}")}}
                {{ mustache("{{#pre_verified_template}}")}}
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[11]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[12]) }}
                  </td>
                </tr>
                {{ mustache("{{/pre_verified_template}}")}}
                {{ mustache("{{#verified_template}}")}}
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[13]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[14]) }}
                  </td>
                </tr>
                {{ mustache("{{/verified_template}}")}}
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center">
          <tr>
            <td class="empty" height="1">
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" class="width_full" bgcolor="#ffffff">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                {{ mustache("{{#denied_template}}")}}
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.help,3) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.contact_us,4) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.not_my_account,5) }}" class="blue nowrap">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                  </td>
                </tr>
                {{ mustache("{{/denied_template}}")}}
                {{ mustache("{{#needs_edits_template}}")}}
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.help,3) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.contact_us,4) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    {{ mustache("{{#isEmailStateUnconfirmed}}")}}&nbsp;|&nbsp;
                    <a href="{{ track(link.not_my_account,5) }}" class="blue nowrap">
                      {{ i10n(copy.footer[2]) }}
                    </a>{{ mustache("{{/isEmailStateUnconfirmed}}")}}
                  </td>
                </tr>
                {{ mustache("{{/needs_edits_template}}")}}
                {{ mustache("{{#pre_verified_template}}")}}
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.help,3) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.contact_us,4) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    {{ mustache("{{#isEmailStateUnconfirmed}}")}}&nbsp;|&nbsp;
                    <a href="{{ track(link.not_my_account,5) }}" class="blue nowrap">
                      {{ i10n(copy.footer[2]) }}
                    </a>{{ mustache("{{/isEmailStateUnconfirmed}}")}}
                  </td>
                </tr>
                {{ mustache("{{/pre_verified_template}}")}}
                {{ mustache("{{#verified_template}}")}}
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ track(link.help,3) }}" class="blue">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ track(link.contact_us,4) }}" class="blue">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    {{ mustache("{{#isEmailStateUnconfirmed}}")}}&nbsp;|&nbsp;
                    <a href="{{ track(link.not_my_account,5) }}" class="blue nowrap">
                      {{ i10n(copy.footer[2]) }}
                    </a>{{ mustache("{{/isEmailStateUnconfirmed}}")}}
                  </td>
                </tr>
                {{ mustache("{{/verified_template}}")}}
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{ fixAddress(copy.address) }}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr class="hide">
      <td class="empty hide" height="32">
        &nbsp;
      </td>
    </tr>
  </table>
{% endblock %}