{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "text" : [
    "https://twitter.com/privacy",
    "https://twitter.com/personalization",
    "https://twitter.com/your_twitter_data",
    "https://twitter.com/personalization",
    "https://twitter.com/personalization",
    "https://support.twitter.com/forms/privacy"
  ],
  "help" : "https://support.twitter.com/",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {
  "subject" : "Important updates to our Privacy Policy",
  "alt_logo" : "Twitter",
  "title" : "Update to our Privacy Policy",
  "body" : [
    "We’re updating our <a href=\"{{_tl1}}https://twitter.com/privacy{{/tl1}}\" class=\"blue\">Privacy Policy</a> to reflect improvements we’ve made to Twitter.",

    "We encourage you to read the updated policy in full — by using our services on or after June 18, 2017, you’ll be agreeing to these revisions.",

    "Here are some of the important updates:",

    "<strong>Transparency and control:</strong> We’ve launched new <a href=\"{{_tl2}}https://twitter.com/personalization{{/tl2}}\" class=\"blue\">Personalization and Data settings</a> and expanded <a href=\"{{_tl3}}https://twitter.com/your_twitter_data{{/tl3}}\" class=\"blue\">Your Twitter Data</a> to give you more transparent access to your information and more granular controls over how your data is used by Twitter.",

    "These enhanced settings will replace Twitter’s reliance on the Do Not Track browser setting, which we will no longer support.",

    "<strong>Web data:</strong> We’ve updated how we store and use data from other websites that integrate Twitter content like embedded timelines, to improve our services and personalize the content we show you including ads.",

    "We do not store web page visit data for users who are in the European Union and EFTA States.",

    "<strong>Data sharing:</strong> We’ve updated how we share non-personal, aggregated, and device-level data, including under select partnership agreements that allow the data to be linked to your name, email, or other personal information if you give the partner your consent.",

    "You can control whether your data is shared under these partnership agreements in your <a href=\"{{_tl4}}https://twitter.com/personalization{{/tl4}}\" class=\"blue\">Personalization and Data settings</a>.",

    "<strong>Personalization across your devices:</strong> We’ve explained how we use data to personalize across your devices, and given you additional control in your <a href=\"{{_tl5}}https://twitter.com/personalization{{/tl5}}\" class=\"blue\">Personalization and Data settings</a> for devices that you haven’t used to log into Twitter.",

    "<strong>Privacy Shield and the Digital Advertising Alliance:</strong> We’re excited to announce that we will be participating in the Swiss-US Privacy Shield program and adhering to the Digital Advertising Alliance Self-Regulatory Principles for Online Behavioral Advertising.",

    "We hope you see value in these changes as we continue to improve your Twitter experience in a way that dovetails with our heartbeat as a company — a commitment to protecting and defending your privacy.",

    "If you have any questions, feel free to write to us <a href=\"{{_tl1}}https://support.twitter.com/forms/privacy{{/tl1}}\" class=\"blue\">here</a>.",
    
    "Thank you for using Twitter!",
   
    "-Twitter"
  ],
  "footer" : ["Help", "Settings", "Unsubscribe", "Download App"],
  "disclaimer" : "This email was generated for @" + mustache("{{#recipient}}{{screen_name}}{{/recipient}}","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}
Subject: 
{{ i10n(copy.subject) }}
 
Twitter 
{{ "> " + link.logo }}

=

{{ i10n(copy.title) }}

=

{{ i10n(copy.body[0]) }} {{ i10n(copy.body[1]) }} {{ i10n(copy.body[2]) }}

{{ i10n(copy.body[3]) }} {{ i10n(copy.body[4]) }}

{{ i10n(copy.body[5]) }} {{ i10n(copy.body[6]) }}

{{ i10n(copy.body[7]) }} {{ i10n(copy.body[8]) }}

{{ i10n(copy.body[9]) }}

{{ i10n(copy.body[10]) }}

{{ i10n(copy.body[11]) }} {{ i10n(copy.body[12]) }} {{ i10n(copy.body[13]) }} 

{{ i10n(copy.body[14]) }} 

=

{{ i10n(copy.footer[0]) }} 
{{ "> " + link.help }}

{{"{{>manhattan:static:address_twitter/plain_content}}"}}