{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis_2 = true %}

{# COPY #}
{% set copy = {
  "subject_line" : "Verify your email address.",
  "alt_logo" : "Twitter",
  "headline" : "Hi {{#recipient}}{{full_name}}{{/recipient}},",
  "body" : "Verify your email address to continue unlocking your account.",
  "cta" : "Verify now",
  "footer" : ["Need some help?"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "cta" : "{{confirm_code_button}}",
  "help" : "https://support.twitter.com/articles/82050"
} %}

Subject: {{ i10n(copy.subject_line) }}

Twitter {{ "<" + track(link.logo,1) + ">" }}

=
  
{{ i10n(copy.headline) }}

=

{{ i10n(copy.body) }}

{{ i10n(copy.cta) }} {{ "<" + track(link.cta,2) + ">" }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.help,3) + ">" }}

{{ copy.address }}