{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# BGCOLOR MAIN #}
{% set bgcolor_main = "#f5f8fa" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "text" : [
    "https://support.twitter.com/articles/204820",
    "https://www.consumer.ftc.gov/articles/0003-phishing"
  ],
  "help" : "https://support.twitter.com/",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {
  "subject" : "Important information from Vine about your account safety",
  "preheader" : "",
  "alt_logo" : "Twitter",
  "title" : "Update to our Privacy Policy",
  "body" : [
    "Dear @{{screen_name}},",

    "We are writing to let you know that we were alerted to — and immediately fixed — a bug that affected the Vine Archive for less than 24 hours.  This bug had the potential to expose the email address and phone number associated with a Vine account to third parties under certain circumstances.",

    "In our investigation, we discovered that the email address and phone number linked to your account were exposed.  We want to emphasize that this information can't directly be used to access your account, and we have no information indicating that it has been misused.  We take these incidents very seriously, and we're sorry this occurred.",

    "As a security best practice, we recommend that you be cautious if you receive emails or text messages from unknown senders.  Please keep in mind that Vine will only send you communications from support@twitter.com, and we will never send emails with attachments or request your password by email." ,

    "For more tips on how to avoid fake emails and stay safe online, read the Twitter <a href=\"" + tl(link.text[0]) + "\" class=\"blue\">Help Center</a> and the <a href=\"" + tl(link.text[1]) + "\" class=\"blue\">FTC's guide on phishing</a>.",

    "- Vine Support"
  ],
  "footer" : ["Help", "Settings", "Unsubscribe", "Download App"],
  "disclaimer" : "This email was generated for @" + mustache("{{#recipient}}{{screen_name}}{{/recipient}}","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "spacer_3_1" : prefix_img + "spacer_3_x_1-1480718996570.png",
  "logo_twitter" : prefix_img + "icon_twitter_blue.png",
  "icon" : prefix_img + "icon_follow_" + "1da1f2" + ".png"
} %}

{# CSS #}
{% block style %}
    .wrapper {
      min-width: 400px;
    }

    .h3 {
      line-height: 22px;
    }

    a {
      color: #1DA1F2;
    }

    .white a {
      color: #ffffff;
      text-decoration: none;
    }

    .a_deep_grey a {
      color: #8899A6;
    }

    .a_text_black a {
      color: #292F33;
    }

    .color {
      color: #1DA1F2;
    }

    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button_white {
      font-size: 12px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #1DA1F2; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 6px 23px; 
      border: 1px solid #ffffff;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    a.button_white_2 {
      font-size: 12px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #1DA1F2; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 6px 23px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    a.button {
      font-size: 12px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 6px 23px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }
{% endblock %}

{% block media_query %}
        .hide {
          display: none !important;
        }

        .width_full {
          width: 100% !important;
          min-width: 360px !important;
          height: auto !important;
        }

        .height_30 {
          height: 30px !important;
        }

        .dots {
          max-width: 100px !important;
    }
{% endblock %}

{% block style_custom %}
    <!--[if IE]>
    <style type="text/css" inline="false">
        /* Outlook 2000 - 2003 Canopy Image Fix */
        .canopy img {
            height: 154px !important;
        }
    </style>
    <![endif]-->
{% endblock %}

{% block body %}
  <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td class="empty center">
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" class="width_full center">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr> 
                  <td class="image empty center" align="center">
                    <a href="{{ tl(link.logo) }}">
                      <img src="{{ img.logo_twitter }}" width="32" alt="{{ copy.alt_logo }}" title="{{ copy.alt_logo }}" />
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" class="center">
          <tr>
            <td class="empty" height="1" bgcolor="#E1E8ED">
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" class="width_full center" bgcolor="#ffffff">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[1]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[2]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[3]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[4]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.body[5]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center"
          <tr>
            <td class="empty" height="1" bgcolor="#E1E8ED">>
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="450" class="width_full center" bgcolor="#ffffff">
          <tr>
            <td class="empty width_20" width="24">
              &nbsp;
            </td>
            <td class="empty">
              <table align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                <td class="footer strong deep_grey" align="center">
                  <a href="{{ link.help }}" class="color">
                    {{ i10n(copy.footer[0]) }}
                  </a>
                </td>
              </tr>
              <tr>
                <td class="empty" height="6">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td class="footer deep_grey center" align="center">
                  <span class="addressLink">{{"{{>manhattan:static:address_twitter/html_content}}"}}</span>
                </td>
              </tr>
              <tr>
                <td class="empty" height="72">
                  &nbsp;
                </td>
              </tr>
            </table>
          </td>
          <td class="empty width_20" width="24">
            &nbsp;
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr class="hide">
    <td class="empty hide" height="32">
      &nbsp;
    </td>
  </tr>
</table>
{% endblock %}