{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "blog" : "https://twitter.com/TwitterSupport/status/964635739517407232",
  "twitter" : "https://twitter.com",
  "help" : "https://support.twitter.com/articles/82050",
  "about" : "https://twitter.com/about",
  "download" : "https://twitter.com/download",
  "help" : "https://twitter.com/support",
  "settings" : "https://twitter.com/settings",
  "unsubscribe" : "{{unsubscribe}}",
  "help" : "https://support.twitter.com/",
  "not_my_account" : "{{not_my_account}}"
} %}

{# COPY #}
{% set copy = {
  "subject_line" : "Important Update on Twitter For Mac",
  "preheader" : "Starting 3/16 the Twitter for Mac app will not be supported.",
  "alt_logo" : "Twitter",
  "headline" : "Hi {{user_name}},",
  "body" : [
    "As part of our ongoing effort to streamline our apps and provide a more consistent and up-to-date Twitter experience across platforms, we are no longer supporting the Twitter for Mac app.",
    "On Friday February 16, we announced through @TwitterSupport that the app is no longer available for download, and starting March 16th will no longer be supported.",
    "But, not to worry, for the full Twitter experience on your Mac, visit Twitter on web.",
    "Twitter"
  ],
  "cta" : "Verify now",
  "footer" : ["About", "Settings", "Download App"],
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# BODY COPY MACRO / AUTO COUNTER #}
{% set count_body = 0 %}
{% macro cb() -%}
  {{ count_body|float }}
  {% set count_body = count_body + 1 %}
{%- endmacro %}
Subject: {{ copy.subject_line }}

Twitter 
{{ "> " + link.logo }}

=
  
{{ i10n(copy.headline) }}

{{ i10n(copy.body[cb()|float]) }}

{{ i10n(copy.body[cb()|float]) }}
{{ "> " + link.blog }}

{{ i10n(copy.body[cb()|float]) }}
{{ "> " + link.twitter }}

{{ i10n(copy.body[cb()|float]) }}

=

{{ copy.footer[0] }} 
{{ "> " + link.about }}

{{ copy.footer[1] }} 
{{ "> " + link.settings }}

{{ copy.footer[2] }} 
{{ "> " + link.download }}

{{ copy.address }}