{% include "includes/macros_notifications.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}
{% set ibis_2 = true %}

{# COPY #}
{% set copy = {
  "preheader" : "You have a new follower on Twitter.",
  "logo" : "Twitter",
  "title" : mustache(
    "@{{screen_name}}{{#lang_ja}} さん{{/lang_ja}}{{#lang_ko}} 님{{/lang_ko}}",
    "@c_dellosa"
    ) + ", meet your new follower",
  "cta_1" : "View profile",
  "name_real" : mustache(
    "{{{full_name}}}",
    "Jenny Qiu Hylbert"
  ),
  "name_screen" : mustache(
    "@{{screen_name}} {{#lang_ja}} さん{{/lang_ja}}{{#lang_ko}} 님{{/lang_ko}}",
    "@jqiu"
    ),
  "cta_2" : "Follow",
  "intro" : mustache(
    "{{{bio.get}}}",
    "Product Designer @twitter. Freakishly perceptive, quiety clownish. Co-found @postcardpoets. Previously @appl @svaixd"
    ),
  "location" : " - " + mustache(
    "{{location.get}}",
    "London, England"
    ),
  "number_following" : mustache(
    "{{ following_count }}",
    661
    ),
  "number_follower" : mustache(
    "{{ followers_count }}",
    549
    ),
  "following" : "Following",
  "follower" : "Followers",
  "footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com",
  "icon" : "https://twitter.com",
  "cta_1" : mustache(
    "{{#follows.recipientIsFollowingSender}}{{{userWrapper.profileUrl.get}}}{{/follows.recipientIsFollowingSender}}",
    "https://twitter.com"
    ),
  "profile" : mustache(
    "{{{userWrapper.profileUrl.get}}}",
    "https://twitter.com/jqiu"
    ),
  "profile_img" : mustache(
    "{{{userWrapper.profileUrl.get}}}",
    "https://twitter.com/jqiu"
    ),
  "cta_2" : mustache(
    "{{{sender.follow_autoaction_url}}}",
    "https://twitter.com"
    ),
  "about" : "https://about.twitter.com",
  "help" : "https://support.twitter.com/",
  "download" : "https://twitter.com/download"
} %}

Twitter {{ "<" + track(link.logo,1) + ">" }}

{{ i10n(copy.title) }}
  
{{ i10n(copy.cta_1) }} {{ "<" + track(link.cta_1,2) + ">" }}

=

{{ i10n(copy.name_real) }}
{{ i10n(copy.name_screen) }}

{{ mustache("{{^follows.recipientIsFollowingSender}}") }}{{ i10n(copy.cta_2) }} {{ "<" + track(link.cta_2,3) + ">" }}{{ mustache("{{/follows.recipientIsFollowingSender}}") }}

{{ mustache("{{#userWrapper}}{{#bio.isDefined}}") }}{{ i10n(copy.intro) }}{{ copy.location }}{{ mustache("{{/bio.isDefined}}{{/userWrapper}}") }}

{{ copy.number_following }} {{ i10n(copy.following) }}
{{ copy.number_follower }} {{ i10n(copy.follower) }}

=

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.about,5) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,6) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ copy.address }}