{%- include "includes/macros.html" -%}

{#- IBIS SWITCH -#}
{%- set ibis = true -%}

{#- COPY -#}
{%- set copy = {
  "title" : "Hi @" + signal("screen_name","Somebody"),
  "alt_hero" : "Hamster eating carrots",
  "headline_1" : "Get into the action",
  "copy_1" : "Twitter is a great place to get involved in conversations about topics you love. See an interesting Tweet? Quickly add your thoughts in just a few taps with Like, Retweet, and Reply.",
  "headline_2" : "Like",
  "subheadline_2" : "Say a lot with a little",
  "copy_2" : "When you see a Tweet you love, tap the heart. That way the person who wrote it knows you shared the love.",
  "headline_3" : "Retweet",
  "subheadline_3" : "Spread the word",
  "copy_3" : "The fastest way to share someone else's Tweet with your followers is with a Retweet. Tap the icon to send it instantly.",
  "headline_4" : "Reply",
  "subheadline_4" : "Join the conversation",
  "copy_4" : "You can add your thoughts about any Tweet with a Reply. Find a topic you're passionate about, and jump right in.",
  "recap" : "Take a look at some of the best videos on Twitter right now to get into the action.",
  "cta" : ["Watch now", "Try it now"],
  "footer" : ["Settings", "Help", "Unsubscribe"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} -%}

{#- LINKS -#}
{%- set link = {
  "logo" : "https://twitter.com?refsrc=email",
  "hero" : "https://twitter.com/twitter/timelines/741313691052736513?refsrc=email",
  "cta_1" : "https://twitter.com/twitter/timelines/741313691052736513?refsrc=email",
  "cta_2" : "https://twitter.com?refsrc=email",
  "settings" : "https://twitter.com/settings/notifications",
  "help" : "https://support.twitter.com/"
} -%}

Twitter {{ "<" + track(link.logo,1) + ">" }}

{{ i10n(copy.title) }}

=

{{ i10n(copy.alt_hero) }} {{ "<" + track(link.hero,2) + ">" }}

=

{{ i10n(copy.headline_1) }}

{{ i10n(copy.copy_1) }}

=

{{ i10n(copy.headline_2) }}

{{ i10n(copy.subheadline_2) }}

{{ i10n(copy.copy_2) }}

=

{{ i10n(copy.headline_3) }}

{{ i10n(copy.subheadline_3) }}

{{ i10n(copy.copy_3) }}

=

{{ i10n(copy.headline_4) }}

{{ i10n(copy.subheadline_4) }}

{{ i10n(copy.copy_4) }}

=

{{ signal("#lang_en", default="") }}
	{{ i10n(copy.cta[0]) }} {{ "<" + track(link.cta_1,3) + ">" }}
{{ signal("/lang_en", default="") }}
{{ signal("^lang_en", default="") }}
	{{ i10n(copy.cta[1]) }} {{ "<" + track(link.cta_2,3) + ">" }}
{{ signal("/lang_en", default="") }}

= 

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.settings,3) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,3) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ copy.address }}