{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
	"title" : "Hi @" + signal("screen_name","Somebody"),
	"alt_hero" : "Different ways to Tweet",
	"headline_1" : "Tweet anytime",
	"copy_1" : "There are many ways to create a Tweet, from a simple \"hello\" to an awesome GIF. Give your followers something to talk about.",
  "cta_1" : "Give it a try",
  "alt_hero_2" : "Caturday",
	"headline_2" : "Find your voice",
	"copy_2" : "Looking for something to Tweet about? Just search for your favorite topics to join a conversation about something you love.",
  "cta_2" : "Search now",
	"footer" : ["Settings", "Help", "Unsubscribe"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
	"address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "spacer" : prefix_img + "spacer-1476918453497.png",
  "logo" : prefix_img + "nux_basic_controls_logo_twitter-1476902212889.png",
  "hero" : prefix_img + "nux_create_hero-1477591889297.gif",
  "hero_2" : prefix_img + "nux_create_cats-1477527888223.png"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com?refsrc=email",
  "hero" : "https://twitter.com/intent/tweet?text=Hello%20world%20&refsrc=email",
  "hero_b" : "https://twitter.com/intent/tweet?refsrc=email",
  "cta_1" : "https://twitter.com/intent/tweet?text=Hello%20world%20&refsrc=email",
  "cta_1b" : "https://twitter.com/intent/tweet?refsrc=email",
  "hero_2" : "https://twitter.com/search?refsrc=email",
  "cta_2" : "https://twitter.com/search?refsrc=email",
  "settings" : "https://twitter.com/settings/notifications",
  "help" : "https://support.twitter.com/"
} %}

{# CSS #}
{% block style %}
    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 11px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }
{% endblock %}

{% block body %}
  {{ header(img.logo,track(link.logo,1), copy.title, "#1DA1F2") }}
  {{ signal("#lang_en") }}
    {{ hero(img.hero, track(link.hero,2), copy.alt_hero) }}
  {{ signal("/lang_en") }}
  {{ signal("^lang_en") }}
    {{ hero(img.hero, track(link.hero_b,2), copy.alt_hero) }}
  {{ signal("/lang_en") }}
  {{ card_begin() }}
  {{ card_spacer(48) }}
  {{ card_headline(copy.headline_1, "blue") }}
  {{ card_spacer(12) }}
  {{ card_copy(copy.copy_1, "deep_grey") }}
  {{ card_spacer(24) }}
  {{ signal("#lang_en") }}
    {{ card_cta(copy.cta_1, track(link.cta_1,3), "#1DA1F2") }}
  {{ signal("/lang_en") }}
  {{ signal("^lang_en") }}
    {{ card_cta(copy.cta_1, track(link.cta_1b,3), "#1DA1F2") }}
  {{ signal("/lang_en") }}
  {{ card_spacer(48) }}
  {{ card_end() }}
  {{ signal("#lang_en") }}
    {{ hero(img.hero_2, track(link.hero_2,4), copy.alt_hero_2) }}
  {{ signal("/lang_en") }}
  {{ card_begin() }}
  {{ signal("#lang_en") }}
    {{ card_spacer(48) }}
  {{ signal("/lang_en") }}
  {{ card_headline(copy.headline_2, "blue") }}
  {{ card_spacer(12) }}
  {{ card_copy(copy.copy_2, "deep_grey") }}
  {{ card_spacer(24) }}
  {{ card_cta(copy.cta_2, track(link.cta_2,5), "#1DA1F2") }}
  {{ card_spacer(48) }}
  {{ card_end() }}
  {{ footer([copy.footer[0], copy.footer[1], copy.footer[2], copy.address], [track(link.settings,6), track(link.help,7), "{{ unsubscribe }}" ], "blue") }}
{% endblock %}