{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = true %}

{# COPY #}
{% set copy = {
  "title" : "Hi @" + signal("screen_name","Somebody"),
  "alt_hero" : "Different ways to Tweet",
  "headline_1" : "Tweet anytime",
  "copy_1" : "There are many ways to create a Tweet, from a simple \"hello\" to an awesome GIF. Give your followers something to talk about.",
  "cta_1" : "Give it a try",
  "alt_hero_2" : "Caturday",
  "headline_2" : "Find your voice",
  "copy_2" : "Looking for something to Tweet about? Just search for your favorite topics to join a conversation about something you love.",
  "cta_2" : "Search now",
  "footer" : ["Settings", "Help", "Unsubscribe"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "logo" : "https://twitter.com?refsrc=email",
  "hero" : "https://twitter.com/intent/tweet?text=Hello%20world%20&refsrc=email",
  "hero_b" : "https://twitter.com/intent/tweet?refsrc=email",
  "cta_1" : "https://twitter.com/intent/tweet?text=Hello%20world%20&refsrc=email",
  "cta_1b" : "https://twitter.com/intent/tweet?refsrc=email",
  "hero_2" : "https://twitter.com/search?refsrc=email",
  "cta_2" : "https://twitter.com/search?refsrc=email",
  "settings" : "https://twitter.com/settings/notifications",
  "help" : "https://support.twitter.com/"
} %}

Twitter {{ "<" + track(link.logo,1) + ">" }}

{{ i10n(copy.title) }}

=
  
{{ signal("#lang_en") }}{{ i10n(copy.alt_hero) }} {{ "<" + track(link.hero,2) + ">" }}{{ signal("/lang_en") }}  
{{ signal("^lang_en") }}{{ i10n(copy.alt_hero) }} {{ "<" + track(link.hero_b,2) + ">" }}{{ signal("/lang_en") }}

=

{{ i10n(copy.headline_1) }}

{{ i10n(copy.copy_1) }}

{{ signal("#lang_en") }}{{ i10n(copy.cta_1) }} {{ "<" + track(link.cta_1,3) + ">" }}{{ signal("/lang_en") }}  
{{ signal("^lang_en") }}{{ i10n(copy.cta_1) }} {{ "<" + track(link.cta_1b,3) + ">" }}{{ signal("/lang_en") }}

=

{{ signal("#lang_en") }}{{ i10n(copy.alt_hero_2) }} {{ "<" + track(link.hero_2,2) + ">" }}

={{ signal("/lang_en") }}

{{ i10n(copy.headline_2) }}

{{ i10n(copy.copy_2) }}

{{ i10n(copy.cta_2) }} {{ "<" + track(link.cta_2,4) + ">" }}

=

{{ signal("#lang_en") }}{{ i10n(copy.alt_hero_2) }} {{ "<" + track(link.hero_2,4) + ">" }}

={{ signal("/lang_en") }}

{{ i10n(copy.footer[0]) }} {{ "<" + track(link.settings,5) + ">" }}

{{ i10n(copy.footer[1]) }} {{ "<" + track(link.help,6) + ">" }}

{{ i10n(copy.footer[2]) }} {{ "<{{ unsubscribe }}>" }}

{{ copy.address }}