{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = false %}

{# HERO COPY IMAGE HEIGHT #}
{% set hero_copy_height = 150 %}
{# THIS IS AUTO SET BY ABOVE #}
{% set hero_spacer_height = 366 - hero_copy_height - 119 %}
{% set hero_copy_height_mobile = (hero_copy_height * 0.65)|round %}
{% set hero_spacer_height_mobile = (hero_spacer_height * 0.65)|round %}

{# BGCOLOR MAIN #}
{% set bgcolor_main = "#ded0d3" %}

{# MAIN COLOR #}
{% set main_color = "#1DA1F2" %}

{# MOBILE FIX REMOVE SWITCH #}
{% set mobile_fix_remove = false %}

{# LINKS #}
{% set link = {
  "hero" : "https://twitter.com/i/live/913509107788689409?ref_src=twsrc%5Eemail%7Ctwcamp%5EGameAwards2017",  
  "text" : [  
    "https://twitter.com/thegameawards",
    "https://twitter.com/search?q=%23TheGameAwards&src=typd",
    "https://twitter.com/i/live/913509107788689409?ref_src=twsrc%5Eemail%7Ctwcamp%5EGameAwards2017"
  ],  
  "alt" : [  
    "https://twitter.com/thegameawards",
    "https://twitter.com/twitterlive"
  ],  
  "cta" : "https://twitter.com/i/live/913509107788689409?ref_src=twsrc%5Eemail%7Ctwcamp%5EGameAwards2017",
  "logo_twitter_large" : "https://twitter.com/",  
  "about" : "https://about.twitter.com",  
  "help" : "https://support.twitter.com/",  
  "download" : "https://twitter.com/download"
} %}

{# COPY #}
{% set copy = {   
  "subject" : [  
    "{{user_name}}, watch The Game Awards, Thursday, Dec 7 @ 8:30pm ET"
  ],  
  "preheader" : "Tonight, play is serious business.",
  "alt_hero" : "Roses are red. <br>Violets are violet. <br>These Tweets are sweet.",  
  "cta" : "See more ValenTweets",  
  "headline" : [  
    "♥️♥️ ValenTweets for ValenTimes ♥️♥️",
    "Thursday, December 7<br>8:30pm&nbsp;ET&nbsp;/&nbsp;5:30pm&nbsp;PT",
    "Watch it. Talk about it."
  ],  
  "body" : [  
    "Valentine's Day, also called Saint Valentine's Day or the Feast of Saint Valentine, is an annual holiday celebrated on February 14. It originated as a Western Christian liturgical feast day honoring one or more early saints named Valentinus, and is recognized as a significant cultural and commercial celebration in many regions around the world, although it is not a public holiday in any country.",
    "",
    "@thegameawards",
    "#thegameawards",
    "live.twitter.com/thegameawards",
    "Download Twitter and watch live video on the&nbsp;following&nbsp;devices:"
  ],  
  "alt" : [  
    "The Game Awards",
    "Twitter LIVE"
  ],   
  "apps" : [
    "Apple TV",
    "Google Play",
    "Roku",
    "Xbox One",
    "Windows 10",
    "Amazon Fire TV"
  ], 
  "footer" : ["About", "Help", "Unsubscribe", "Download App"],  
  "disclaimer" : "This email was meant for @" + signal("screen_name","Somebody") + ".", 
  "address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103" 
} %}  

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo_twitter" : prefix_img + "logo-1475170569504.png",
  "hero" : prefix_img + "demo_valentines-1513038837813.jpg",
  "hero_m" : prefix_img + "demo_valentines-1513038837813.jpg",
  "spacer" : prefix_img + "spacer.png",
  "spacer_1" : prefix_img + "spacer_640x1-1481059174655.png",
  "schedule" : prefix_img + "cm_20171207_gameawards_icon-1512166633227",
  "logo_twitter_large" : prefix_img + "dm_logo_twitter-1489534651038.png",
  "icon" : prefix_img + "cm_20171207_gameawards_icon-1512166633227.png",
  "spacer_2" : prefix_img + "spacer_3_x_1-1493416213665.png",
  "apps" : [
    prefix_img + "apps_line-1501197126309.png",
    prefix_img + "apps_apple-1501204946130.png",
    prefix_img + "apps_google-1501197126312.png",
    prefix_img + "apps_roku-1501204946153.png",
    prefix_img + "apps_xbox_one-1501197126317.png",
    prefix_img + "apps_windows-1501197126311.png",
    prefix_img + "apps_amazon-1501204946080.png"
  ]
} %}

{# CSS #}
{% block style %}
    .h1 {
      font-size: 42px;
      line-height: 50px;
      text-shadow: 2px 2px 2px #000000;
    }

    .h3 {
      font-size: 22px;
      line-height: 26px;
    }

    .download {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 12px;
      padding: 0px;
      margin: 0px;
      font-weight: 600;
      line-height: 16px;
    }

    td.button {
      -webkit-border-radius: 50px; 
      -moz-border-radius: 50px; 
      border-radius: 50px; 
      line-height: 18px;
    }

    a.button {
      font-size: 16px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 50px; 
      -moz-border-radius: 50px; 
      border-radius: 50px; 
      padding: 11px 30px; 
      border: 1px solid #E0245E;
      display: inline-block; 
      font-weight:600; 
      -webkit-font-smoothing: antialiased;
    }

    .button img {
      display: inline;
      vertical-align: top;
    }

    .body {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 22px;
    }

    .body_3 {
      font-family: 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust:none;
      font-size: 20px;
      padding: 0px;
      margin: 0px;
      font-weight: normal;
      line-height: 24px;
    }

    .justify {
      text-align: justify;
    }

    .apps img {
      white-space: nowrap;
      display: inline;
    }
{% endblock %}

{% block media_query %}
        .h1 {
          font-size: 24px !important;
          line-height: 28px !important;
          text-shadow: 2px 2px 2px #000000;
        }

        .show {
          overflow: visible !important;
          float: none !important;
          display: table !important;
          line-height: 100% !important;
        }

        .show_br {
          overflow: visible !important;
          float: none !important;
          display: inline !important;
        }

        .iospink a {
          text-decoration: underline;
          } 

        .width_full {
          width: 100% !important;
        }

        .width_90p {
          width: 90% !important;
        }

        .height_1 {
          height: 1px !important;
        }

        .height_30 {
          height: 30px !important;
        }

        .h3 {
          font-size: 16px !important;
          line-height: 20px !important;
        }

        .body_3 {
          font-size: 16px !important;
          line-height: 20px !important;
        }

        .schedule {
          width: 100% !important;
          max-width: 350px !important;
        }

        .download {
          padding: 0px 24px !important;
        }

        .hide {
          display: none !important;
        }
{% endblock %}

{% block body %}
  <style inline="false">
    .appleLinksWhite a {
      color: #ffffff !important; 
      text-decoration: none;
    } 
  </style>
  <table cellpadding="0" cellspacing="0" border="0" align="center" width="640" class="width_full" dir="{{ dir('ltr') }}">
    <tr>
      <td background="https://ea.twimg.com/email/self_serve/media/demo_valentines-1513038837813.jpg" bgcolor="#9f0d12" width="840" valign="top">
        <!--[if gte mso 9]>
        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:840px;height:315px;">
          <v:fill type="tile" src="https://ea.twimg.com/email/self_serve/media/demo_valentines-1513038837813.jpg" color="#9f0d12" />
          <v:textbox inset="0,0,0,0">
        <![endif]-->
        <div>
          <table align="{{ align('left') }}">
            <tr>
              <td style="padding: 48px;" class="h1 white" align="{{ align('left') }}">
                {{ i10n(copy.alt_hero) }}
              </td>
            </tr>
          </table>
        </div>
        <!--[if gte mso 9]>
          </v:textbox>
        </v:rect>
        <![endif]-->
      </td>
    </tr>
    <tr>
      <td class="empty" bgcolor="#fbedf0">
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="45">
              &nbsp;
            </td>
            <td class="empty">
              <table cellpadding="0" cellspacing="0" border="0" align="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="h3 text_black center" align="center" dir="{{ dir('ltr') }}">
                    {{ i10n(copy.headline[0]) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="body text_black" align="{{ align('left') }}" dir="{{ dir('ltr') }}">
                    {{ i10n(noWidow(copy.body[0])) }}
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td>
                    <table border="0" align="center" style="padding:0px;">
                      <tbody>
                        <tr>
                          <td class="empty" style="padding:0px;font-size:0px;line-height:1px;padding:0px;">
                            <table border="0" class="wrapper" style="padding:0px; width: 100%;">
                              <!-- header start -->
                              <tbody>
                                <tr>
                                  <td align="center" style="padding:0px;">
                                    <!--https://twitter.com/scribe/ibis?t=1&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+20-->
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%" class="full_tweet_box" align="center" style="padding:0px;border:1px solid #AAB8C2;background-color:#FFFFFF;border-radius:4px;">
                                      <tbody>
                                        <tr>
                                          <td>
                                            <a href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2FUniversalPicsAU%2Fstatus%2F936837343264174080%3Ft%=1%26cn%=ZmxleGlibGVfcmVjcw%25=%25=%26refsrc%=email%26iid%=26359e71d1e0458b9edde9bf98052100%26uid%=788063885026656256%26nid%=244%2B272961537&amp;t=1+1513041609543&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;sig=8b7c3783352a33a0361af2a4425dc4dba14712e1&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+272961537" style="text-decoration:none;">
                                              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding:0px;">
                                                <tbody>
                                                  <tr>
                                                    <td height="24" class="full_tweet_margin_tb" style="padding:0px;height:24px;">
                                                    </td>
                                                  </tr>
                                                  <!-- top margin -->
                                                  <tr>
                                                    <td style="padding:0px;">
                                                      <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding:0px;">
                                                        <tbody>
                                                          <tr>
                                                            <td width="24" class="full_tweet_margin_lr" style="padding:0px;width:24px;min-width:12px;">
                                                            </td>
                                                            <!-- left margin -->
                                                            <td style="padding:0px;">
                                                              <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding:0px;">
                                                                <tbody>
                                                                  <tr>
                                                                    <td style="padding:0px;">
                                                                      <!-- tweet content start -->
                                                                      <!--https://twitter.com/scribe/ibis?t=1&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+20-->
                                                                      <table cellpadding="0" cellspacing="0" border="0" width="100%" style="padding:0px;">
                                                                        <tbody>
                                                                          <tr>
                                                                            <td class="empty" valign="top" style="padding:0px;font-size:0px;line-height:1px;padding:0px;">
                                                                              <table width="100%" style="padding:0px;">
                                                                                <tbody>
                                                                                  <tr>
                                                                                    <td style="padding:0px;">
                                                                                      <!-- user identity start -->
                                                                                      <!--https://twitter.com/scribe/ibis?t=1&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+20-->
                                                                                      <table cellpadding="0" cellspacing="0" border="0" style="min-width:100%;width:100%;padding:0px;">
                                                                                        <tbody>
                                                                                          <tr>
                                                                                            <td width="32" style="padding:0px;">
                                                                                              <a href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2FUniversalPicsAU%3Ft%=1%26cn%=ZmxleGlibGVfcmVjcw%25=%25=%26refsrc%=email%26iid%=26359e71d1e0458b9edde9bf98052100%26uid%=788063885026656256%26nid%=244%2B272961549&amp;t=1+1513041609545&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;sig=a0c1b2a35e1220212452bbee6b6f09040b147a5f&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+272961549" style="text-decoration:none;">
                                                                                                <img alt="avatar" src="https://pbs.twimg.com/profile_images/3287607023/13fb0304195bae33489205ade448547d_reasonably_small.jpeg" width="32" height="32" class="user_avatar_img" style="border:none;padding:0px;width:32px;height:32px;border-radius:50%;" />
                                                                                              </a>
                                                                                            </td>
                                                                                            <td width="10" style="width:10px;padding:0px;">
                                                                                            </td>
                                                                                            <td style="padding:0px;">
                                                                                              <table cellpadding="0" cellspacing="0" border="0" style="padding:0px;" align="left">
                                                                                                <tbody>
                                                                                                  <tr>
                                                                                                    <td style="padding:0px;">
                                                                                                      <a class="user_name" href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2FUniversalPicsAU%3Ft%=1%26cn%=ZmxleGlibGVfcmVjcw%25=%25=%26refsrc%=email%26iid%=26359e71d1e0458b9edde9bf98052100%26uid%=788063885026656256%26nid%=244%2B272961549&amp;t=1+1513041609545&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;sig=a0c1b2a35e1220212452bbee6b6f09040b147a5f&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+272961549" style="text-decoration:none;font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:18px;font-weight:bold;color:#292F33;padding:0px;display:block;overflow:hidden;text-overflow:ellipsis;white-space:normal;"> Universal Pictures
                                                                                                        <img class="inline_img" src="https://ea.twimg.com/email/self_serve/media/ico_verified.png" width="14" height="14" style="width:14px;height:14px;vertical-align:top;border:none;display:inline-block;" />
                                                                                                      </a>
                                                                                                    </td>
                                                                                                  </tr>
                                                                                                  <tr>
                                                                                                    <td style="padding:0px;">
                                                                                                      <a class="user_handle" href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2FUniversalPicsAU%3Ft%=1%26cn%=ZmxleGlibGVfcmVjcw%25=%25=%26refsrc%=email%26iid%=26359e71d1e0458b9edde9bf98052100%26uid%=788063885026656256%26nid%=244%2B272961549&amp;t=1+1513041609545&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;sig=a0c1b2a35e1220212452bbee6b6f09040b147a5f&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+272961549" style="text-decoration:none;font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:16px;color:#657786;padding:0px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">@UniversalPicsAU
                                                                                                      </a>
                                                                                                    </td>
                                                                                                  </tr>
                                                                                                </tbody>
                                                                                              </table>
                                                                                            </td>
                                                                                          </tr>
                                                                                        </tbody>
                                                                                      </table>
                                                                                      <!-- user identity end -->
                                                                                    </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td class="empty" height="6" style="padding:0px;font-size:0px;line-height:1px;padding:0px;">
                                                                                    </td>
                                                                                  </tr>
                                                                                  <tr>
                                                                                    <td class="full_tweet_text" style="padding:0px;font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:18px;color:#31373B;padding:0px;"> Will they live happily ever after? Find out when
                                                                                      <a class="hashtag" href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2Fsearch%3Ft%=1%26cn%=ZmxleGlibGVfcmVjcw%25=%25=%26refsrc%=email%26iid%=26359e71d1e0458b9edde9bf98052100%26q%=%2523FiftyShadesFreed%26uid%=788063885026656256%26nid%=244%2B272961545&amp;t=1+1513041606943&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;sig=2edad671fd765cd69545925fa550da4f4c8d7794&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+272961545" style="text-decoration:none;color:#1da1f2;">#FiftyShadesFreed
                                                                                      </a> lands in cinemas
                                                                                      <a class="hashtag" href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2Fsearch%3Ft%=1%26cn%=ZmxleGlibGVfcmVjcw%25=%25=%26refsrc%=email%26iid%=26359e71d1e0458b9edde9bf98052100%26q%=%2523ValentinesDay%26uid%=788063885026656256%26nid%=244%2B272961545&amp;t=1+1513041606944&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;sig=a9006b9d89854580404034056142757498d989dc&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+272961545" style="text-decoration:none;color:#1da1f2;">#ValentinesDay
                                                                                      </a>
                                                                                    </td>
                                                                                  </tr>
                                                                                </tbody>
                                                                              </table>
                                                                            </td>
                                                                            <td width="12" style="padding:0px;">
                                                                            </td>
                                                                            <td class="empty image" width="75" valign="middle" style="padding:0px;font-size:0px;line-height:1px;padding:0px;">
                                                                              <table cellpadding="0" cellspacing="0" border="0" align="left" style="padding:0px;">
                                                                                <tbody>
                                                                                  <tr>
                                                                                    <td style="background-size: cover;padding:0px;border-radius:4px;" class="rounded_square" background="https://pbs.twimg.com/amplify_video_thumb/936432621587853314/img/nASnH3BTBbbG93R4.jpg:large">
                                                                                      <!--[if gte mso 9]>
                                                                                      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:75px;height:75px;">
                                                                                      <v:fill type="tile" src="https://pbs.twimg.com/amplify_video_thumb/936432621587853314/img/nASnH3BTBbbG93R4.jpg:large" color="#7bceeb"/>
                                                                                      <v:textbox inset="0,0,0,0">
                                                                                      <![endif]-->
                                                                                      <!-- permalink (and in MSO above) -->
                                                                                      <a href="https://twitter.com/i/redirect?url=https%3A%2F%2Ftwitter.com%2FUniversalPicsAU%2Fstatus%2F936837343264174080%3Ft%=1%26cn%=ZmxleGlibGVfcmVjcw%25=%25=%26refsrc%=email%26iid%=26359e71d1e0458b9edde9bf98052100%26uid%=788063885026656256%26nid%=244%2B272961536&amp;t=1+1513041609546&amp;cn=ZmxleGlibGVfcmVjcw%=%=&amp;sig=4a41f81f4bb154e76edb5c5b9119bce57d2b726b&amp;iid=26359e71d1e0458b9edde9bf98052100&amp;uid=788063885026656256&amp;nid=244+272961536" style="text-decoration:none;">
                                                                                        <!--[if gte mso 9]>
                                                                                        <img src="https://ea.twimg.com/email/self_serve/media/topic_play_btn_mso-1509660690286.png" height="75" width="75" style="width:75px; height:75px;"/>
                                                                                        <![endif]-->
                                                                                        <!--[if !gte mso 9]>
                                                                                        <!---->
                                                                                        <img src="https://ea.twimg.com/email/self_serve/media/topic_play_btn-1509660345338.png" height="75" width="75" style="border:none;" />
                                                                                        <!--
                                                                                        <![endif]-->
                                                                                      </a>
                                                                                      <!--[if gte mso 9]>
                                                                                      </v:textbox>
                                                                                      </v:rect>
                                                                                      <![endif]-->
                                                                                    </td>
                                                                                  </tr>
                                                                                </tbody>
                                                                              </table>
                                                                            </td>
                                                                          </tr>
                                                                        </tbody>
                                                                      </table>
                                                                      <!-- tweet content end -->
                                                                    </td>
                                                                  </tr>
                                                                </tbody>
                                                              </table>
                                                            </td>
                                                            <td width="24" class="full_tweet_margin_lr" style="padding:0px;width:24px;min-width:12px;">
                                                            </td>
                                                            <!-- right margin -->
                                                          </tr>
                                                        </tbody>
                                                      </table>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td height="24" class="full_tweet_margin_tb" style="padding:0px;height:24px;">
                                                    </td>
                                                  </tr>
                                                  <!-- bottom margin -->
                                                </tbody>
                                              </table>
                                            </a>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <table width="100%" height="24" class="full_tweet_margin_tb" style="padding:0px;height:24px;">
                                      <tbody>
                                        <tr>
                                          <td style="padding:0px;"> &nbsp;
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                                <!-- content end -->
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="24">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="empty" align="center">
                    <table border="0" cellspacing="0" cellpadding="0" align="center">
                      <tr>
                        <td align="center" class="button center" bgcolor="#E0245E" dir="{{ dir('ltr') }}">
                          <a href="{{ tl(link.cta) }}" target="_blank" class="button nowrap">
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            {{ i10n(copy.cta) }}
                            <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                          </a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="32">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="45">
              &nbsp;
            </td>
          </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f5f8fa" width="640" class="width_full">
          <tr>
            <td class="empty width_20" width="45">
              &nbsp;
            </td>
            <td class="empty center">
              <table align="center" class="center" dir="{{ dir('ltr') }}">
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer strong deep_grey center" align="center" dir="{{ dir('ltr') }}">
                    <a href="{{ tl(link.about,7) }}" class="pink">
                      {{ i10n(copy.footer[0]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ tl(link.help,8) }}" class="pink">
                      {{ i10n(copy.footer[1]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ '{{ unsubscribe }}' }}" class="pink">
                      {{ i10n(copy.footer[2]) }}
                    </a>
                    &nbsp;|&nbsp;
                    <a href="{{ tl(link.download,9) }}" class="pink">
                      {{ i10n(copy.footer[3]) }}
                    </a>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="12">
                    &nbsp;
                  </td>
                </tr>
                <tr>
                  <td class="footer deep_grey center" align="center">
                    <span class="addressLink">{{"{{>manhattan:static:address_twitter/html_content}}"}}</span>
                  </td>
                </tr>
                <tr>
                  <td class="empty" height="72">
                    &nbsp;
                  </td>
                </tr>
              </table>
            </td>
            <td class="empty width_20" width="45">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}