{% extends "includes/layout.html" %}
{% include "includes/macros.html" %}

{# IBIS SWITCH #}
{% set ibis = false %}

{# COLOR SWITCH #}
{% set color = "green" %}
{% set icon_type = "retweet" %}

{# COPY #}
{% set copy = {
  "preheader" : "Check out our top videos of the week and choose your favorite to pass along.",
	"title" : "Hi @" + signal("screen_name","Somebody"),
  "hero" : "Streaming LIVE on Twitter: PGA TOUR LIVE | Thursday and Friday 7am ET | #PGATOUR | pgatourlive.twitter.com",
	"cta" : "Start Watching",
	"footer" : ["About", "Help", "Unsubscribe", "Download app"],
  "disclaimer" : "This email was generated for @" + signal("screen_name","Somebody") + ".",
	"address" : "Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103"
} %}

{# LINKS #}
{% set link = {
  "cta" : "https://twitter.com/",
  "download" : "https://twitter.com"
} %}

{# IMAGES #}
{% set prefix_img = "https://ea.twimg.com/email/self_serve/media/" %}
{% set img = {
  "logo" : prefix_img + "logo-1475170569504.png",
  "hero" : prefix_img + "sample_hero-1489119095855.png",
  "hero_copy" : prefix_img + "sample_hero_copy-1489119122172.png"
} %}

{# CSS #}
{% block style %}
    td.button {
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      line-height: 18px;
    }

    a.button {
      font-size: 14px; 
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
      color: #ffffff; 
      text-decoration: none;
      -webkit-border-radius: 4px; 
      -moz-border-radius: 4px; 
      border-radius: 4px; 
      padding: 13px 30px; 
      border: 1px solid #1DA1F2;
      display: inline-block; 
      font-weight:bold; 
      -webkit-font-smoothing: antialiased;
    }

    .hero-copy {
      font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #000000;
      font-size: 20px;
      line-height: 24px;
    }
{% endblock %}

{% block media_query %}
        .width_full {
          width: 100% !important;
        }

        #hero {
          background-image: url({{ img.hero }}) !important;
          background-size: cover !important;
        }

        .hero_copy {
          height: 75% !important;
        }

        .height_30 {
          height: 30px !important;
        }

        .height_12 {
          height: 12px !important;
        }

        .height_16 {
          height: 16px !important;
        }

        a.button {
          font-size: 12px !important; 
          padding: 9px 14px !important; 
        }

        .hide {
          display: none !important;
        }

        .show {
          display: table !important;
        }
{% endblock %}

{% block body %}
        <table class="show" style="display: none" width="100" height="100" align="center" bgcolor="#ff0000">
          <tr>
            <td valign="center" class="h1 white">
              WORKS!
            </td>
          </tr>
        </table>
{% endblock %}