{% set icons = {
	"icon_dm_blue" : "icon_dm_blue-1478031931388.png",
	"icon_dm_green" : "icon_dm_green-1478031931386.png",
	"icon_dm_orange" : "icon_dm_orange-1478031931388.png",
	"icon_dm_pink" : "icon_dm_pink-1478031931388.png",
	"icon_dm_purple" : "icon_dm_purple-1478031931388.png",
  "icon_dm_yellow" : "icon_dm_yellow-1478031931386.png",

  "icon_follow_blue" : "icon_follow_blue-1478031931767.png",
  "icon_follow_green" : "icon_follow_green-1478031931778.png",
  "icon_follow_orange" : "icon_follow_orange-1478031931773.png",
  "icon_follow_pink" : "icon_follow_pink-1478031931776.png",
  "icon_follow_purple" : "icon_follow_purple-1478031931790.png",
  "icon_follow_yellow" : "icon_follow_yellow-1478031931790.png",

  "icon_like_blue" : "icon_like_blue-1478031931851.png",
  "icon_like_green" : "icon_like_green-1478031931857.png",
  "icon_like_orange" : "icon_like_orange-1478031931857.png",
  "icon_like_pink" : "icon_like_pink-1478031931859.png",
  "icon_like_purple" : "icon_like_purple-1478031931857.png",
  "icon_like_yellow" : "icon_like_yellow-1478031931936.png",

  "icon_reply_blue" : "icon_reply_blue-1478031931936.png",
  "icon_reply_green" : "icon_reply_green-1478031931939.png",
  "icon_reply_orange" : "icon_reply_orange-1478031931937.png",
  "icon_reply_pink" : "icon_reply_pink-1478031931956.png",
  "icon_reply_purple" : "icon_reply_purple-1478031931952.png",
  "icon_reply_yellow" : "icon_reply_yellow-1478031931994.png",

  "icon_retweet_blue" : "icon_retweet_blue-1478031931994.png",
  "icon_retweet_green" : "icon_retweet_green-1478031931996.png",
  "icon_retweet_orange" : "icon_retweet_orange-1478031932001.png",
  "icon_retweet_pink" : "icon_retweet_pink-1478031932038.png",
  "icon_retweet_purple" : "icon_retweet_purple-1478031932041.png",
  "icon_retweet_yellow" : "icon_retweet_yellow-1478031932079.png"
} %}