{# IBIS MACROS #}
{# INTERNATIONALIZATION MACRO #}
{% macro i10n(copy) -%}
  {% if ibis_2 == true -%}
    {{ "{{#i}}" + copy + "{{/i}}" }}
  {%- elif ibis == true -%}
    {{ "{{_i}}" + copy + "{{/i}}" }}
  {%- else -%}
    {{ copy }}
  {%- endif %}
{%- endmacro %}

{# LINK TRACK MACRO #}
{% macro track(url,number) -%}
  {% if ibis_2 == true -%}
    {{ "{{#tl" + number + "}}" + url + "{{/tl" + number + "}}" }}
  {%- elif ibis == true -%}
    {{ "{{_tl" + number + "}}" + url + "{{/tl" + number + "}}" }}
  {%- else -%}
    {{ url }}
  {%- endif %}
{%- endmacro %}

{# LINK TRACK MACRO #}
{% macro trackm(url,number) -%}
  {% if ibis_2 == true -%}
    {{ "{{#tlm" + number + "}}" + url + "{{/tlm" + number + "}}" }}
  {%- elif ibis == true -%}
    {{ "{{_tlm" + number + "}}" + url + "{{/tlm" + number + "}}" }}
  {%- else -%}
    {{ url }}
  {%- endif %}
{%- endmacro %}

{# IBIS SIGNAL MACRO #}
{% macro signal(signal, default="") -%}
  {% if ibis_2 == true -%}
    {{ "{{" + signal + "}}" }}
  {%- else -%}
    {{ default }}
  {%- endif %}
{%- endmacro %}

{% macro mustache(mustache, default="") -%}
  {% if ibis_2 == true -%}
    {{ mustache }}
  {%- else -%}
    {{ default }}
  {%- endif %}
{%- endmacro %}

{# IBIS ALIGN / RTL MUSTACHE #}
{%- macro align(direction) -%}
  {#- IBIS RTL MUSTACHE -#}
  {%- set ibis_rtl = "{{^is_rtl}}left{{/is_rtl}}{{#is_rtl}}right{{/is_rtl}}" -%}
  {%- set ibis_rtl_switch = "{{^is_rtl}}right{{/is_rtl}}{{#is_rtl}}left{{/is_rtl}}" -%}
  {%- set align_left = mustache(ibis_rtl,'left') -%}
  {%- set align_right = mustache(ibis_rtl_switch,'right') -%}
  {% if direction == "left" -%}
    {{ align_left }}
  {%- else -%}
    {{ align_right }}
  {%- endif %}
{%- endmacro -%}

{%- macro dir(direction) -%}
  {#- IBIS RTL MUSTACHE -#}
  {%- set ibis_rtl = "{{^is_rtl}}ltr{{/is_rtl}}{{#is_rtl}}rtl{{/is_rtl}}" -%}
  {%- set ibis_rtl_switch = "{{^is_rtl}}rtl{{/is_rtl}}{{#is_rtl}}ltr{{/is_rtl}}" -%}
  {%- set align_left = mustache(ibis_rtl,'ltr') -%}
  {%- set align_right = mustache(ibis_rtl_switch,'rtl') -%}
  {% if direction == "ltr" -%}
    {{ align_left }}
  {%- else -%}
    {{ align_right }}
  {%- endif %}
{%- endmacro -%}

{# CURLY APPOSTROPHE REMOVER REMOVER MACRO #}
{% macro pt(copy) -%}
  {{ copy|replace("‘","\'")|replace("’","\'")|replace("“","\"")|replace("”","\"")|replace("&mdash;","--") }}
{%- endmacro %}

{# WIDOW REMOVAL MACRO #}
{%- macro noWidow(sentence) -%}
  {%- set newWord = "" -%}
  {%- set newSentence = [] -%}
  {%- set word = "" -%}
  {%- set counter = 0 -%}
  {%- for char in sentence -%}
    {%- if char == " " -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
      {%- set newWord = "" -%}
    {%- elif loop.last -%}
      {%- set newWord = newWord + char -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
    {%- else -%}
      {%- set newWord = newWord + char -%}
    {%- endif -%}
  {%- endfor -%}
  {% for word in newSentence -%}
    {%- if (newSentence|length - counter) == 2 -%}
      {{ word + "&nbsp;" }}
    {%- elif loop.last -%}
      {{ word }}
    {%- else -%}
      {{ word + " " }}
    {%- endif -%}
    {%- set counter = counter + 1 -%}
  {%- endfor -%}{{ word }}
{%- endmacro -%}

{# ADDRESS FIX for iOS and GMAIL MACRO #}
{%- macro fixAddress(sentence) -%}
  {%- set newWord = "" -%}
  {%- set newSentence = [] -%}
  {%- set word = "" -%}
  {%- set counter = 0 -%}
  {%- for char in sentence -%}
    {%- if char == " " -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
      {%- set newWord = "" -%}
    {%- elif loop.last -%}
      {%- set newWord = newWord + char -%}
      {%- set newSentence = (newSentence.push(newWord),newSentence) -%}
    {%- else -%}
      {%- set newWord = newWord + char -%}
    {%- endif -%}
  {%- endfor -%}
  {% for word in newSentence -%}
    {%- if loop.last -%}
      {{ word }}
    {%- elif (newSentence|length - counter) < 5 -%}
      {{ word + "&nbsp;" }}
    {%- else -%}
      {{ word + " &#65279;" }}
    {%- endif -%}
    {%- set counter = counter + 1 -%}
  {%- endfor -%}{{ word }}
{%- endmacro -%}

{% macro ibisAddress(format=html) -%}
  {% if ibis_2 == true -%}
    {% if format == "pt" -%}
      Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103
    {% else %}
      <span class="addressLink">
          Twitter, &#65279;Inc. &#65279;1355 &#65279;Market &#65279;Street, &#65279;Suite &#65279;900 San&nbsp;Francisco,&nbsp;CA&nbsp;94103
      </span>
    {%- endif %}
  {%- elif ibis == true -%}
    {% if format == "pt" -%}
        {{"{{#region_us}}"}}Twitter, Inc. 1355 Market Street, Suite 900 San Francisco, CA 94103{{"{{/region_us}}{{^region_us}}"}}Twitter International Company, The Academy, 42 Pearse Street, Dublin 2, Ireland.{{"{{/region_us}}"}}
    {% else %}
      <span class="addressLink">
        {{"{{#region_us}}"}}
          Twitter, &#65279;Inc. &#65279;1355 &#65279;Market &#65279;Street, &#65279;Suite &#65279;900 San&nbsp;Francisco,&nbsp;CA&nbsp;94103
        {{"{{/region_us}}{{^region_us}}"}}
          Twitter &#65279;International &#65279;Company, &#65279;The &#65279;Academy, 42&nbsp;Pearse&nbsp;Street,&nbsp;Dublin&nbsp;2,&nbsp;Ireland.
        {{"{{/region_us}}"}}
      </span>
    {%- endif %}
  {%- else -%}
    {{ copy }}
  {%- endif %}
{%- endmacro %}

{# TEMPLATE MACROs #}
{% macro header_begin(color) %}
          <!-- HEADER START -->
          <table cellpadding="0" cellspacing="0" border="0" width="100%" align="center" bgcolor="{{ color }}">
            <tr>
              <td class="empty">
                <table cellpadding="0" cellspacing="0" border="0" width="496" align="center" class="width_full">
                  <!--[if gte mso 9]>
                  <tr>
                    <td colspan="3">
                      <img src="https://ea.twimg.com/email/self_serve/media/spacer_560_x_1-1478717885230.png" class="width_full"/>
                    </td>
                  </tr>
                  <![endif]-->
                  <tr>
                    <td class="empty width_24" width="24">
                      <!--[if gte mso 9]>
                      <img src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1" width="48" />
                      <![endif]-->
                    </td>
                    <td class="empty" align="center">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
{% endmacro %}

{% macro header_spacer(height) %}
                        <tr>
                          <td class="empty" height="{{ height }}">
                            &nbsp;
                          </td>
                        </tr>
{% endmacro %}

{% macro header_title(copy, alignment="center", link="") %}
                        <tr>
                          <td class="h1 white" align="{{ alignment }}">
                            {% if link != "" %}
                              <a href="{{ link }}" target="blank" class="white">
                                {{ copy }}
                              </a>
                            {% else %}
                              {{ copy }}
                            {% endif %}
                          </td>
                        </tr>
{% endmacro %}

{% macro header_icon(icon, link, height="24", alignment="center", alt_logo="") %}
                        <tr>
                          <td class="empty image" align="{{ alignment }}">
                            <a href="{{ link }}" target="blank">
                              <img src="{{ icon }}" height="{{ height }}" alt="{{ alt_logo }}" title="{{ alt_logo }}"/>
                            </a>
                          </td>
                        </tr>
{% endmacro %}

{% macro header_cta(copy, link, alignment="center") %}
                  <!-- BUTTON -->
                  <tr>
                    <td class="empty" align="{{ alignment }}">
                      <table border="0" cellspacing="0" cellpadding="0" align="{{ alignment }}">
                        <tr>
                          <td align="center" class="button" bgcolor="#ffffff">
                            <a href="{{ link }}" target="_blank" class="button_white">
                              <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                              {{ i10n(copy) }}
                              <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
{% endmacro %}

{% macro header_end() %}
                      </table>
                    </td>
                    <td class="empty width_24" width="24">
                      <!--[if gte mso 9]>
                      <img src="https://ea.twimg.com/email/self_serve/media/spacer-1476918453497.png" height="1" width="48" />
                      <![endif]-->
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- HEADER END -->
{% endmacro %}

{% macro spacer(height) %}
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
            <tr>
              <td class="empty" height="{{ height }}">
                &nbsp;
              </td>
            </tr>
          </table>
{% endmacro %}

{% macro card(copy,img,link,color) %}
          <!-- CARD START -->
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="464" class="width_full">
            <tr>
              <td class="empty width_24" width="0"></td>
              <td class="empty">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="464" class="width_full rounded">
                  <tr>
                    <td class="empty canopy rounded_top" align="center" valign="top" colspan="3" >
                      {{ mustache("{{#profile_banner_url.isDefined}}<img src=\"{{profile_banner_url.get}}\" width=\"464\" class=\"width_full rounded_top\" />{{/profile_banner_url.isDefined}}{{^profile_banner_url.isDefined}}")}}
                        <img src="{{ img.canopy }}" width="464" class="width_full rounded_top" />
                      {{ mustache("{{/profile_banner_url.isDefined}}")}}
                    </td>
                  <tr>
                  <tr>
                    <td class="empty" align="center" valign="top">
                      <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                        <td class="empty width_24" width="18">
                          &nbsp;
                        </td>
                        <td class="empty">
                          <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                            <tr>
                              <td class="empty" height="12">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td class="empty">
                                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                  <tr>
                                    <td class="empty" align="left" width="75">
                                      <a href="{{ track(link.profile_img,3) }}">
                                        <img src="{{ img.profile }}" width="75" class="rounded"/>
                                      </a>
                                    </td>
                                    <td class="empty" width="12">
                                      &nbsp;
                                    </td>
                                    <td class="empty" valign="middle">
                                      <table cellpadding="0" cellspacing="0" border="0" align="left">
                                        <!--[if gte mso 9]>
                                        <tr>
                                          <td height="10">
                                            &nbsp;
                                          </td>
                                        </tr>
                                        <![endif]-->
                                        <tr>
                                          <td class="h3 text_black" align="left">
                                            <a href="{{ track(link.profile_img,3) }}" class="h3 text_black dots" style="display: block; overflow: hidden; text-decoration: none; white-space: nowrap; width: 220px; text-overflow: ellipsis;">{{ copy.name_real }}</a>
                                          </td>
                                        </tr>
                                        <tr>
                                          <td class="body deep_grey" align="left">
                                            <a href="{{ track(link.profile_img,3) }}" class="body deep_grey dots" style="display: block; overflow: hidden; text-decoration: none; white-space: nowrap; width: 220px; text-overflow: ellipsis;">
                                              {{ copy.name_screen }}
                                            </a>
                                          </td>
                                        </tr>
                                      </table>
                                    </td>
                                    <td class="empty" width="5">
                                      &nbsp;
                                    </td>
                                    <td class="empty" valign="middle">
                                      {{ mustache("{{^follows.recipientIsFollowingSender}}") }}
                                      <table border="0" cellspacing="0" cellpadding="0" align="right">
                                        <!--[if gte mso 9]>
                                        <tr>
                                          <td height="10">
                                            &nbsp;
                                          </td>
                                        </tr>
                                        <![endif]-->                                      
                                        <tr>
                                          <td align="center" class="button" bgcolor="#ffffff" valign="middle">
                                            <a href="{{ track(link.cta_2,4) }}" target="_blank" class="button_white_2 nowrap">
                                              <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                              <img src="{{ img.icon }}" class="inline valign" height="14"/>&nbsp;&nbsp;{{ i10n(copy.cta_2) }}
                                              <!--[if gte mso 11]>&nbsp; &nbsp; &nbsp;<![endif]-->
                                            </a>
                                          </td>
                                        </tr>
                                      </table>
                                      {{ mustache("{{/follows.recipientIsFollowingSender}}") }}
                                    </td>
                                  </tr>
                                </table>
                              </td>
                            </tr>
                            {{ mustache("{{#userWrapper}}{{#bio.isDefined}}") }}
                            <tr>
                              <td class="empty" height="18">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td class="body text_black" height="18" align="left">
                                {{ i10n(copy.intro) }} {{ copy.location }}
                              </td>
                            </tr>
                            {{ mustache("{{/bio.isDefined}}{{/userWrapper}}") }}
                            <tr>
                              <td class="empty" height="18">
                                &nbsp;
                              </td>
                            </tr>
                            <tr>
                              <td class="body deep_grey" height="18" align="left">
                                <strong>{{ copy.number_following }}</strong> {{ i10n(copy.following) }} &nbsp;<strong>{{ copy.number_follower }}</strong> {{ i10n(copy.follower) }}
                              </td>
                            </tr>
                            <tr>
                              <td class="empty" height="24">
                                &nbsp;
                              </td>
                            </tr>
                          </table>
                        </td>
                        <td class="empty width_24" width="18">
                          &nbsp;
                        </td>
                      </table>
                    </td>
                  <tr>
                </table>  
              </td>
              <td class="empty width_24" width="0"></td>
            </tr> 
          </table>
          <!-- CARD END -->
{% endmacro %}

{% macro footer(copy,links,color) %}
          <!-- FOOTER START -->
          <table cellpadding="0" cellspacing="0" border="0" align="center" width="560" class="width_full" bgcolor="#f5f8fa">
            <tr>
              <td class="empty" width="20">&nbsp;</td>
              <td class="empty" align="center">
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                  <tr>
                    <td class="empty" height="72">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td class="supporting deep_grey" align="center">
                      <a href="{{ links[0] }}" class="{{ color }}">
                        {{ i10n(copy[0]) }}
                      </a>
                      &nbsp;|&nbsp;
                      <a href="{{ links[1] }}" class="{{ color }}">
                        {{ i10n(copy[1]) }}
                      </a>
                      &nbsp;|&nbsp;
                      <a href="{{ links[2] }}" class="{{ color }}">
                        {{ i10n(copy[2]) }}
                      </a>
                      {% if copy[4] %}
                        &nbsp;|&nbsp;
                        <a href="{{ links[3] }}" class="{{ color }}">
                          {{ i10n(copy[4]) }}
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td class="empty" height="24">
                      &nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td class="footer deep_grey" align="center">
                      <span class="addressLink">{{ fixAddress(copy[3]) }}</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="empty" height="72">
                      &nbsp;
                    </td>
                  </tr>
                </table>
              </td>
              <td class="empty" width="20">&nbsp;</td>
            </tr>
            <!--[if gte mso 9]>
            <tr>
              <td colspan="3">
                <img src="https://ea.twimg.com/email/self_serve/media/spacer_560_x_1-1478717885230.png" class="width_full"/>
              </td>
            </tr>
            <![endif]-->
          </table>
          <!-- FOOTER END -->
{% endmacro %}